<apex:page controller="CnP_PaaS.SettingsController" action="{!loadhelpContent}">
<style>
.helpLink {
       position:relative;       
    }
.Stages input{
    margin-top: 0px;
}
/*.ItemEditOption{
    display: inline-block;
    width: 132px;
}*/
/*.ItemEditOption Input[type='text']{
    margin-right: 5px;
    width: 100px;
}*/
.Stages label{
    display:inline;
    margin-left:5px;
}
   /* .video{
      display:none;
      width:12%;
      height:auto; 
      background:#EEE;
      border:1px solid #CCC;
      position:absolute;     
      z-index:10;
      margin-left:920Px;
    }*/
 
.sample th{
    font-weight:normal;
}
.skualg div {
    margin-left:20px;
}
    .radio input[type="radio"]
    {
     // margin-left:40px;
    }

    #RecurringSec{
    position: absolute;
    width: 920px;
    }
    .reclabel{
        width: 111px;
        display: block;
        float: left;
    }
    body .bPageBlock .pbBody .labelCol {
    
    font-weight:normal;
    font-size:12px;
    
    }
.btn1{
    color:#333;
    margin: 1px;
    padding: 4px 3px;
    border: 1px solid #B5B5B5;
    border-bottom-color: #7F7F7F;
    background: #E8E8E9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
    font-weight: bold;
    font-size: .9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration:none;
}
.btn1 a hover{
   text-decoration:none;
}

 .dataTables_wrapper{
   width:50%;
} 
.vttable input{
    margin-top: 0px;
}
.vttable label{
    display: inline;
    margin-left: 5px;
}
.bPageBlock .detailList .labelCol{
    width: 207px;
}
.bPageBlock .detailList .dataCol,
.bPageBlock .detailList .data2Col{
    width: initial;
}
</style>
<script>
function addItemvtprocess(){
    
              processstart();
            addItemvtsetting();
   }
   
   function deletecustions(val1,val2){
   if(confirm("Are you sure you want to delete this record?")==true){
       processstart();
       deletecustionsaction(val1,val2);
       }
   }
   
   function delVTTable(val1,val2){
      if(confirm("Are you sure you want to delete this record?")==true){
          processstart();
          delVTTableaction(val1,val2);
      }
   }
function checkvalue(){
     var vt = 0;    
     var rowvaluesVt = $(".rowvaluesVt").val();
      var emaildata=$.trim($(".internalemaillist").val());
      var reg_email = /^([A-Za-z0-9_\-\+\.\!\#\$\%\&\'\*\/\=\?\^\`\{\|\}\~])+\@([A-Za-z0-9\-\.])+\.([A-Za-z]{2,4})$/;
      
      
         /******* 8.3074 *****/
    
      var strProcesstype = $(".strProcesstype").val();
      var blnProcesstype = $(".blnProcesstype").is(':checked');
      var blnCnpaccountnumber = $(".blnCnpaccountnumber").is(':checked');
      var strdefaultoption = $(".strdefaultoption").val();
      var blnPaymentfor = $(".blnPaymentfor").is(':checked');
      var blnSku = $(".blnSku").is(':checked');
      var blnQuantity  = $(".blnQuantity").is(':checked');
      var strQuantityvalue  = $(".strQuantityvalue").val();
      var blnUnitprice = $(".blnUnitprice").is(':checked');
      var blnUnittaxdeductible = $(".blnUnittaxdeductible").is(':checked');
      var blnUnitDiscount = $(".blnUnitDiscount").is(':checked');
      var blnShippingvalue = $(".blnShippingvalue").is(':checked');
      var blnUnitTax = $(".blnUnitTax").is(':checked');
      var blnItemcampaign = $(".blnItemcampaign").is(':checked');
      var strItemcampaign = $(".strItemcampaign").val();
      var blnConveniencefee = $(".blnConveniencefee").is(':checked');
      var strDefaultCountry = $(".strDefaultCountry").val();
      var strDefaultState = $(".strDefaultState").val();
      var blnShipping = $(".blnShipping").is(':checked');
      var blnSameasbilling = $(".blnSameasbilling").is(':checked');
      var blnTrackerTab = $(".blnTrackerTab").is(':checked');
      var blnTracker = $(".blnTracker").is(':checked');
      var blnTransactionCampaign = $(".blnTransactionCampaign").is(':checked');
      var blnRecurringTab = $(".blnRecurringTab").is(':checked');
      var blnRecurring = $(".blnRecurring").is(':checked');
      var blnRecurringType = $(".blnRecurringType").is(':checked');
      var blnPeriodicity = $(".blnPeriodicity").is(':checked');
      var blnNoofInstallments = $(".blnNoofInstallments").is(':checked');
      var blnEnddate = $(".blnEnddate").is(':checked');
      var blnChargedate = $(".blnChargedate").is(':checked');
      var blnEntrymode = $(".blnEntrymode").is(':checked');
      var strEntryModevalue = $(".strEntryModevalue").val();
      var blnReceiptCustomization = $(".blnReceiptCustomization").is(':checked');
      var blnSendemail = $(".blnSendemail").is(':checked');
      var blnOrganizationinformation = $(".blnOrganizationinformation").is(':checked');
      var blnThankyoumessage = $(".blnThankyoumessage").is(':checked');
      var blnTerms_Conditions = $(".blnTerms_Conditions").is(':checked');
      var blnInternalnotification = $(".blnInternalnotification").is(':checked');
      var blnAdditionalQuestion = $(".blnAdditionalQuestion").is(':checked');      
      
    /******* 8.3074 *****/
    var reg_quantity=/^([0-9])+$/; 
        
      
     for(var i=0;i<rowvaluesVt;i++){
         var payfor = $.trim(($(".payfor"+i).val()));
         var amtfor = ($(".amtfor"+i).val());
         var dcfor = ($(".dcfor"+i).val());
         var deductfor = ($(".deductfor"+i).val());
         var taxfor = ($(".taxfor"+i).val());
         var skufor = $.trim(($(".skufor"+i).val()));
         var quantityfor = ($(".quantityfor"+i).val());
         var campaign1 = ($(".campaign1"+i).val()); 
         var reg_sku=/^([a-zA-Z0-9\-\_\:\ ])+$/;
           
           
          //var reg_email = /^([A-Za-z0-9_\-\+\.\!\#\$\%\&\'\*\/\=\?\^\`\{\|\}\~])+\@([A-Za-z0-9\-\.])+\.([A-Za-z]{2,4})$/;
           
	      /* if(payfor=='' && amtfor=='' && dcfor=='' && deductfor=='' && taxfor==''){    
	            vt=1;     
	            alert("Please Enter atleast one value for setting default items");
	            $(".payfor"+i).focus();
	            return false;
	       }*/
      
	       if(payfor==''){
	             vt=1;
	             alert("Please enter Payment for");
	             $(".payfor"+i).focus();
	             return false;
	       }
	       
	       if(payfor!='' && payfor.length<2){
	                vt=1; 
	                alert("Please enter atleast two characters in Payment for");
	                $(".payfor"+i).focus();
	                return false;
	        }
	        
	       /* if(skufor==''){
	             vt=1;
	             alert("Please enter SKU");
	             $(".skufor"+i).focus();
	             return false;
	       }  */      
        if(skufor!='' && !reg_sku.test(skufor)){
                vt=1; 
                 alert("Please Enter a valid data in SKU ");
                 $(".skufor"+i).focus();
                 return false;
            } 
            
            /* if(quantityfor==''){
                 vt=1;
                 alert("Please enter Quantity");
                 $(".quantityfor"+i).focus();
                 return false;
            }  */    
            if(quantityfor!='' && isNaN(quantityfor)){
                  vt=1; 
                  alert("Enter the valid Quantity ");
                  $(".quantityfor"+i).focus();
                    return false;
            } 
            
             
             if(!reg_quantity.test(quantityfor) && quantityfor!=''){
                vt=1; 
                alert("Please Enter integer values only in Quantity  ");
                  $(".quantityfor"+i).focus();
                    return false;
            } 
              
       /*  if(amtfor=='' ){
             vt=1;
             alert("Please enter UnitPrice");
             $(".amtfor"+i).focus();
             return false;
       } */ 
            
      if(isNaN(amtfor)&& amtfor!="")
        {                
            vt=1; 
            alert("Please Enter a Number or Decimal value in Unit Price");
           $(".amtfor"+i).focus();
            return false;
        }
       if(amtfor<0 || amtfor<0.0){
            vt=1; 
            alert("Please Enter Number in Unit Price");
                  $(".amtfor"+i).focus();
                    return false;
        }
        
        /* if(deductfor=='' ){
             vt=1;
             alert("Please enter Unit Tax Deductible");
             $(".deductfor"+i).focus();
             return false;
       }  */
        
        
         if(isNaN(deductfor))
        {
            vt=1; 
            alert("Please Enter a Number or Decimal value in %Deductible field");
            $(".deductfor"+i).focus();
            return false;
        }
         if(parseInt(deductfor) > parseInt(amtfor)){
             vt=1; 
             alert("Unit Price must greater than Unit Deductible");
            $(".deductfor"+i).focus();
            return false;
        
        }  
        if(deductfor < 0 || deductfor<0.0){
            vt=1; 
            alert("Tax Deductible must greater than 0");
            $(".deductfor"+i).focus();
            return false;
        } 
        
       /*  if(dcfor=='' ){
             vt=1;
             alert("Please enter Unit Discount");
             $(".dcfor"+i).focus();
             return false;
       }  
        */
         if(isNaN(dcfor) ){
           vt=1; 
            alert("Please Enter a number or Decimal value in Discount field");
            $(".dcfor"+i).focus();
            return false;
        }else if(parseInt(dcfor) > parseInt(amtfor)){
            vt=1; 
            alert("Unit Price($) must greater than Unit Discount($)");
            $(".dcfor"+i).focus();
            return false;
        }
        if(dcfor<0 || dcfor<0.0){
            vt=1; 
            alert("Unit Discount must be greater than or equal to 0");
            $(".dcfor"+i).focus();
            return false;
        }
        
      /*  if(taxfor=='' ){
             vt=1;
             alert("Please enter Unit Tax");
             $(".taxfor"+i).focus();
             return false;
       }  
        */
        if(isNaN(taxfor))
        {
            vt=1; 
            alert("Please Enter a Number or Decimal value in Tax field");
            $(".taxfor"+i).focus();
            return false;
        }else if(parseInt(taxfor) > parseInt(amtfor)){
            vt=1; 
            alert("Unit Price must be greater than Unit Tax");
            $(".taxfor"+i).focus();
            return false;
        }
        if(taxfor<0 || taxfor<0.0){
            vt=1; 
            alert("Unit tax must be greater than 0");
            $(".taxfor"+i).focus();
            return false;
        }
        for(var j=i+1;j<rowvaluesVt;j++){
                var sku_dup = $(".skufor"+j).val();
                
                if(skufor.toLowerCase()== sku_dup.toLowerCase() && skufor != '')
                {
                     vt=1; 
                     alert("Error:  Duplicate SKU found! " + skufor+ ',' + sku_dup);
                     $(".skufor"+j).focus();
                     return false;
                } 
          } 
       
     }

        var amt=$(".amt").val();
        var dc=$(".dc").val(); 
        var sku = $(".sku").val();
        var deduct=$(".deduct").val();
        var ship=$(".ship").val();
         var conv = $(".conv").val();
        var convamount = $(".convamount").val();
        var tax=$(".tax").val();
        var ins=$(".ins").val();
        var acc=$(".acc").val();
        var reg = /^([0-9])+$/;
         var reg_sku=/^([a-zA-Z0-9\-\_\:\ ])+$/;
        var checkrecur = $(".checkrecur").attr('checked');
       var rectype = $(".rectype").val();
     var itemname=trim($(".itemname").val());
      
    var visa = $(".visa").is(':checked');
    var echeck = $(".echeck").is(':checked');
    var invoice = $(".invoice").is(':checked');
    var po = $(".po").is(':checked');
    var ct = $(".ct").is(':checked');    
 
          if(itemname=='' && blnPaymentfor==false){
             vt=1;
             alert("Please enter Payment for");
             $(".itemname").focus();
             return false;
          }
          
          if(itemname!='' && itemname.length<2)
            {
               vt=1; 
                alert("Please enter atleast two characters in Payment for");
               $(".itemname").focus();
                return false;
            }  
           
           if(sku=='' && blnSku==false){
             vt=1;
             alert("Please enter SKU");
             $(".sku").focus();
             return false;
          }
           
           if(sku!='' && !reg_sku.test(sku)){
                 vt=1; 
                 alert("Please Enter a valid data (Alphanumerics,-,_,:,space) in SKU ");
                 $(".sku").focus();
                 return false;
            } 
          if(strQuantityvalue =='' && blnQuantity  == false){
             vt=1;
             alert("Please enter Quantity");
             $(".strQuantityvalue").focus();
             return false;
          }  
          if(strQuantityvalue!='' && isNaN(strQuantityvalue)){
                  vt=1; 
                  alert("Enter the valid Quantity ");
                  $(".strQuantityvalue").focus();
                    return false;
            } 
            
             
             if(!reg_quantity.test(strQuantityvalue) && strQuantityvalue!=''){
                vt=1; 
                alert("Please Enter integer values only in Quantity  ");
                  $(".strQuantityvalue").focus();
                    return false;
            } 
        if(amt=='' && blnUnitprice==false){
             vt=1;
             alert("Please enter Unit Price");
             $(".amt").focus();
             return false;
          }
        
        if(isNaN(amt)&& amt!=""){
            vt=1; 
            alert("Please Enter a Number or Decimal value in Amount field");
           $(".amt").focus();
            return false;
        }
        
        if(dc=='' && blnUnitDiscount==false){
             vt=1;
             alert("Please enter Discount");
             $(".dc").focus();
             return false;
          }
        
        if(dc != "" && isNaN(dc) )
        {
            vt=1; 
            alert("Please Enter a number or Decimal value in Discount field");
            $(".dc").focus();
            return false;
        }
          else if(dc >100)
        {
        vt=1; 
        alert("%Unit Discount value should be less than or equal to 100");
         $(".dc").focus();
            return false;
        }
       
       if(deduct=='' && blnUnittaxdeductible==false){
             vt=1;
             alert("Please enter Tax Deductible");
             $(".deduct").focus();
             return false;
          }
        if(isNaN(deduct))
        {
            vt=1; 
            alert("Please Enter a Number or Decimal value in %Deductible field");
            $(".deduct").focus();
            return false;
        }
        else if(deduct >100)
        {
        vt=1; 
        alert("% Unit Tax Deductible value should be less than or equal to 100");
         $(".deduct").focus();
            return false;
        }
        if(isNaN(ship))
        {
            vt=1; 
            alert("Please Enter a Number or Decimal value in Shipping field");
            $(".ship").focus();
            return false;
        }
        if(ship < 0 || ship < 0.0){
           vt=1;
           alert("Shipping value should be greater than or equal to 0");
           $(".ship").focus();
           return false;
       }
        
       /* if(ship!='' && blnShipping==false){
            vt=1;
            alert("Please check the show checkbox of the Shipping Address same as billing");
            $(".blnShipping").focus();
            return false;
        }*/
        if(conv=='' && blnConveniencefee==false){
             vt=1;
             alert("Please enter Convenience Fee");
             $(".conv").focus();
             return false;
          }
        
        if(conv !="" && isNaN(conv)){
            vt=1;
           alert("Please Enter a Number or Decimal value in Convenience Fee field");
           $(".conv").focus();
           return false;
       }else if(conv > 100 || conv < 0 || conv < 0.0){
           vt=1;
           alert("Convenience value should be greater than 0 and less than or equal to 100");
           $(".conv").focus();
           return false;
       }
        
        if(convamount != "" && isNaN(convamount)){
            vt=1;
            alert("Please Enter a Number or Decimal value in Convenience Fee field");
            $(".convamount").focus();
           return false;
        }
        if(convamount != "" && (convamount <0 || convamount < 0.00)){
            vt=1;
            alert("Please Enter valid data in Convenience Fee field");
            $(".convamount").focus();
           return false;
        }
        
         if(tax=='' && blnUnitTax==false){
             vt=1;
             alert("Please enter Unit Tax");
             $(".tax").focus();
             return false;
          }
        
        if(tax !="" && isNaN(tax))
        {
            vt=1; 
            alert("Please Enter a Number or Decimal value in Tax field");
            $(".tax").focus();
            return false;
        }
      else if(tax >100)
        {
        vt=1; 
        alert("%Unit Tax value should be less than or equal to 100");
         $(".tax").focus();
            return false;
        }
        blnIndefiniteRecurring = $('.blnIndefiniteRecurring').is(':checked');
        blnIndefiniteRecurringshow = $('.blnIndefiniteRecurringshow').is(':checked');
        
        if(blnIndefiniteRecurringshow==false && blnNoofInstallments==false){
        
           
            if(blnNoofInstallments==false && (blnIndefiniteRecurring==false && ins=='' ) ){
               vt=1;
               alert("Please Enter Number in # of Installments field/ Enable Indefinite Recurring Checkbox");
               $(".ins").focus();
               return false;
            }
        }
       
        if(checkrecur=='checked'){
       
            
            if(ins!="" && (reg.test(ins)==false) ){
                vt=1; 
               alert("Please Enter Number in # of Installments field");
                $(".ins").focus();
                return false;
            }else if(ins!="" && (parseInt(ins) <=1 || parseInt(ins) > 999) && rectype =='Subscription'){
              vt=1; 
                alert("Please Enter a Number greater than 1 and less than 999");
                $(".ins").focus();
                 return false;
            }
            else if(ins!="" && (parseInt(ins) <=1 || parseInt(ins) > 998) && rectype =='Installment'){
                vt=1; 
                alert("Please Enter a Number greater than 1 and less than 998");
                $(".ins").focus();
                 return false;
            }

         }
         
     
        if(acc!="" && reg.test(acc)==false)
        {
             vt=1; 
            alert("Please Enter Valid Account Number");
            $(".acc").focus();
            return false;
        }
         if(visa == false && echeck == false && invoice == false && po == false && ct == false){
             vt=1;
          alert("Please select any one Payment Method ");
          return false;
      }
         
         if(emaildata!='')
           {
            var emailsdata=$(".internalemaillist").val().split(';'); 
          
             for(var i=0;i<emailsdata.length;i++)
             {
               
                 if(!reg_email.test(emailsdata[i]) && emailsdata[i] != '' )
                   {
                       
                        vt=1;
                        alert("Please Enter the Valid Email ids");
                        $(".internalemaillist").focus();
                        return false;
                   }
                   
             }
           }   
       
      var rowNumCus = $(".rowNumCus").val();
      
   for(var i=0;i<rowNumCus;i++){
         var required = jQuery.trim(jQuery(".required"+i).val());
         var mandatory = jQuery(".mandatory"+i).is(':checked');
         var qn1 = jQuery.trim(jQuery(".qn1"+i).val());
        reg_qn1=/^([a-zA-Z0-9\.\,\#\-\'\@\$\%\*\^\(\)\{\}\\\[\]\_\;\:\"\<\>\?\/\`\|\!\+\ ])+$/
          
      //   var reg_qn1=/^([a-zA-Z0-9\.\#\,\'\_\:\-\+\(\)\{\}\[\]\/\-\%\$\@\*\;\"\<\>\?\])+$/;
        if(qn1 == ''){
            vt=1; 
           alert("Please Enter any Custom Question");
           $(".qn1"+i).focus();
           return false;
        }
        if(qn1!='' && !reg_qn1.test(qn1)){
            vt=1; 
            alert("Enter valid data for Custom Question");
            $(".qn1"+i).focus();
            return false;
        }
    
        if(required !='' && !reg_qn1.test(required)){
               vt=1; 
                alert("Enter valid data for Custom Answer");
                $(".required"+i).focus();
                return false;
        }
        
        if(blnAdditionalQuestion==false && mandatory==true && required==''){
                vt=1; 
                alert("Enter Custom Answer / Enable Show checkbox at Additional Questions ");
                $(".required"+i).focus();
                return false;
        }
    
    }
    
     /****************Custom payment name **************/
        var rowCustom      = $(".rowCustom").val();
     var reg_cusname=/^([a-zA-Z0-9\.\,\#\-\'\ ])+$/;
    
     for(var i=0;i<rowCustom;i++){
        var cuspaymentname = jQuery.trim(jQuery(".cuspaymentname"+i).val());
         if(cuspaymentname == ''){
             vt=1;
              alert("Please Enter data in Custom Payment Name");
                      $(".cuspaymentname"+i).focus();
                      return false;
        
     
     }
        if(cuspaymentname !="" &&!reg_cusname.test(cuspaymentname)){ 
            vt=1;   
              alert("Please Enter valid data in Custom Payment Name");
                      $(".cuspaymentname"+i).focus();
                      return false;
      } else if(cuspaymentname!="" && cuspaymentname.length >50){
              vt=1;
              alert("Custom Payment Name should not exceed 50 Characters");
                $(".cuspaymentname"+i).focus();
                 return false;
     }
     }     
  
        
   
    if(vt == 0){ 
        processstart();
        savemethodVTsetting();
       return true;
       }
    else{
       return false;

    }
      }
   function addqn(){
   processstart();
   addqn1();
   }
   
   function CheckUncheck(value1,value2){
      if($("."+value1).is(':checked')){
           var values = value2.split(',');           
           for(var i=0;i<values.length;i++){                
                $("."+values[i]).prop('checked', true);
           }
      }
   }
  </script>   
 
  <apex:form >
  
          <div class="padding_5" style="float:right;">
          
          <apex:outputLink styleClass="helpLink align_right" rendered="{!subTab['Settings']['Virtualterminal'].display=='true'}"   >          
             <Apex:outputLabel value="C&P Help for this Page" style="font-size:100%;display:inline;margin-right:5Px;" onmouseover="jQuery('[id$=Foo2]').css('display','block');" />
              <apex:image value="/s.gif" styleClass="helpIcon"  onmouseover="jQuery('[id$=Foo2]').css('display','block');" style="display:inline;" />
           </apex:outputLink>
           
           <apex:outputPanel id="Foo2" styleClass="video"  >
             <ul style="padding-left:5px;" > {!subTab['Settings']['Virtualterminal'].description} <br/>
              <apex:outputpanel rendered="{!subTab['Settings']['Virtualterminal'].activeLink=='true'}">
                <li><a href="{!subTab['Settings']['Virtualterminal'].link}" target="_blank" >{!subTab['Settings']['Virtualterminal'].strlink}</a> <br/></li></apex:outputpanel>
               <apex:outputpanel rendered="{!subTab['Settings']['Virtualterminal'].ActiveVideo=='true'}">
                <li><a href="{!subTab['Settings']['Virtualterminal'].video}" onclick="window.open(this.href,'Video','height=300,width=400');return false;"  >{!subTab['Settings']['Virtualterminal'].strvideo}</a> </li></apex:outputpanel>
              </ul>
             </apex:outputPanel> 
           </div>
             
             
             
            <apex:actionFunction action="{!delItemvt}" name="delVTTableaction" id="delVTTableaction" reRender="RefreshPage" oncomplete="processcomplete();" status="ItemDeletevalue">
              <apex:param name="DeleteIdvt" value="" assignTo="{!DeleteIdvt}"/>
              <apex:param name="DeleteFromIdvt" value="" assignTo="{!DeleteFromIdvt}"/>
            </apex:actionFunction>
            <apex:actionFunction action="{!deletecustions}" name="deletecustionsaction" id="deletecustionsaction" reRender="customquestion_refreshblock"  oncomplete="processcomplete();" status="ItemDeletevalue">
              <apex:param name="DeleteId_custom" value="" assignTo="{!DeleteId_custom}"/>
              <apex:param name="DeleteFromQunId" value="" assignTo="{!DeleteFromQunId}"/>
            </apex:actionFunction>
            <apex:actionFunction action="{!save}" name="savemethodVTsetting" id="savemethodVTsetting" reRender="thevt" oncomplete="processcomplete();"/>
            <apex:actionFunction action="{!addItemvt}" name="addItemvtsetting" id="addItemvtsetting" reRender="RefreshPage"  oncomplete="processcomplete();"/>
            <apex:actionFunction action="{!addcustions}"  name="addqn1" id="addqn1" reRender="customquestion_refreshblock" oncomplete="processcomplete();"/>


<div id="content-header">
    <h1><img alt="Virtual Terminal" title="Virtual Terminal" src="https://s3.amazonaws.com/clickandpledge/Salesforce/Bootstrap/img/virtual_terminal_icon.png" style="display:inline;vertical-align:top;" width="25" /> Virtual Terminal</h1>                                    
</div>
<div class="container-fluid"> 
    <apex:outputpanel id="thevt">
        <apex:pageBlock mode="maindetail">
        
            <!--   <apex:actionstatus id="vtstatus" startText="processing..."> 
                 <apex:facet name="stop">
             <apex:outputPanel >
                   <apex:outputPanel ><p>Virtual Terminal Settings Saved Successfully.</p></apex:outputPanel>
                  </apex:outputPanel>
                 </apex:facet>
              </apex:actionstatus> -->
         
              <apex:pagemessages />
              
           
                <div class="btn-block pagination-centered">
                      <a class="btn btn-primary" href="javascript:void(0)" onclick="checkvalue();" ><i class="icon-edit icon-white"></i> Update Settings</a>                                                        
                </div>
                
                <!--  <apex:pageBlockButtons>
                    <apex:commandButton action="{!save}" Value="Update Settings" rerender="thevt" onclick="if(!checkvalue()){return false;}" />
                </apex:pageBlockButtons> -->
                
                
                  <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Virtual Terminal</h5>
                      </div>
                      <div class="widget-content"> 
                        
                        <div class="overflow_x">            
                        <apex:pageBlockSection collapsible="true" id="currency" columns="1">
                          <apex:pageBlockSectionItem > 
                            
                            <!--###############Contacts Selection#################-->
                            <apex:outputpanel >
                            <apex:outputLabel value="Click & Pledge Account Information" style="font-weight:bold;display: inline-block;" ></apex:outputLabel>
                                <apex:outputLabel value="Show" style="padding-left: 324px;display: inline-block;"></apex:outputLabel>
                                
                            </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                         
                          <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Processing Type:" />
                                
                           <apex:outputPanel >
                            <apex:selectList value="{!strProcessType}" size="1" styleClass="strProcesstype">
                                 <apex:selectoptions value="{!CnPProcessType}" />  
                            </apex:selectList> &nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnProcesstype}" styleClass="blnProcesstype" style="margin-left:87px"/>
                           </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                         
                          <apex:pageBlockSectionItem >
                            <apex:outputLabel value="C&P Account Number:" />
                            <!-- <apex:inputText value="{!accountnumber}" styleClass="acc"/>-->
                           <apex:outputPanel >
                            <apex:selectList value="{!accountnumber}" size="1" styleclass="acc">
                              <apex:actionSupport event="onchange" action="{!Currency_Change}" reRender="currency,payment" />
                              <apex:selectOptions value="{!CnPAccount}"></Apex:selectOptions>
                            </apex:selectList> &nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnCnpaccountnumber}" styleClass="blnCnpaccountnumber" style="margin-left:87px"/>
                           </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          
                          <apex:pageBlockSectionItem >
                              <apex:outputpanel >
                            <apex:outputLabel value="Listing/Lookup Options" style="font-weight:bold" ></apex:outputLabel>
                              </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                          
                          <apex:pageBlockSectionItem >                                                    
                            <apex:outputpanel ></apex:outputpanel>
                            <apex:selectRadio value="{!strdefaultoption}" layout="pageDirection" styleClass="Stages strdefaultoption">
                               <apex:selectOption itemvalue="WithAdd" itemLabel="List default items: other items may be added" />
                               <apex:selectOption itemvalue="NoAdd" itemLabel="List default items: no other items may be added" />                               
                               <apex:selectOption itemvalue="WithLookup" itemLabel="Lookup: default items are the only allowed items to be added as picklist" />
                               <apex:selectOption itemvalue="Autocomplete" itemLabel="Lookup: default items are the only allowed items to be added as autocomplete" />
                                
                            </apex:selectRadio>                          
                           
                          </apex:pageBlockSectionItem>
                          </apex:pageBlockSection>
                          <br/>
                          <apex:pageBlockSection columns="2">
                          <apex:pageBlockSectionItem > 
                            <!--###############Contacts Selection#################-->     
                             <apex:outputpanel >                       
                                <apex:outputLabel style="display: inline-block;"><b>Payment Description</b></apex:outputLabel>                             
                                <apex:outputLabel value="Edit" style="display: inline-block;padding-left:396px"></apex:outputLabel>
                                
                            </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > 
                            <!--###############Contacts Selection#################-->     
                             <apex:outputpanel >                      
                               
                            
                                <apex:outputLabel value="Edit" style="display: inline-block;padding-left:516px"></apex:outputLabel>
                                
                            </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > Payment for:
                           <apex:outputPanel >
                            <apex:inputText value="{!paymentfor}" maxlength="100" styleClass="itemname"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnPaymentfor}" styleClass="blnPaymentfor" style="margin-left:76px"/>
                           </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <!-- <apex:pageBlockSectionItem >
                                          <apex:inputhidden/>
                                           </apex:pageBlockSectionItem> -->
                          <apex:pageBlockSectionItem > SKU:
                          <apex:outputPanel >
                            <apex:inputText value="{!skuvalue}" maxlength="100" styleClass="sku" />&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnSku}" styleClass="blnSku" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > Quantity:
                          <apex:outputPanel >
                            <apex:inputText value="{!strQuantityvalue}" maxlength="6" size="6" styleClass="strQuantityvalue"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnQuantity}" styleClass="blnQuantity" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > Unit Price {!currency_code}:
                           <apex:outputPanel >
                            <apex:inputText value="{!amountvalue}" styleClass="amt"  maxlength="6" size="6"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnUnitprice}" styleClass="blnUnitprice" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > % Unit Tax Deductible:
                          <apex:outputPanel >
                            <apex:inputText value="{!deductablevalue}" styleClass="deduct" maxlength="5" size="6"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnUnittaxdeductible}" styleClass="blnUnittaxdeductible" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > % Unit Discount:
                          <apex:outputPanel >
                            <apex:inputText value="{!discountvalue}" styleClass="dc" maxlength="5" size="6"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnUnitDiscount}" styleClass="blnUnitDiscount" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > % Unit Tax:
                          <apex:outputPanel >
                            <apex:inputText value="{!taxvalue}" styleClass="tax" maxlength="5" size="6"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnUnitTax}" styleClass="blnUnitTax" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                           
                          
                          <apex:pageBlockSectionItem > Item Campaign:
                          <apex:outputPanel >
                            <apex:inputText value="{!strItemcampaign}" styleClass="strItemcampaign" maxlength="5" size="6" >
                               <c:PaymentAutoCompleteSettings objecttype="campaign" autocomplete_textbox="strItemcampaign"  autocomplete_id="0" autocomplete_process="1"/>
                            </apex:inputText>&nbsp;&nbsp;                            
                            <apex:inputcheckbox value="{!blnItemcampaign}" styleClass="blnItemcampaign" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          
                        </apex:pageblockSection>
                        <br/>
                        <apex:pageBlockSection columns="1">
                          <apex:pageBlockSectionItem > 
                            <!--###############Contacts Selection#################-->     
                             <apex:outputpanel >                       
                                <apex:outputLabel style="display: inline-block;"><b>Additional Fees</b></apex:outputLabel>                             
                                <apex:outputLabel value="Show" style="display: inline-block;padding-left:425px"></apex:outputLabel>
                                
                            </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > Total Shipping {!currency_code}:
                          <apex:outputPanel >
                            <apex:inputText value="{!shippingvalue}" styleClass="ship" maxlength="6" size="6"/>&nbsp;&nbsp;
                            <apex:inputcheckbox value="{!blnShippingvalue}" styleClass="blnShippingvalue" style="margin-left:76px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem >
                            <apex:outputLabel >Convenience Fee: </apex:outputLabel>
                            <apex:outputPanel >
                              <apex:inputText value="{!convfee}" styleClass="conv" style="width:30px;" maxlength="4" size="3"  />
                              % + {!currency_code} 
                              <apex:inputText value="{!convenienceamountvalue}" styleClass="convamount" style="width:78px;" maxlength="11" size="6"/>
                              <apex:inputcheckbox value="{!blnConveniencefee}" styleClass="blnConveniencefee" style="margin-left:134px"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>
                         </apex:pageBlockSection>
                        </div>
                        <br/>

                        <!------Code for Multi-Products ------------------>
                        <div class="overflow_x"> 
                        <apex:pageblockSection columns="1" id="payment">
                          <apex:outputLabel ><b>Default Items</b></apex:outputLabel>
                          <apex:outputPanel >
                            <apex:actionstatus id="statusId" startText="Please wait....">
                            <apex:facet name="stop">
                              <apex:outputpanel id="RefreshPage">
                                <apex:variable value="0" var="rowItemVt"/>
                                
                                <apex:datatable value="{!repeatpay}" var="pay" styleClass="table table-bordered table-striped" style="min-width:1224px">
                                  <apex:outputLabel ><b>Payment Description</b></apex:outputLabel>
                                  <br/>
                                    <apex:inputHidden value="{!pay.checkpay}"/>
                                  <apex:column headerValue="Payment For" >
                                    <apex:inputText value="{!pay.paymentfor}" maxlength="50" size="15" styleClass="payfor{!rowItemVt}" style="width: 140px;"/>
                                  </apex:column>
                                  <apex:column headerValue="SKU" style="width:132px">
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputText value="{!pay.skuvalue}" size="10" maxlength="100"  styleClass="skufor{!rowItemVt}"  style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnSKU}" />
                                   </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Quantity"  style="width: 132px;">
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputText value="{!pay.quantityValue}" size="6" maxlength="6" styleClass="quantityfor{!rowItemVt}"  style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnQuantity}" />
                                    </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Unit Price({!currency_code})" style="width: 132px;">
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputText value="{!pay.amountvalue}" styleClass="amtfor{!rowItemVt}" maxlength="11" size="9"  style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnUnitPrice}" />
                                    </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Tax Deductible({!currency_code})" style="width: 132px;">
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputtext value="{!pay.deductablevalue}" styleClass="deductfor{!rowItemVt}"   maxlength="11" size="9" style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnUnitTaxDeductible}" />
                                   </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Unit Discount({!currency_code})" style="width: 132px;" >
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputText value="{!pay.discountvalue}" styleClass="dcfor{!rowItemVt}" maxlength="11" size="9"  style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnUnitDiscount}" />
                                   </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Unit Tax({!currency_code})" style="width: 132px;">
                                   <apex:outputPanel style="float:left;width:132px">
                                    <apex:inputText value="{!pay.taxvalue}" styleClass="taxfor{!rowItemVt}" maxlength="11" size="9" style=" margin-right: 5px;width: 100px;"/>
                                    <apex:inputcheckbox value="{!pay.blnUnitTax}" />
                                   </apex:outputPanel>
                                  </apex:column>
                                  <apex:column headerValue="Item Campaign*" rendered="{!IF(prodvalue==false && oppvalue == true,true,false)}"  style="width: 162px;">
                                     <apex:outputPanel style="float:left;width:162px">
                                    <apex:inputtext value="{!pay.campValue}" styleclass="campaign1{!rowItemVt}"  style="width: 130px;margin-right: 5px;"  maxlength="80">
                                      <c:PaymentAutoCompleteSettings objecttype="campaign" autocomplete_textbox="campaign1{!rowItemVt}"  autocomplete_id="{!rowItemVt}" autocomplete_process="1"/>
                                    </apex:inputtext>
                                     <apex:inputcheckbox value="{!pay.blnItemCampaign}" />
                                     </apex:outputPanel>
                                  </apex:column>
                                    <apex:inputHidden value="{!pay.RecordId}"/>
                                  <apex:column >
                                    <div class="btn-group"><a class="btn" href="javascript:void(0);" onclick="delVTTable('{!JSENCODE(rowItemVt)}','{!JSENCODE(pay.RecordId)}');"><i class="icon-trash"></i></a></div>
                                    <!--   <apex:commandButton value="Delete" action="{!delItemvt}" reRender="RefreshPage" status="ItemDeletevalue" >
                                                                <apex:param name="deletePayment" value="{!rowItemVt}" assignTo="{!DeleteIdvt}"/>             
                                                                <apex:param name="deletePayment1" value="{!pay.RecordId}" assignTo="{!DeleteFromIdvt}"/>
                                                           </apex:commandButton>-->
                                    <apex:actionStatus id="ItemDeletevalue" startText="Deleting..."/>
                                    <apex:variable var="rowItemVt" value="{!VALUE(rowItemVt) + 1}" />
                                  </apex:column>
                                  
                                </apex:datatable>
                                
                                <input type="Hidden" value="{!rowItemVt}" class="rowvaluesVt" name="rowvaluesVt"/>
                                <div class="btn-block pagination-centered"> <a class="btn" href="javascript:void(0)" onclick="addItemvtprocess();" style="margin-left:50px;"><i class="icon-plus-sign"></i> Add New</a> </div>
                                <!--  <apex:commandButton action="{!addItemvt}" value="Add New" reRender="RefreshPage" status="itemNextRow"  />-->
                                <apex:actionstatus id="itemNextRow" startText="Please wait...."/>
                              </apex:outputPanel>
                            </apex:facet>
                            </apex:actionStatus>
                          </apex:outputPanel>
                          <apex:pageblocksectionItem rendered="{!IF(prodvalue==false && oppvalue == true,true,false)}" dataStyle="color:#328400;"> * Create NEW Campaigns first before using them in multiple items to avoid duplicate Campaign creation. </apex:pageblocksectionItem>
                          <apex:pageblocksectionItem dataStyle="color:#328400;"> Note : Check the box next to each field to allow edits of the field in the Virtural Terminal. </apex:pageblocksectionItem>
                         
                        </apex:pageblockSection>
                        </div>
                        <br/>
                      </div><!-- widget-content -->
                   </div><!-- widget-box -->    
                        <!--------Code for multi-products End -------------->
                    <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5 style="width:94%">Billing / Shipping Address</h5>
                      </div>
                      <div class="widget-content">  
                        <div class="overflow_x">
                               <apex:pageblockSection columns="1" >
                                  <apex:pageblocksectionitem >
                                      <apex:outputLabel value="Default Country"></apex:outputLabel>
                                      <apex:selectlist size="1" value="{!strDefaultCountry}" styleClass="strDefaultCountry">
                                          <apex:selectoptions value="{!showcountries}" />
                                          <apex:actionsupport event="onchange"  reRender="billingstate" />
                                      </apex:selectlist>
                                  </apex:pageblocksectionitem> 
                                  <apex:pageblocksectionitem >
                                      <apex:outputLabel value="Default State"></apex:outputLabel>
                                      <apex:outputpanel id="billingstate">                                         
                                          <apex:selectlist value="{!strDefaultState}" size="1" rendered="{!IF(showstates.size>1,true,false)}" styleClass="strDefaultState">
                                              <apex:selectoptions value="{!showstates}" />                                          
                                          </apex:selectlist>
                                          <apex:inputtext value="{!strDefaultState}" rendered="{!IF(showstates.size>1,false,true)}" styleClass="strDefaultState"/>
                                      </apex:outputpanel>
                                  </apex:pageblocksectionitem> 
                                  <apex:pageblocksectionitem >
                                      <apex:outputLabel value="Shipping Address same as billing"></apex:outputLabel>
                                      <apex:outputpanel >
                                          <apex:inputcheckbox value="{!blnSameasbilling}" styleClass="blnSameasbilling"/>
                                          <apex:inputcheckbox style="margin-left:225px" value="{!blnSameasbillingshow}" styleClass="blnSameasbillingshow"/> Show
                                      </apex:outputpanel>
                                  </apex:pageblocksectionitem>
                                  <apex:pageblocksectionitem >
                                      <apex:outputLabel value="Shipping Address"></apex:outputLabel>
                                      <apex:outputpanel >                                         
                                          <apex:inputcheckbox style="margin-left:238px" value="{!blnShipping}" styleClass="blnShipping"/> Show
                                      </apex:outputpanel>
                                  </apex:pageblocksectionitem> 
                               </apex:pageblockSection>
                        </div>
                      </div>
                   </div>
                     <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Tracker and Campaign</h5><span style="float:right;margin:8px 35px;color:#fff;"><apex:inputcheckbox value="{!blnTrackerTab}" styleClass="blnTrackerTab" onclick="CheckUncheck('blnTrackerTab','blnTracker,blnTransactionCampaign');"/> Show</span>
                      </div>
                      <div class="widget-content">  
                        <div class="overflow_x">
                       
                        <apex:pageblockSection columns="1">                          
                          
                          <apex:pageBlockSectionItem > Tracker :
                          <apex:outputpanel >   
                            <apex:inputtext value="{!trackervalue}" maxlength="50"/> 
                            <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnTracker}" styleClass="blnTracker" onchange="CheckUncheck('blnTracker','blnTrackerTab')"/>
                            </apex:outputpanel>
                          </apex:pageBlockSectionItem>
                          <apex:pageBlockSectionItem > Transaction Campaign:
                          <apex:outputpanel >   
                            <apex:inputField value="{!xmlField.CnP_PaaS__Campaign_lp__c}" />
                            <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnTransactionCampaign}" styleClass="blnTransactionCampaign" onchange="CheckUncheck('blnTransactionCampaign','blnTrackerTab')"/>
                          </apex:outputpanel>
                            <!--  Transaction Campaign:<apex:inputText value="{!Campaignlookup}" /> --> 
                          </apex:pageBlockSectionItem>                         
                          
                         </apex:pageblockSection>
                         </div> 
                         </div><!-- widget-content -->
                    </div><!-- widget-box -->        
                       <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Recurring Payment</h5><span style="float:right;margin:8px 35px;color:#fff;"><apex:inputcheckbox value="{!blnRecurringTab}" styleClass="blnRecurringTab" onchange="CheckUncheck('blnRecurringTab','blnRecurring,blnRecurringType,blnPeriodicity,blnNoofInstallments,blnEnddate')"/> Show</span>
                      </div>
                      <div class="widget-content">  
                        <div class="overflow_x">  
                        <apex:outputPanel id="DisplayRM">    
                          <apex:pageblockSection columns="1">
                          
                          <apex:pageblocksectionItem >
                            <apex:outputLabel value="Is this a recurring payment :"></apex:outputLabel>
                            <apex:outputPanel >
                            <apex:inputCheckbox value="{!recurringselect}"  styleClass="checkrecur" >
                              <apex:actionSupport event="onchange" reRender="DisplayRM" action="{!NullRecurring}"/>
                            </apex:inputCheckbox>
                            <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnRecurring}" styleClass="blnRecurring" onchange="CheckUncheck('blnRecurring','blnRecurringTab')"/>
                            </apex:outputPanel>
                          </apex:pageBlockSectionItem>  
                         </apex:pageblockSection>                       
                          
                            <apex:pageBlockSection rendered="{!recurringselect==true}" columns="1" >
                              <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Recurring Type :"> </apex:outputLabel>
                                <apex:outputPanel >
                                <apex:selectList id="recurringtype" value="{!recurringtype}" size="1" required="false" styleClass="rectype">
                                  <apex:actionSupport event="onchange" reRender="DisplayRM" />
                                  <apex:selectOptions value="{!Comparison}" />
                                </apex:selectList>
                                 <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnRecurringType}" styleClass="blnRecurringType" onchange="CheckUncheck('blnRecurringType','blnRecurringTab')"/>
                                </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              
                              <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Periodicity :"> </apex:outputLabel>
                                 <apex:outputPanel >
                                <apex:selectList id="period" value="{!period}" size="1" required="false" >
                                  <apex:selectOptions value="{!Periodicity}" />
                                </apex:selectList>
                                 <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnPeriodicity}" styleClass="blnPeriodicity" onchange="CheckUncheck('blnPeriodicity','blnRecurringTab')"/>
                                </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem rendered="{!IF(recurringtype=='Subscription',true,false)}">
                                <apex:outputLabel value="Indefinite Recurring :"> </apex:outputLabel>
                                 <apex:outputPanel >
                                 <apex:inputCheckbox value="{!blnIndefiniteRecurring}"  styleClass="blnIndefiniteRecurring" />
                                 <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnIndefiniteRecurringshow}" styleClass="blnIndefiniteRecurringshow" onchange="CheckUncheck('blnIndefiniteRecurringshow','blnRecurringTab')"/>
                                </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                <apex:outputLabel value=" # of Installments:"> </apex:outputLabel>
                                <apex:outputPanel >
                                <apex:inputText value="{!noofinstallments}" maxlength="3" styleClass="ins" size="6" />                                
                                 <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnNoofInstallments}" styleClass="blnNoofInstallments" onchange="CheckUncheck('blnNoofInstallments','blnRecurringTab')"/>
                                </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                             
                              
                              <apex:pageBlockSectionItem labelStyle="font-weight:normal;font-size:12px;">
                                <apex:outputLabel value=" End Date:"> </apex:outputLabel> 
                                 <apex:outputPanel >
                                  <apex:inputcheckbox style="float: right;margin: 8px 50px;" value="{!blnEnddate}" styleClass="blnEnddate" onchange="CheckUncheck('blnEnddate','blnRecurringTab')"/>
                                 </apex:outputPanel>                               
                              </apex:pageBlockSectionItem>                             
                            </apex:pageBlockSection>                            
                          </apex:outputPanel>                        
                        </div>                        
                </div><!-- widget-content -->
                </div><!-- widget-box --> 
                
                                       
                  <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Payment Methods</h5>
                      </div>
                      <div class="widget-content">     
                        <apex:pageblockSection columns="1">
                          <apex:pageblocksectionItem >
                                <apex:outputlabel value="Charge Date"></apex:outputlabel>
                                <apex:outputPanel >
                                <apex:inputcheckbox value="{!blnChargedate}" styleClass="blnChargedate"/> If hidden, all the transactions will be processed immediately.
                                </apex:outputPanel>
                          </apex:pageblocksectionItem>
                          <apex:pageblocksectionItem >
                                <apex:outputlabel value="Entry mode"></apex:outputlabel>
                                <apex:outputPanel >
                                <apex:selectlist value="{!strEntryModevalue}" size="1" styleClass="strEntryModevalue">
                                     <apex:selectOption itemLabel="Manual" itemValue="Manual"></apex:selectOption>
                                     <apex:selectOption itemLabel="Card Reader" itemValue="CardReader"></apex:selectOption>
                                </apex:selectlist> &nbsp;&nbsp;
                                <apex:inputcheckbox value="{!blnEntrymode}" styleClass="blnEntrymode"/> Show
                                </apex:outputPanel>
                          </apex:pageblocksectionItem>
                          <apex:pageblocksectionItem id="CreditCardItem" >
                            <apex:outputLabel value="Payment Methods"/>
                         
                            <apex:outputpanel styleClass="vttable">
                              <apex:inputCheckbox value="{!creditcardpayment}" id="Visa_card"  styleClass="visa">
                               <apex:actionSupport event="onchange" reRender="DefaultPaymentMethod"/>
                              </apex:inputCheckbox>
                              <apex:outputLabel value="Credit Card" />
                              <br />
                              <apex:inputCheckbox value="{!echeckpayment}" id="e_check" styleClass="eCheck">
                                 <apex:actionSupport event="onchange" reRender="DefaultPaymentMethod"/>
                              </apex:inputCheckbox>
                              <apex:outputLabel value="eCheck" />
                             <!--  <br />
                              <apex:inputCheckbox value="{!invoicepayment}" id="InVoice" styleClass="invoice"/>
                              <apex:outputLabel value="Invoice" />-->
                              <br />  
                              <apex:inputCheckbox value="{!porderpayment}" id="PurchaseOrder" styleClass="po">
                                <apex:actionSupport event="onchange" reRender="DefaultPaymentMethod"/>
                              </apex:inputCheckbox>
                              <apex:outputLabel value="Purchase Order" />
                              <br />
                              <apex:inputCheckbox value="{!custompayment}" id="customtype" styleClass="ct">
                                <apex:actionSupport event="onchange" reRender="custompay,DefaultPaymentMethod"/>
                              </apex:inputCheckbox>
                              <apex:outputLabel value="Custom Payment Type" />
                              
                                  <!------- Custom Payment Options ---------->
                                  <apex:outputpanel id="custompay" style="display: block;margin-left: 18px;" >
                                    <apex:outputPanel rendered="{!custompayment == true}" style="display: block;">
                                    <apex:outputPanel id="thebtn" >
                                      <apex:variable value="0" var="rowCustom"/>
                                      <apex:repeat value="{!customValues}" var="cus" >
                                        <apex:inputhidden value="{!cus.RecordId}"/>
                                        <apex:outputLabel value="Name : " style="display:inline;"/>&nbsp;
                                        <apex:inputText value="{!cus.strname}"  styleClass="cuspaymentname{!rowCustom}" maxlength="50" onblur="trimvalue(this.value,'cuspaymentname{!rowCustom}')"/>&nbsp;
                                        <apex:commandbutton value="Delete" action="{!delcustompay}" rerender="thebtn">
                                          <apex:param name="deleteCustom" value="{!rowCustom}" assignTo="{!DelCustomId}"/>
                                        </apex:commandbutton>
                                        <br/>
                                        <apex:variable var="rowCustom" value="{!VALUE(rowCustom) + 1}" />
                                      </apex:repeat>
                                      <input type="hidden" value="{!rowCustom}" class="rowCustom" name="rowCustom"/>
                                    </apex:outputPanel>
                                    <apex:commandbutton value="Add" action="{!add}" rerender="thebtn" style="margin: 8px 50px 0px;"/>
                                    </apex:outputPanel>
                                   </apex:outputpanel>
                              
                            </apex:outputpanel>
                          </apex:pageblocksectionItem>
                          <apex:pageblocksectionItem >
                                <apex:outputlabel value="Default Payment Method"></apex:outputlabel>
                                <apex:outputPanel id="DefaultPaymentMethod">
                                <apex:selectlist value="{!strDeafultPayment}" size="1" styleClass="strEntryModevalue">
                                     <apex:selectOption itemLabel="Credit Card" itemValue="CreditCard" rendered="{!creditcardpayment}"></apex:selectOption>
                                     <apex:selectOption itemLabel="eCheck" itemValue="Check" rendered="{!echeckpayment}"></apex:selectOption>
                                     <apex:selectOption itemLabel="Purchase Order" itemValue="PurchaseOrder" rendered="{!porderpayment}"></apex:selectOption>
                                     <apex:selectOption itemLabel="Other" itemValue="CustomPaymentType" rendered="{!custompayment}"></apex:selectOption>
                                </apex:selectlist>
                                </apex:outputPanel>
                          </apex:pageblocksectionItem>
                          </apex:pageBlockSection>

                        
                </div><!-- widget-content -->
                </div><!-- widget-box --> 
        
        
        
                  <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Receipt Customization</h5><span style="float:right;margin:8px 35px;color:#fff;"><apex:inputcheckbox value="{!blnReceiptCustomization}" styleClass="blnReceiptCustomization" onchange="CheckUncheck('blnReceiptCustomization','blnSendemail,blnOrganizationinformation,blnThankyoumessage,blnTerms_Conditions,blnInternalnotification');"/> Show</span>                       
                        
                      </div>
                      <div class="widget-content">        
                              <apex:pageBlockSection columns="1">
                                <apex:pageBlockSectionItem >
                                  <apex:outputLabel value="Send Receipt"/>
                                  <apex:outputPanel >
                                  <apex:inputCheckbox value="{!sendreceipt}" >
                                    <apex:actionSupport event="onchange" reRender="Displaysr" action="{!nullsendmessages}"/>
                                  </apex:inputCheckbox>
                                  <apex:inputCheckbox style="float: right;margin: 8px 50px;" value="{!blnSendemail}" styleClass="blnSendemail" onchange="CheckUncheck('blnSendemail','blnReceiptCustomization')"/>
                                  </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                              </apex:pageBlockSection>
                              <apex:outputPanel id="Displaysr" style="margin-top:5px;">
                                <apex:pageBlockSection columns="1">
                                  <apex:pageBlockSectionItem >
                                    <apex:outputPanel >
                                      <apex:outputLabel value="Receipt Header (the following HTML tags are allowed: <P></P><BR /><OL></OL><LI></LI><UL></UL>)"/>
                                      <apex:outputLabel value="(max=1500 chars)"/>
                                    </apex:outputPanel>
                                    <apex:outputpanel >
                                       <apex:inputTextarea value="{!organizationinfo}" rows="10" cols="60" style="width: 750px;float:left;" styleClass="organizationinfo input-block-level" onkeypress="return imposeMaxLength(event, this, 1500);" onkeyup="return imposeMaxLength(event, this, 1500);"/>
                                       <apex:inputCheckbox style="float: right;margin: 8px 50px;" value="{!blnOrganizationinformation}" styleClass="blnOrganizationinformation" onchange="CheckUncheck('blnOrganizationinformation','blnReceiptCustomization')"/>
                                    </apex:outputpanel>
                                  </apex:pageBlockSectionItem>
                                 <!--  <apex:pageBlockSectionItem >
                                    <apex:outputPanel >
                                      <apex:outputLabel value="Thank you Message"/>
                                      <apex:outputLabel value="(max=500 chars)"/>
                                    </apex:outputPanel>
                                    <apex:outputpanel >
                                      <apex:inputTextarea styleClass="input-block-level" value="{!thankyou}" style="width: 750px;float:left;" rows="10" cols="75" onkeypress="return imposeMaxLength(event, this, 500);" onkeyup="return imposeMaxLength(event, this, 500);"/>
                                      <apex:inputCheckbox style="float: right;margin: 8px 50px;" value="{!blnThankyoumessage}" styleClass="blnThankyoumessage" onchange="CheckUncheck('blnThankyoumessage','blnReceiptCustomization')"/>
                                    </apex:outputpanel>
                                  </apex:pageBlockSectionItem>  -->
                                  <apex:pageBlockSectionItem >
                                    <apex:outputPanel >
                                      <apex:outputLabel value="Terms & Conditions (the following HTML tags are allowed: <P></P><BR /><OL></OL><LI></LI><UL></UL>)"/>
                                      <apex:outputLabel value="(max=1500 chars)"/>
                                    </apex:outputPanel>
                                     <apex:outputpanel >
                                       <apex:inputTextarea styleClass="input-block-level" value="{!TermsCondition}" rows="10" style="width: 750px;float:left;" cols="75" onkeypress="return imposeMaxLength(event, this, 1500);" onkeyup="return imposeMaxLength(event, this, 1500);"/>
                                       <apex:inputCheckbox style="float: right;margin: 8px 50px;" value="{!blnTerms_Conditions}" styleClass="blnTerms_Conditions" onchange="CheckUncheck('blnTerms_Conditions','blnReceiptCustomization')"/>
                                     </apex:outputpanel>
                                  </apex:pageBlockSectionItem>
                                  <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Internal Notification (type email addresses separated by semicolon max=1000 chars)" ></apex:outputLabel>
                                    <apex:outputPanel >
                                       <apex:inputTextarea value="{!internalnotifications}" styleClass="internalemaillist  input-block-level" rows="6"  style="width: 750px;float:left;" cols="75" onkeypress="return imposeMaxLength(event, this, 1000);" onkeyup="return imposeMaxLength(event, this, 1500);"/>
                                       <apex:inputCheckbox style="float: right;margin: 8px 50px;" value="{!blnInternalnotification}" styleClass="blnInternalnotification" onchange="CheckUncheck('blnInternalnotification','blnReceiptCustomization')"/> 
                                    </apex:outputPanel> 
                                  </apex:pageBlockSectionItem>
                                </apex:pageBlockSection>
                              </Apex:outputPanel>
                </div><!-- widget-content -->
                </div><!-- widget-box -->
                
                 
 
           <!--- Custom Question Mapping  ------------>

                  <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                        <h5>Additional Questions</h5><span style="float:right;margin:8px 35px;color:#fff;"><apex:inputcheckbox value="{!blnAdditionalQuestion}" styleClass="blnAdditionalQuestion"/> Show</span>
                      </div>
                      <div class="widget-content">  
                            <apex:outputPanel id="customquestion_refreshblock" >
                                <apex:inputcheckbox value="{!addqnvt}" style="margin-top:0px;"/> &nbsp; 
                                <apex:outputLabel value="Allow adding questions in VT" style="display:inline;"></apex:outputLabel>                                
                                <br/><br/>
                              <apex:variable value="0" var="rowNumCus"/>
                              <apex:pageBlockTable value="{!customquestionlist1}" var="cusques" styleClass="table table-bordered table-striped">
                                  <apex:inputHidden value="{!cusques.questionId}"/>
                                <apex:column headerValue="Question (max 200 characters)">
                                  <apex:inputTextarea value="{!cusques.question}" richText="false" onkeypress="return imposeMaxLength(event, this, 200);" onkeyup="return imposeMaxLength(event, this, 200);" rows="3" cols="85" styleClass="qn1{!rowNumCus} input-block-level" onblur="trimvalue(this.value,'qn1{!rowNumCus}');"/>
                                </apex:column>
                                <apex:column headerValue="Answer (max 500 characters)">
                                  <apex:inputTextarea richText="false" cols="85" rows="3" value="{!cusques.answer}"  onkeypress="return imposeMaxLength(event, this, 500);" onkeyup="return imposeMaxLength(event, this, 500);" styleClass="required{!rowNumCus} input-block-level" onblur="trimvalue(this.value,'required{!rowNumCus}');"/>
                                </apex:column>
                                <apex:column headerValue="Mandatory" style="text-align:center;">
                                  <apex:inputCheckbox value="{!cusques.required}" styleClass="mandatory{!rowNumCus}" />
                                </apex:column>
                                <apex:column style="text-align:center;">
                                  <div class="btn-group"><a class="btn" href="javascript:void(0);" onclick="deletecustions('{!JSENCODE(rowNumCus)}','{!JSENCODE(cusques.questionId)}');"><i class="icon-trash"></i></a></div>
                                </apex:column>
                                <apex:column >
                                  <apex:variable var="rowNumCus" value="{!VALUE(rowNumCus)+1}"/>
                                </apex:column>
                              </apex:pageBlockTable>
                              
                              <input type="hidden" value="{!rowNumCus}" class ="rowNumCus"/>
                              <apex:outputLabel style="color:#328400;">*Separate answers with semicolon for picklist format</apex:outputLabel>
                              <div class="btn-block pagination-centered"><a class="btn" href="javascript:void(0)" onclick="addqn();" style="margin-left:50px;"><i class="icon-plus-sign"></i> Add Question</a> </div>
                            </apex:outputPanel>
                </div><!-- widget-content -->
                </div><!-- widget-box -->

           <!---- Custom Question Mapping End ------------>
           <!--  Advanced Features -->
            <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th icon-white"></i></span>
                       <h5 style="width:94%">Advanced Features</h5>
                      </div>
                      <div class="widget-content">
                        <apex:pageblocksection columns="1">
                           <apex:pageblockSectionItem >
                               <apex:outputLabel value="Authorization Redirect Page" />
                               <apex:inputtext value="{!strAuthredirectURL}" />
                           </apex:pageblockSectionItem>
                           <apex:pageblockSectionItem >
                               <apex:outputLabel value="Decline Redirect Page" />
                               <apex:inputtext value="{!strDecredirectURL}"/>
                           </apex:pageblockSectionItem>
                           <apex:pageblockSectionItem >
                               <apex:outputLabel value="Error Redirect Page" />
                               <apex:inputtext value="{!strErrorredirectURL}" />
                           </apex:pageblockSectionItem>
                        </apex:pageblocksection><br/>
                        <apex:outputLabel >The following variables will be posted to the redirected pages for reference:</apex:outputLabel>
                        <table class="detailList">
                          <tr>
                            <th>Variable</th>
                            <th>Description</th>
                            <th>Salesforce Parameter</th>
                          </tr>
                          <tr>
                            <td>SFCID</td>
                            <td>Salesforce Contact ID- Available only for looked up contact</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.SFCID}</i></td>
                          </tr>
                          <tr>
                            <td>TC</td>
                            <td>Total Charged</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.TC}</i></td>
                          </tr>
                          <tr>
                            <td>TR</td>
                            <td>Transaction Result</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.TR}</i></td>
                          </tr>
                          <tr>
                            <td>ON</td>
                            <td>Order Number</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.ON}</i></td>
                          </tr>
                          <tr>
                            <td>VG</td>
                            <td>Vault GUID</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.VG}</i></td>
                          </tr>
                          <tr>
                            <td>GN</td>
                            <td>Gateway Transaction Number</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.GN}</i></td>
                          </tr>
                          <tr>
                            <td>EC</td>
                            <td>Error Code</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.EC}</i></td>
                          </tr>
                          <tr>
                            <td>AI</td>
                            <td>Additional Information</td>
                            <td><i>{</i><i>!</i><i>$CurrentPage.parameters.AI}</i></td>
                          </tr>
                        </table>
                         <!--   <ul>
                             <li>SFCID = Salesforce Contact ID - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.SFCID</b><b>}</b></li>
                             <li>TR  = Transaction Result - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.TR</b><b>}</b></li>
                             <li>ON = Order Number - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.ON</b><b>}</b></li>
                             <li>VG = Vault GUID - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.VG</b><b>}</b></li>
                             <li>GN = Gateway Transaction Number - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.GN</b><b>}</b></li>
                             <li>EC = Error Code - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.EC</b><b>}</b></li>
                             <li>AI = Additional Information - Visualforce Page variable: <b>{</b><b>!</b><b>$CurrentPage.parameters</b><b>.AI</b><b>}</b></li>
                           </ul> -->
                      </div>
            </div>
           <!--  Advanced Features End -->
            <div class="btn-block pagination-centered">
                      <a class="btn btn-primary" href="javascript:void(0)" onclick="checkvalue();" ><i class="icon-edit icon-white"></i> Update Settings</a>                                                        
             </div>
        </apex:pageBlock>
        </apex:outputpanel>
        
</div>        
        </apex:form>
</apex:page>