<apex:page sidebar="false"
    showHeader="false" standardStylesheets="false" docType="html-5.0"
    language="en-US" applyHTMLTag="false">

<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
    <script>

            /*var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                }
              }
            xmlhttp.open("GET","https://na15.salesforce.com/apex/GeneralDonation",true);
            xmlhttp.send();*/
           
            
            $.ajax({
            url: "https://c.na15.visual.force.com/apex/GeneralDonation",
            context:  document.body,
            //done:sendhiddenparams,
            success: function(responseText) {
                $("#myDiv").html(responseText);
                $("#myDiv").find("script").each(function(i) {
                    eval($(this).text());
                });
               
                 sendHiddenParams(customSKU,customCampaign,extraHidden);
                  //callback(productId, storeId, html);
                
            }
            /*window.addEventListener('load', function (e)  {

                //make jQuery calls here.
        
            }, false);*/
        });
    
    </script>
    
      <div>
          Through the generous support of donors like you, North Star Fund has directed resources to improving schools, housing, health care, living wage jobs, immigrant rights, and so many other pressing issues that are improving the lives of New Yorkers from all walks of life. We invite you to join us. North Star Fund has been recognized by the Internal Revenue Service as a not-for-profit public charity under Section 501(c)(3) of the Internal Revenue Code. Contributions to the Neediest Cases Fund are tax-deductible to the extent permitted by law. Our federal tax identification number is 13-2950801. - See more at: https://northstarfund.org/give/donate/donate-now/#sthash.OM5Ac30V.dpuf
      </div>
      <div id="myDiv"></div>

</apex:page>