<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" controller="Cntrl_AngularOnlineDonation">

<c:content />
<style>
    .form1
    {
        width:700px;
        margin-top:40px; 
        margin-left:20px; 
        font-family: 'Open Sans', sans-serif;"
    }
    .defaultText
    {
        font-family: 'Open Sans', sans-serif; 
        font-size:18px; 
        margin-top:15px;
    }
</style>

    <script type="text/javascript">
       /* var angDonate = angular.module('angDonate',[]);
        function donateController($scope){
            
            $scope.Designation = [
                { label: 'Undesignated', value: 'None'},
                { label: 'Sean Sasser Endowment Fund', value: 'SSEF'},
                { label: 'Empowered Community Grants Program', value: 'ECGP'}
                
            ];
            $scope.defaultDesignation = $scope.Designation[0].value;
            $scope.Dedication = [
              {label:'No Dedication', value:'No Dedication'},
              {label:'In Honor of:', value:'In Honor of:'},
              {label:'In Memory of:', value:'In Memory of'}
            ];
            $scope.defaultDedication = $scope.Dedication[0].value;
            Cntrl_AngularOnlineDonation.getInitialValues(function(result,event){
                $scope.records = result;
                $scope.$apply();
            });
        }*/
        
    </script>
    <div ng-app="AppDonate">
    <div ng-controller="donationController">
{{records}}
        <form class="form1" name="form" novalidate="true" >
            <!-- ----Donation Amount---- -->
            <div class="row" style="margin-top:0px;">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span id="divDoller" class="input-group-addon" style=" font-size:x-large; color:gray; background-color:#fff; border-right:0px;">$</span>
                        <input id="Amount" ng-model="records.item.UnitPrice" placeholder="Amount" class="form-control input-lg" style="text-align:center; border-left:0px; border-right:0px;"/>
                        <span id="usdLabel" class="input-group-addon" style="font-size: x-large; color:gray; background-color:#fff; border-left:0px;">USD</span>
                        <span class="input-group-addon" style=" font-size:large; font-weight:bold; color:white; background-color:#5bc0de; border-color:#5bc0de; border-left:0px;">
                        <input type="checkbox" id="chkRecurring" style="margin-right:5px;"/>Make it Monthly</span>
                    </div>
                </div>
            </div>
            
            <!--  ----Designation---- -->
            <div class="defaultText">Designation</div>
            <div class="row" style="margin-top:0px;">
                <div class="col-lg-12" >
                    <select ng-model="defaultDesignation" ng-options="option.value as option.label for option in Designation" id="DesignationType" class="form-control input-lg"></select>
                </div>
            </div>
           
   
            <!-- ----Dedication----- -->
            <div  class="defaultText">Dedication</div>
            <div class="row" style="margin-top:0px;">
                <!-- ----Dedication Type---- -->
                <div class="col-lg-4"  >
                    <select ng-model="defaultDedication" ng-options="option.value as option.label for option in Dedication"  class="form-control input-lg" id="dedicatedTo" ></select>
                </div> 
                <!-- ----Dedication Type Name Input Field---- -->
                <div class="col-lg-8 " id="divDedicatedName" style="display:none;" >
                    <input type="text" class="form-control input-lg" size="25" maxlength="40" />
                </div>
            </div>
            
            <!-- Credit Card Number, CVV, ExpirationDate --> 
            <div class="row"  style="margin-top:40px;">
            
                <div class="col-lg-6" id="cardLabel" ><input type="text" ng-model="records.PaymentMethod.CardNumber" id="CCNumber" class="form-control input-lg"  placeholder="Credit Card Number" /></div>
                <div class="col-lg-2" id="cvvLabel" ><input type="text" ng-model="records.PaymentMethod.Cvv2" id="CVV" class="form-control input-lg" placeholder="CVV" /></div>
               
                  <div class="col-lg-4" id="expiryDateLabel">
                    <!--  <div class="input-group" style="width:100%;" >-->
                    <div class="input-group" style="width:100%;">
                        <div>
                            <select ng-model="records.PaymentMethod.ExpirationMonth" ng-options="option for option in records.ExpireMonth" id="selectMonth"  style="width:100px;border-top-left-radius: 6px;
border-bottom-left-radius: 6px;" class="form-control input-lg"/>
                        </div>
                        <div>
                            <select ng-model="records.PaymentMethod.ExpirationYear" ng-options="option for option in records.ExpireYear" id="selectYear"  style="width:113px;border-top-right-radius: 6px;
border-bottom-right-radius: 6px;" class="form-control input-lg"/>
                       </div> 
                    </div> 
                </div>
            </div>
            
            <!--  ----firstname and lastname---- -->
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-6" id="fnameLabel" >{{records.BillingInfo.BillingFirstName}}<input type="text" ng-model="records.BillingInfo.BillingFirstName" placeholder="First Name" id="fname" class="form-control input-lg" maxlength="50" required="true" /></div>
                <div class="col-lg-6" id="lnameLabel" > {{records.BillingInfo.BillingLastName}}<input type="text" ng-model="records.BillingInfo.BillingLastName" placeholder="Last Name" id="lname" class="form-control input-lg" maxlength="50" required="true" /></div>
                
            </div>
            
            <!-- ----Email & Phone---- -->
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-6 hidepopover" id="emailLabel">
                    <input type="text" ng-model="records.BillingInfo.BillingEmail" id="email" name="email" class="form-control input-lg" placeholder="Your@email.com" maxlength="50" required="true" />
                     <div ng-show="form.email.$dirty && form.email.$invalid">Invalid:
                      <span ng-show="form.email.$error.required">Tell us your email.</span>
                      <span ng-show="form.email.$error.email">This is not a valid email.</span>
                    </div>
                </div>
                <div class="col-lg-6 hidepopover" id="phoneLabel"><input type="text" ng-model="records.BillingInfo.BillingPhone" id="Phone" class="form-control input-lg" placeholder="Phone"  /></div>
            </div> 
            
            <!-- ----Address---- -->  
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-12" id="addressLabel"><input type="text" ng-model="records.BillingAddress.BillingAddress1" id="Address" class="form-control input-lg "  placeholder="Address" maxlength="100"/></div>
            </div>
            
            <!-- ----City & Postal Code---- -->  
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-6" id="cityLabel"><input type="text" ng-model="records.BillingAddress.BillingCity" id="City" class="form-control input-lg" placeholder="City"  maxlength="50" /></div>
                <div class="col-lg-6" id="postalLabel"><input type="text" ng-model="records.BillingAddress.BillingPostalCode" id="Postal" class="form-control input-lg" placeholder="Postal Code" maxlength="7" /></div>
            </div>
            
            <!-- ----Submit---- -->
            <div class="row" style="margin-top:40px;">
                <div class="col-md-12">
                  <button type="button" value="Donate" class="btn btn-info btn-block btn-lg" style="font-size:x-large; font-weight:bold;">Donate</button>
                </div>
            </div>
            
        </form>
        </div>
        </div>

</apex:page>