<apex:page sidebar="false"
    showHeader="false" standardStylesheets="false" docType="html-5.0"
    language="en-US" applyHTMLTag="false">

<head>

<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen"></link>
<link href="//getbootstrap.com/examples/signin/signin.css" rel="stylesheet" media="screen"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link>

<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>

<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div class="container">
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
      <div class="col-lg-12" style="margin-top: 4%;" id="div1">
         <h2> Donate Now</h2>        
        </div><br></br><br></br>
        <div class="row" style="padding-bottom: 52px;">   
         <div class="col-lg-12" style="margin-top: -4%;">
           <div id="btn1" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 9%;font-size: x-large;" onclick="buttonOn('btn1')">$20</div>
           <div id="btn2" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 9%;font-size: x-large;" onclick="buttonOn('btn2')">$10</div>
           <div id="btn3" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 9%;font-size: x-large;" onclick="buttonOn('btn3')">$5</div>         
         </div>
       </div>
       <div class="row" style="margin-top: 1%;">
          <div class="col-lg-12">
           <div id="btn4" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 9%;font-size: x-large;" onclick="buttonOn('btn4')">$3</div>
          <!-- 
           <span id="divDoller" class="input-group-addon"
                            style="font-size: x-large; color: gray; background-color: #fff; border-right: 0px;">$</span>
                             -->
            <input type="text" id="amount-other-input" class="form-control" value="" placeholder="Other amount" style="width: 18%;margin-top: -4.5%; margin-left: 9%;height: 3.5em;" /> 
         </div>
        </div><br></br><br></br>
         <div class="col-lg-12">
   <!--<apex:image value="https://www.govpaynet.com/library/files/webtools/buttons-logos/Click_to_PayCards1.jpg" style="width: 32%;height: 5em;" />-->
        <button id="mybtn">Click Me</button>
        </div>
        <!-- Second div  for information of donor page-->
        
         <div class="col-lg-12" style="margin-top: 14%;display:none;" id="div2">
        		
        	<div class="row" style="margin-top: 8%;">
        		<input type="email" class="form-control" placeholder="Email" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;" >
        		</input>
        	</div>
        
        	<div class="row" style="margin-top: 14%;">
        		<input type="Name" class="form-control" placeholder="Name" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;" >
        		</input>
        	</div>
        	
        	<div class="row" style="margin-top: 14%;">
        		<input type="Address" class="form-control" placeholder="Address" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;" >
        		</input>
        	</div>
        
        </div>
  </div>

</div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
var btn1  = document.getElementById("mybtn");
var content = document.getElementById("div2");
var content1 = document.getElementById("div1");
//console.log(btn1);
btn1.onclick = function() {
debugger;
    //alert("hi")    
    content.style.display = "block";
    content1.style.display = "none";
    //e.preventDefault();
}
// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<style>
.btn-info {
        border-radius: 0;
        font-family: 'Open Sans';
        background-color: #999999;
        border-color: #999999;
        background:none;
    }
    
.btnCustom{
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    
    color: #333;
    margin: 1px;
    padding: 2px 3px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
     background: none;
    font-weight: bold;
    font-size: .9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.col-lg-12{
    margin-left: 6%;
      
}

.off{
	background-color:#fff;
	color:#333;
}

.on{
	background-color:#5bc0de;
	color:#fff;
}
</style>
<script type="text/javascript">
/*function myFunction() {
  window.location.href = "https://c.na15.visual.force.com/apex/demo" 
}*/
  
function buttonOn(id){
debugger;
  for(var iter = 1 ; iter < 5 ; iter++)
  {
	if(id == 'btn'+iter)
	{
	  var theButton = document.getElementById('btn'+iter);
	  theButton.classList.remove("off");
	  theButton.classList.add("on");
	  console.log(id+'btn is on ');
	}
	else
	{
	  var theButton = document.getElementById('btn'+iter);
	  theButton.classList.remove("on");
	  theButton.classList.add("off");
	  console.log(id+'btn is off ');
	}
  }
}
   
</script>

</body>





</apex:page>