<apex:page showheader="false" sidebar="false" standardStylesheets="false" controller="OnlineDonationsDev" docType="html-5.0">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" />

    <!--jQuery CSS-->
<!--    <apex:stylesheet value="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/> -->
   
    <!--jQuery JS-->
<!--    <apex:includeScript value="//code.jquery.com/jquery-1.9.1.js"/>-->
<!--    <apex:includeScript value="//code.jquery.com/ui/1.10.3/jquery-ui.js"/>     -->
   
    
<!--
<apex:stylesheet value="{!URLFOR($Resource.Bootstrap3, 'bootstrap3/css/bootstrap.min.css')}"/>
<apex:includescript value="{!URLFOR($Resource.Bootstrap3, 'bootstrap3/js/bootstrap.js')}"/>
<apex:includescript value="{!URLFOR($Resource.Bootstrap3, 'bootstrap3/js/bootstrap.min.js')}"/>
-->

<!-- Load Bootstrap -->
<!-- Latest compiled and minified CSS -->
<apex:stylesheet value="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<apex:stylesheet value="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

<!-- Latest compiled and minified JavaScript -->
<apex:includeScript value="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" />

<!-- jQuery Validate -->
<apex:includeScript value="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" />

<!-- jQuery Validate with Bootstrap Tooltips-->
<apex:includescript value="{!URLFOR($Resource.BootstrapTooltip, 'BootstrapTooltip/jquery-validate.bootstrap-tooltip.js')}"/>


<script type="text/javascript"> 
  
//Web Fonts
WebFontConfig = {
  //google: { families: [ 'Alegreya+Sans+SC::latin' ] }
  //google: { families: [ 'Cardo::latin' ] }
  google: { families: [ 'Nixie One::latin' ] }
};
(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();


    jQuery=$.noConflict();
  
    jQuery(document).ready(function() {   // Pass params into the controller




        // A validator custom function to make sure the prefill text is not submitted
        jQuery.validator.addMethod("notEqual", function(value, element, param) {
          return this.optional(element) || value != param;
        }, "Please specify a different (non-default) value");
     
      jQuery('[id$=form1]').validate();          

        jQuery('[id$=FirstName]').rules("add",{
            required: true,
            notEqual: "First Name",
            messages: {
              required: "First name is required.",
              notEqual: "First name is required."
            }
        });    
            
        jQuery('[id$=LastName]').rules("add",{
            required: true,
            notEqual: "Last Name",
            messages: {
              required: "Last name is required.",
              notEqual: "Last name is required."
            }
        });    
        
        jQuery('[id$=Email]').rules("add",{
            required: true,
            email: true,
            notEqual: "your@email.com",
            messages: {
              required: "Email is required.",
              email: "Please enter a valid email.",
              notEqual: "Please enter a valid email."
            }
        }); 

        jQuery('[id$=Phone]').rules("add",{
            required: true,
            phoneUS: true,
            notEqual: "Phone",
            messages: {
              required: "Phone is required.",
              notEqual: "Phone is required."
            }
        }); 

        jQuery('[id$=Address]').rules("add",{
            required: true,
            notEqual: "Street Address",
            messages: {
              required: "Street Address is required.",
              notEqual: "Street Address is required."
            }
        }); 

        jQuery('[id$=City]').rules("add",{
            required: true,
            notEqual: "City",
            messages: {
              required: "City is required.",
              notEqual: "City is required."
            }
        });

        jQuery('[id$=Postal]').rules("add",{
            required: true,
            notEqual: "Postal Code",
            messages: {
              required: "Postal Code is required.",
              notEqual: "Postal Code is required."
            }
        });  

        jQuery('[id$=CCNumber]').rules("add",{
            required: true,
            notEqual: "Credit Card Number",
            messages: {
              required: "Credit Card Number is required.",
              notEqual: "Credit Card Number is required."
            }
        });  

        jQuery('[id$=CVV]').rules("add",{
            required: true,
            notEqual: "Card Verification (CVV)",
            messages: {
              required: "CVV is required.",
              notEqual: "CVV is required."
            }
        });  
            
        
        Prefill();
    });

     // Clear prefill text and change text color to black
    function updateHelpText(field, string){
        jQuery("[id$="+field+"]").val(string);
        jQuery("[id$="+field+"]").css("color","black");
    }
    
    // Prefill the form with placeholder text
    // Bootstrap placeholder text not compatible with apex inputs
    function Prefill(){ 
      jQuery("[id$=FirstName]").val('First Name');
      jQuery("[id$=FirstName]").css("color","gray");
      jQuery("[id$=LastName]").val('Last Name');
      jQuery("[id$=LastName]").css("color","gray");
      jQuery("[id$=Email]").val('Your@email.com');
      jQuery("[id$=Email]").css("color","gray"); 
      jQuery("[id$=Phone]").val('Phone');
      jQuery("[id$=Phone]").css("color","gray");
      jQuery("[id$=Address]").val('Address');
      jQuery("[id$=Address]").css("color","gray");
      jQuery("[id$=City]").val('City');
      jQuery("[id$=City]").css("color","gray");
      jQuery("[id$=Postal]").val('Postal Code');
      jQuery("[id$=Postal]").css("color","gray"); 
      jQuery("[id$=CCNumber]").val('Credit Card Number');
      jQuery("[id$=CCNumber]").css("color","gray"); 
      jQuery("[id$=CVV]").val('CVV');
      jQuery("[id$=CVV]").css("color","gray"); 
    }
</script>   

<style>
.form-control{

    font-family: 'Nixie One', serif;
    }
    
.row { margin-top:40px; }

.blocks .btn-primary 
{
 /*   padding: 36px 30px;
    margin: 0 8px;  */
    width:100px;
    height:100px;
    margin-right:8px;
    border-radius: 0;
}

</style>


    <apex:form id="form1" styleclass="form1" style="width:600px;"> 
      <h2> Updated Donation Form</h2>
      
<h3 class="text-left" style="margin-top:40px;">Credit Card Info</h3>

<!-- Card Number, CVV, Expiration --> 
<div class="row"  style="margin-top:20px;">
  <div class="col-md-6"><apex:inputText value="{!PaymentMethod.CardNumber}" id="CCNumber" styleClass="form-control input-lg" onfocus="updateHelpText('CCNumber','');" /></div>
  <div class="col-md-2"><apex:inputText value="{!PaymentMethod.Cvv2}" id="CVV" styleClass="form-control input-lg" onfocus="updateHelpText('CVV','');" /></div>
  <div class="col-md-4">
    <div class="input-group" style="width:100%; ">
<!--  
    <apex:selectlist value="{!PaymentMethod.ExpirationMonth}" size="1" style="width:180px; float:right;" styleclass="form-control input-lg" >
      <apex:selectOptions value="{!cnpxmlstring.ExpireMonth}"/>
    </apex:selectlist>
    -->
    
    <select class="form-control input-lg" style="width:79px;">
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option>01</option>
    
    <option>01</option>
    </select>
    <apex:selectlist value="{!PaymentMethod.ExpirationYear}" size="1" style="width:100px;" styleclass="form-control input-lg">             
       <apex:selectOptions value="{!cnpxmlstring.ExpireYear}"/>
    </apex:selectlist> 
  </div> 
  </div>

 </div>


              

  
<h3 class="text-left" style="margin-top:40px;">Donor Info</h3>
<!-- First& Last Name -->   
<div class="row" style="margin-top:20px;">
 <div class="col-md-12">
  <div class="input-group">
     <apex:inputText value="{!BillingInfo.BillingFirstName}" id="FirstName" style="width:300px;" required="true" styleClass="form-control input-lg pull-left" onfocus="updateHelpText('FirstName','');" />
     <apex:inputText value="{!BillingInfo.BillingLastName}" id="LastName"  style="width:300px;"  styleClass="form-control input-lg pull-left" onfocus="updateHelpText('LastName','');" />
  </div> 
 </div> 
</div>


<!-- Email & Phone -->
<div class="row">
  <div class="col-md-6"><apex:inputText value="{!BillingInfo.BillingEmail}" id="Email" styleClass="form-control input-lg" onfocus="updateHelpText('Email','');" /></div>
  <div class="col-md-6"><apex:inputText value="{!BillingInfo.BillingPhone}" id="Phone" styleClass="form-control input-lg" onfocus="updateHelpText('Phone','');" /></div>
</div>  
       
<!-- Address 1 -->  
<div class="row">
  <div class="col-md-12"><apex:inputText value="{!BillingAddress.BillingAddress1}" id="Address" styleClass="form-control input-lg" onfocus="updateHelpText('Address','');" /></div>
</div>

<!-- City & Postal Code-->  
<div class="row">
  <div class="col-md-6"><apex:inputText value="{!BillingAddress.BillingCity}" id="City" styleClass="form-control input-lg" onfocus="updateHelpText('City','');" /></div>
  <div class="col-md-6"><apex:inputText value="{!BillingAddress.BillingPostalCode}" id="Postal" styleClass="form-control input-lg" onfocus="updateHelpText('Postal','');" /></div>
</div>

<!-- Country -->
<div class="row">
  <div class="col-md-6">
    <apex:selectlist value="{!BillingAddress.BillingStateProvince}" size="1" id="State" styleClass="form-control input-lg" > 
      <apex:selectOptions value="{!cnpxmlstring.UsStates}"/>
    </apex:selectlist>
  </div>
  <div class="col-md-6">
    <apex:selectlist value="{!BillingAddress.BillingCountryCode}" id="Country" styleClass="form-control input-lg" size="1">             
      <!--   <apex:actionSupport event="onchange" oncomplete="clearThis('province')" reRender="contactInfoBlock" />               -->
      <apex:selectOptions value="{!cnpxmlstring.CountryCodes}"/>
    </apex:selectlist>
  </div>
</div>

 
         <!--

<h3 class="text-left" style="margin-top:40px;">Credit Card Info <small>Select your donation amount</small></h3>
<div class="container" >
<div class="btn-group blocks" data-toggle="buttons" style="margin-left:-15px;">
  <label class="btn btn-primary ">
    <input type="radio" name="options" id="option1" /><h2>$50</h2>
  </label>
    <label class="btn btn-primary ">
    <input type="radio" name="options" id="option1" /><h2>$100</h2>
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" /><h2>$250</h2>
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" /><h2>$500</h2>
  </label>
  <label class="btn btn-primary"> 
    <input type="radio" name="options" id="option3" style="margin:0;"/><h3 style="padding-top:7px;" >Other</h3>
  </label>

</div>
</div>

-->


    <!--    <apex:commandButton value="Donate" immediate="false" action="" styleclass="btn btn-large" />  -->

      

        
    </apex:form>

</apex:page>