<apex:page sidebar="false"
    showHeader="false" standardStylesheets="false" docType="html-5.0"
    language="en-US" applyHTMLTag="false">

<head>

<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    
<script src="https://code.jquery.com/jquery-git.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen"></link>
<link href="//getbootstrap.com/examples/signin/signin.css" rel="stylesheet" media="screen"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link>

<style type="text/css">

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 7% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modalCustom{
        max-width: 35%;
        max-height: 33em;
        border-radius: 2%;
        margin-left: 40%;
        margin-top: 5; 
        margin-top: 5%;
        background-color:#BDBDBD;"
    }
    .errfn
    {
         color: red;
    }
    
</style>
</head>
<body >

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal" style="z-index:99999">
  <!-- Modal content -->
  <div class="modal-content" style="width:35%">
    <span class="close">x</span>
    
     <!--   <p> -->
  <div class="container">
     <form  class="form-horizontal" id="paymentform" style="width:35%"> 
     <div class="col-lg-12" style="display:block;" id="div1">     
        <div class="col-lg-12" style="margin-top: 4%;">
         <h2> Donate Now</h2>        
        </div><br></br><br></br>
        <div class="row" style="padding-bottom: 52px;">   
         <div class="col-lg-12" style="margin-top: -4%;">
           <div id="btn1" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 26%;font-size: x-large;" onclick="buttonOn('btn1')">$20</div>
           <div id="btn2" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 26%;font-size: x-large;" onclick="buttonOn('btn2')">$10</div>
           <div id="btn3" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 26%;font-size: x-large;" onclick="buttonOn('btn3')">$5</div>         
         </div>
       </div>
       <div class="row" style="margin-top: 1%;">
          <div class="col-lg-12">
           <div id="btn4" class="btnCustom col-lg-3 btn-info" style="height: 2em;width: 26%;font-size: x-large;" onclick="buttonOn('btn4')">$3</div>
           <!-- 
           <span id="divDoller" class="input-group-addon"
                            style="font-size: x-large; color: gray; background-color: #fff; border-right: 0px;">$</span>
                             -->
           <input type="text" id="amount-other-input" class="form-control" value="" placeholder="Other Amount" style="width: 53%;margin-top: -12.5%; margin-left: 28%;height: 3.5em;" /> 
         <span id="erramount" style="color:red;margin-left: -26%;"></span> 
         </div>
        </div><br></br><br></br>
        <div class="col-lg-12" style="margin-top: -4%; margin-left: 4%;">
         <input type="radio" name="type" id="onetime" value="type" />&nbsp;One Time &nbsp;
         <input type="radio" name="type" id="monthly" value="type" />&nbsp;Monthly <br></br>  
        <span id="errradio" style="color:red;"></span> 
        </div><br></br><br></br>
        
        <div class="col-lg-12">
          <h2 style="margin-top: -8%;">Choose Payment</h2>          
        </div><br></br>
        <div class="col-lg-12" style="margin-top: -4%;">
           <p style="margin-right: 8%;">
           Your payment details will be processed by secured payment gateway.
           </p>
        </div>
        <div class="col-lg-12">
        <input type="image" src="https://www.govpaynet.com/library/files/webtools/buttons-logos/Click_to_PayCards1.jpg" id="mybtn" height="50em" width="83%" />       
   <!--  <apex:image value="https://www.govpaynet.com/library/files/webtools/buttons-logos/Click_to_PayCards1.jpg" style="width: 32%;height: 5em;" id="mybtn"/>-->
          </div>
        <!-- Second div  for information of donor page-->
        </div>
         <div class="col-lg-12" style="margin-top: 14%;" id="div2">
                <button type="button" class="btn btn-link" style="margin-top: -36%;margin-left: -21%;color: #999;" id="backbtn">Back</button>
            <div class="row" style="margin-top: 8%;">
                <input type="email" id="email1" class="form-control" placeholder="Email" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input>  <span id="erremail" style="color:red;"></span>                          
            </div>
        
            <div class="row" style="margin-top: 14%;">
                <input type="Name" id="name1" class="form-control" placeholder="Name" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input><span id="errname" style="color:red;"></span> 
            </div>
            
            <div class="row" style="margin-top: 14%;">
                <input type="Address" id="address1" class="form-control" placeholder="Address" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input><span id="erraddr" style="color:red;"></span>
   
            </div>
            <div class="row" style="margin-top: 14%;">
                <input type="Address" id="pincode" class="form-control" placeholder="Pincode" style="width: 45%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input>
                  <input type="Address" id="city" class="form-control" placeholder="City" style="width: 45%;margin-top: -12.3%; margin-left: 45%;height: 3.5em;">
                </input>
                <span id="errcitypin" style="color:red;"></span>
   
            </div>
            <div class="row" style="margin-top: 14%;">
                <input type="Address" id="country" class="form-control" placeholder="Country" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input> <span id="errcountry" style="color:red;"></span>
   
            </div>
            
            <div class="row" style="margin-top:16;">
              <button type="button" id="btnpayinfo" class="btn btn-default" style="color: white; border-color: #269abc;background-color: #39b3d7;width: 90%;margin-top: 1%; height: 1.7em;font-size: 28px;"> Payment Info</button>
            </div>
        </div>
        
        <div class="col-lg-12" style="margin-top: 14%;" id="div3">
                <button type="button" class="btn btn-link" style="margin-top: -36%;margin-left: -21%;color: #999;" id="backbtn2">Back</button>
            <div class="row" style="margin-top: 8%;">
                <input type="number" id="cardno" class="form-control" placeholder="Creadit Card Number" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input>  <span id="errcardno" style="color:red;"></span>                           
            </div>
        
            <div class="row" style="margin-top: 0.7%;">             
               <!--  <input type="month" min="today()" id="expdate" class="form-control" placeholder="MM/YY" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input>  <span id="errexpdate" style="color:red;"></span> -->
                <select name="month" id="ddlMonth" style="width: 45%;height: 3.4em;">
                   <option value="select">--Select Month--</option>
				    <option value="01">01</option>
				    <option value="02">02</option>
				    <option value="03">03</option>
				    <option value="04">04</option>
				    <option value="01">05</option>
				    <option value="02">06</option>
				    <option value="03">07</option>
				    <option value="04">08</option>
				    <option value="01">09</option>
				    <option value="02">10</option>
				    <option value="03">11</option>
				    <option value="04">12</option>
			   </select>
			    <select name="Year" id="ddlYear" style="width: 44%;height: 3.4em;">
			        <option value="select">--Select Year--</option>
				    <option value="2016">2016</option>
				    <option value="2017">2017</option>
				    <option value="2018">2018</option>
				    <option value="2019">2019</option>
				    <option value="2020">2020</option>
				    <option value="2021">2021</option>
				    <option value="2022">2022</option>
				    <option value="2023">2023</option>
				    <option value="2024">2024</option>
				    <option value="2025">2025</option>
				    <option value="2026">2026</option>
				    <option value="2027">2027</option>
			   </select><span id="errexpdate" style="color:red;"></span>
             </div>
             <div class="row" style="margin-top: 14%;">   
                <input type="number" id="cvcno" class="form-control" placeholder="CVV" style="width: 90%;margin-top: -12.5%; margin-left: 0%;height: 3.5em;">
                </input> <span id="errcvcno" style="color:red;"></span>              
            </div>     
            <div class="row" style="margin-top: 14%;">
                <button type="button" id="btnpayinfo1" class="btn btn-default" style="color: white; border-color: #269abc;background-color: #39b3d7;width: 90%;margin-top: -18%; height: 1.7em;font-size: 28px;"></button>
             </div>
            </div>
        
      </form>
  </div>
<!--  </p> -->
   
 </div>
</div>
<script type="text/javascript">
(function(){
debugger;
// Get the modal
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
var clicktopaynow  = document.getElementById("mybtn");
var div2 = document.getElementById("div2");
var div1 = document.getElementById("div1");
var div3 = document.getElementById("div3");
var backbtn=document.getElementById("backbtn");
var backbtn2=document.getElementById("backbtn2");
var payinfo=document.getElementById("btnpayinfo");
var payinfodiv3=document.getElementById("btnpayinfo1");
var otheramount=document.getElementById("amount-other-input").value;
if (document.activeElement.nodeName == 'INPUT')
{
var albtn1= $( "#btn1" ).hasClass( "on" );
console.log(albtn1);
  if(albtn1==true)
  {
        //$( "#btn1" ).addClass("off");
      var theButton = document.getElementById("btn1");
      theButton.classList.remove("on");
      theButton.classList.add("off"); 
   }
}
$("#div2").hide();
$("#div3").hide();
validateDiv1=function()
{
var amount =  document.getElementById("amount-other-input").value; 
var bt1val=$( "#btn1" ).hasClass( "off" );
var bt2val=$( "#btn2" ).hasClass( "off" );
var bt3val=$( "#btn3" ).hasClass( "off" );
var bt4val=$( "#btn4" ).hasClass( "off" );
console.log(bt1val);
if(amount=="" && bt1val==false && bt2val==false && bt3val==false && bt4val==false)
  {
     
   document.getElementById('erramount').innerHTML="Please Select Amount";
    return false;    
  }
  else 
    document.getElementById('erramount').innerHTML="";  
   if(!$('#onetime').is(':checked') && !$('#monthly').is(':checked'))
   {
     document.getElementById('errradio').innerHTML="Please Select Eigther One Time/ Monthly";
     return false;     
   }
   else
   {
    document.getElementById('errradio').innerHTML="";
    return true;
    }
 
}
 
clicktopaynow.onclick = function(event) 
{
  if(validateDiv1())
  {
     //alert("hi")    
    $("#div1").hide();
 	 //div2.style.display = "block"; 	
 	 $("#div2").slideDown('slow');	
	 //div3.style.display = "none";	
	 event.preventDefault(); 
  }
	 else
	 {
	  event.preventDefault(); 
	 }
 
}
validateDiv2=function()
{
  var em =document.getElementById("email1").value;
  var nm =document.getElementById("name1").value;
  var addr =document.getElementById("address1").value;
  var pin =document.getElementById("pincode").value;
  var city =document.getElementById("city").value;
  var country = document.getElementById("country").value;
  var re = 	/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  if(em == "" || !re.test(em))
  {
     document.getElementById('erremail').innerHTML="Please Enter Valid Email Id";
     return false;
  }
  else 
    document.getElementById('erremail').innerHTML="";
  
  if(nm == "")
  {
     document.getElementById('errname').innerHTML="Please Enter Your Name.";
     return false;
  }
  else 
        document.getElementById('errname').innerHTML="";
    
  if(addr == "")
  {
     document.getElementById('erraddr').innerHTML="Please Enter Your Address.";
     return false;
  }
  else   
      document.getElementById('erraddr').innerHTML="";
    
   if(pin == "")
  {
     document.getElementById('errcitypin').innerHTML="Please Enter Valid Pincode.";
     return false;
  }
  else 
        document.getElementById('errcitypin').innerHTML="";
if(city == "")
  {
     document.getElementById('errcitypin').innerHTML="Please Enter City.";
     return false;
  }
  else 
        document.getElementById('errcitypin').innerHTML="";
if(country == "")
  {
     document.getElementById('errcountry').innerHTML="Please Select Your Country.";
     return false;
  }
  else 
  {
        document.getElementById('errcountry').innerHTML="";
      return true;
   }
        
}
payinfo.onclick = function(event) {
    //alert("hi")    
    //div1.style.display = "none";   
    //div2.style.display = "none";
    var btnamount=document.getElementById("amount-other-input").value;
    var btn1val=$( "#btn1" ).hasClass( "on" );
	var btn2val=$( "#btn2" ).hasClass( "on" );
	var btn3val=$( "#btn3" ).hasClass( "on" );
	var btn4val=$( "#btn4" ).hasClass( "on" );
	  
   if(btn1val== true)
    {
      var btn1text=$('#btn1').text();
      console.log(btn1text);
      document.getElementById('btnpayinfo1').innerHTML ='Pay '+btn1text;
    }
    if(btn2val== true)
    {
      var btn2text=$('#btn2').text();      
      document.getElementById('btnpayinfo1').innerHTML ='Pay '+btn2text;
    }
    if(btn3val== true)
    {
      var btn3text=$('#btn3').text();      
      document.getElementById('btnpayinfo1').innerHTML ='Pay '+btn3text;
    }
    if(btn4val== true)
    {
      var btn4text=$('#btn4').text();      
      document.getElementById('btnpayinfo1').innerHTML ='Pay '+btn4text;
    }
    if(btnamount != "")
      document.getElementById('btnpayinfo1').innerHTML ='Pay $'+btnamount;
    if(validateDiv2())
    {
       //alert("hi");
      $("#div2").hide();
      $("#div3").slideDown('slow');
      event.preventDefault();
    }
   
}
validateDiv3=function()
{
  var cardNo= document.getElementById("cardno").value;
  var CVC= document.getElementById("cvcno").value;  
  var cardnoLength=cardNo.length;
  var ddlmonth=document.getElementById("ddlMonth").value;  
  var ddlyear=document.getElementById("ddlYear").value;
 if(cardNo == "" || cardnoLength>16)
  {
     document.getElementById('errcardno').innerHTML="Invalid Card Number";
     return false;
  }
  else 
     document.getElementById('errcardno').innerHTML="";
 if(ddlmonth == "select")
  {
     document.getElementById('errexpdate').innerHTML="Please Select Expiry Month";
     return false;
  }
  else 
        document.getElementById('errexpdate').innerHTML="";
 if(ddlyear == "select")
  {
     document.getElementById('errexpdate').innerHTML="Please Select Expiry Year";
     return false;
  }
  else 
        document.getElementById('errexpdate').innerHTML="";     
 
  if(CVC == "")
  {
     document.getElementById('errcvcno').innerHTML="Please Enter CVV Number";
     return false;
  }
  else 
  {
        document.getElementById('errcvcno').innerHTML="";
       return true;
  }
}

payinfodiv3.onclick = function(event) {
validateDiv3();
event.preventDefault();
}
backbtn.onclick = function(event) {
    //alert("hi")    
   // div2.style.display = "none";
   $("#div2").hide();
   // div1.style.display = "block";
   $("#div1").slideDown('slow');
    event.preventDefault();
}
backbtn2.onclick = function(event) {
    //alert("hi")    
    //div1.style.display = "none";
    $("#div1").hide();
    //div2.style.display = "block";
    $("#div2").slideDown('slow');
    //div3.style.display = "none";
    $("#div3").hide();
    event.preventDefault();
}


btn.onclick = function() {
    modal.style.display = "block";
    //modal.style.z-index = 999999;
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} 

})();
</script>
<style>
.btn-info {
        border-radius: 0;
        font-family: 'Open Sans';
        background-color: #999999;
        border-color: #999999;
        background:none;
    }
    
.btnCustom{
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    
    color: #333;
    margin: 1px;
    padding: 2px 3px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
     background: none;
    font-weight: bold;
    font-size: .9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.col-lg-12{
    margin-left: 6%;
      
}

.off{
    background-color:#fff;
    color:#333;
}

.on{
    background-color:#5bc0de;
    color:#fff;
}
*/
</style>
<script type="text/javascript">
/*function myFunction() {
  window.location.href = "https://c.na15.visual.force.com/apex/demo" 
}*/
  
function buttonOn(id){
debugger;
  for(var iter = 1 ; iter < 5 ; iter++)
  {
    if(id == 'btn'+iter)
    {
      var theButton = document.getElementById('btn'+iter);
      theButton.classList.remove("off");
      theButton.classList.add("on");
      //console.log(id+'btn is on ');
    }
    else
    {
      var theButton = document.getElementById('btn'+iter);
      theButton.classList.remove("on");
      theButton.classList.add("off");
      //console.log(id+'btn is off ');
    }
  }
}
   
</script>

</body>

</apex:page>