<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false"  standardController="GW_Volunteers__Volunteer_Shift__c" extensions="EventAttendController" >

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 user-scalable=no" />

<apex:styleSheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<!-- Load Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:800italic,400' rel='stylesheet' type='text/css'></link>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'></link>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'></link>


<apex:stylesheet value="{!URLFOR($Resource.Event_Attendance,'/toaster.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.Event_Attendance,'/toaster.js')}"></apex:includeScript>
<apex:includeScript value="{!URLFOR($Resource.Event_Attendance,'/jquery.validate.js')}"></apex:includeScript>

<!-- CSS Styles --> 
<style> 
html {height:100%;}

body {background-color:black; height:100%;
 overflow-y: auto;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:4.5em;
	font-weight:700;
	margin:0;
}

body.modal-open {
	overflow: hidden;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:2.5em;
	font-weight:700;
	color:#0c426a;
	margin-top:15px; 
	padding-top:15px; 
}

h3 {
	font-family: 'Open Sans';
	font-size:1.2em;
	font-weight:400;
	margin-bottom:10px;
	margin-top:8px;
	margin-bottom:10px;
}

.container {
	background-image:url('{!URLFOR($Resource.Event_Attendance,'/TMC_Background.png')}');
	background-repeat: repeat;
	padding:0px;
	min-height:100%;
	overflow:hidden; 
}

.row {
	margin:0;
} 
	
.input-lg {
	height: 46px;
/*	padding: 10px 16px;*/
	font-size: x-large;
 /* line-height: 1.33;*/
	border-radius: 0px;
}

.error {
	border-color:red;
}

.success {
	border-color:green;
}

.invalid{
	border-color: #E9322D!important;
	box-shadow: 0 0 6px #F8B9B7!important;
}

#emailLabel {
	 /* width:81%;
	float:left;
	display:inline;		*/
}

.progress-bar.animate {
	width: 100%;
	overflow: hidden;
}

#Header {
	background-color:white;
	width:100%;
	padding:25px 0; 
}

.Attendees {
	font-size:2em;
	font-family:Open Sans 400;
	text-align:center;
	text-overflow:ellipsis;
	color:white;
	cursor: pointer;
	padding-top:1.5em;
	height:5em;
	overflow:hidden;
	/* Disable Text Selection */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/ cursor: pointer;

}

.AttendeesContainer {

	padding:15px;

}

#RegisterdAffiliate{
	margin-bottom:-9999px;
	padding-bottom:9999px;
}

.modal { overflow-y: auto; }
.modal-open {
	overflow: hidden;
}

 @media(max-width: 520px) {
	h1{
	font-size:3.25em;
	}
	.Attendees {
	padding-top:1em;
	}
	#Header {
	padding-top:5px;
	}
	.AttendeesContainer{
	padding:5px;
	}
}

.SignedIn{
	background-color:rgb(0, 96, 174); 
	background-image:url('{!URLFOR($Resource.Event_Attendance,'/TMC_CheckBox.png')}'); 
	background-repeat:no-repeat; 
	background-position:center;
}

.SignedOut{
	background-color:rgb(166, 169, 172); 
	background-image:url('{!URLFOR($Resource.Event_Attendance,'/TMC_CheckBox.png')}'); 
	background-repeat:no-repeat; 
	background-position:center;
}

.Absent{
	background-color:rgb(166, 169, 172); 
	background-image:none;
}

.OverSignedIn{
	background-color:rgb(30, 130, 200); 
	background-image:url('{!URLFOR($Resource.Event_Attendance,'/TMC_CheckBox.png')}'); 
	background-repeat:no-repeat; 
	background-position:center;
}

.OverSignedOut{
	background-color:rgb(199, 200, 200); 
	background-image:url('{!URLFOR($Resource.Event_Attendance,'/TMC_CheckBox.png')}'); 
	background-repeat:no-repeat; 
	background-position:center;
}

.OverAbsent{
	background-color:rgb(199, 200, 200); 
	background-image:none;
}

/* Loader Animation Styles */
.spinner {
	margin: 100px auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color:white;
	height: 200%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	-moz-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	-moz-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	-moz-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	-moz-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	-moz-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }	
	20% { -webkit-transform: scaleY(1.0) }
}
@-moz-keyframes stretchdelay {
	0%, 40%, 100% { -moz-transform: scaleY(0.4) }	
	20% { -moz-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
	0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); -moz-transform: scaleY(0.4);} 
	20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0);	-moz-transform: scaleY(1.0);}
}
.messageCell{
	font-size: 2.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 0%;
	margin-right: 0%;
}
.errorMsg{
	width:90%;
	margin: auto;
}
.refreshPageButton {
	background: url("/img/alohaSkin/sync.png") top left no-repeat;
	width: 22px;
	height: 20px;
	background-position: 2px -20px;
	vertical-align: bottom;
	zoom: 1.5;
	-moz-transform:scale(1.5);
	-moz-transform-origin: 0 0;
}
</style>


<script>

$(document).ready(function() {
	// Set options for toastr notifications
	toastr.options = {
		"closeButton": false,
		"debug": false,
		"newestOnTop": false,
		"progressBar": false,
		"positionClass": "toast-top-right",
		"preventDuplicates": true,
		"onclick": null,
		"showDuration": "1000",
		"timeOut": "1000",
		"extendedTimeOut": "0",
		"showEasing": "swing",
		"showMethod": "fadeIn",
		"hideMethod": "fadeOut"
	}

	toastr.options.fadeOut = 250;
	toastr.options.fadeIn = 250;
	toastr.options.timeOut = 1500; // Adjust Modal display time here
	// Setup background modal on start processing
	$('.js-loading-bar').modal({
		backdrop: 'static',
		show: false,
	});

	$('#load').click(function () {
	var $modal = $('.js-loading-bar');
	$bar = $modal.find('.progress-bar');

	$modal.modal('show');
	$bar.addClass('animate');

	setTimeout(function () {
			$bar.removeClass('animate');
			$modal.modal('hide');
		}, 1500);
	});
	
	emailValidation();

	addListeners();

});
 
function addListeners() {	// Add listeners to each Registrant badge
	$("*.Attendees").mouseenter(function(e) {
		rollOverEffect(this.id,e);
	});

	$("*.Attendees").mouseleave(function(e) {
	//console.log("outta here" + this.id)
		rollOutEffect(this.id,e);
	});

	// Assign click listener to Registrants
	$("*.Attendees").on("dblclick", function(e) {
	e.preventDefault();
		dblClickAction(this.id,e);
	});	
}


function dblClickAction(dblClickId,	ev) {	// User action initated

	ev.preventDefault();
	UpdateAffiliateInJavascript(dblClickId);	// Ask controller to fire and rerender
	startProcessing();	// Display loading animation

	var registrantData = document.getElementById(dblClickId);	// Get clicked Registrant's ID
	var status = registrantData.getAttribute('data-status');

	if(status == 'SignedIn'){	// If at event, Display signed out message and apply styles
		setTimeout(function () {
			stopProcessing();
		},1200);
		setTimeout(function () {
			toastr.clear();
			toastr.success("Successfully Signed Out");
		},1500);

		}else{ // Not at event, Display signed in message and apply styles
		setTimeout(function () {
			stopProcessing();
		},1200);
		setTimeout(function () {
			toastr.clear();
			toastr.success("Successfully Signed In");
		},1500);
	}

}


// Set Registrant style on mouse out
function rollOverEffect(rollOverId,ev){	// Handle mouse rollovers
	ev.preventDefault();
	var registrantData = document.getElementById(rollOverId); // Get Registrant's ID
	var status = registrantData.getAttribute('data-status');
	var hover = registrantData.getAttribute('data-hover'); 
	if(hover=='false') {
		if(status == 'SignedIn'){
			$('[id$='+rollOverId+']').removeClass();
			$('[id$='+rollOverId+']').addClass("Attendees OverSignedIn");
		} else if(status == 'SignedOut') {	
			$('[id$='+rollOverId+']').removeClass();
			$('[id$='+rollOverId+']').addClass("Attendees OverSignedOut");
		} else {
			$('[id$='+rollOverId+']').removeClass();
			$('[id$='+rollOverId+']').addClass("Attendees OverAbsent");			
		}
		registrantData.setAttribute('data-hover', true);
	}
}


// Set Registrant style on mouse out
function rollOutEffect(rollOutId,ev){	// Handle mouse roll-out
	ev.preventDefault();
	var registrantData = document.getElementById(rollOutId);	// Get clicked Registrant's ID
	var status = registrantData.getAttribute('data-status');
	var hover = registrantData.getAttribute('data-hover'); 

	if(status == 'SignedIn') {
		$('[id$='+rollOutId+']').removeClass();
		$('[id$='+rollOutId+']').addClass("Attendees SignedIn");
	} else if (status == 'SignedOut') {
		$('[id$='+rollOutId+']').removeClass();
		$('[id$='+rollOutId+']').addClass("Attendees SignedOut");
	} else {
		$('[id$='+rollOutId+']').removeClass();
		$('[id$='+rollOutId+']').addClass("Attendees Absent");		
	}

	registrantData.setAttribute('data-hover', false);
}



// email validation 
function emailValidation() {

	$.validator.addMethod("regexEmail", function (value, element, regexp) {
		var re = new RegExp(regexp);
		return this.optional(element) || re.test(value);
	}, "Please enter a valid email address.");	

	$('[id$=TMCform]').validate({
		errorElement: "div",
		onclick: false,
		onkeydown: false,
		onkeyup: false,
		onkeypress: false,
		onfocusout: function (element, event) {
			if (event.which != 9 || event.keyCode != 9) {
				$(element).valid();
			}
		},
		errorPlacement: function(error, element) {
			var idvar = $(element).attr('id');
			if(idvar == 'j_id0:TMCform:Email') {
				 $('[id$=emailLabel]').attr("data-content",$(error).text());
				 $('[id$=emailLabel]').attr("data-placement","top");
				 $('[id$=emailLabel]').popover('show'); 
			}
		},
		success: function (label, element) {
			if(label.attr('for') == $('[id$=emailLabel]').find('input').attr('id')) {
				$('[id$=emailLabel]').popover('hide');
				$('[id$=emailLabel]').off('click');
			}
		}
	});			
	
	if($('[id$=Email]').size() > 0) { 
		$('[id$=Email]').rules("add",{
			//required: true,
			email:"required email",
			regexEmail:/^[a-z0-9,!#\$%&'\*\+/=\?\^_`\{\|}~-]+(\.[a-z0-9,!#\$%&'\*\+/=\?\^_`\{\|}~-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,})$/i, 
			messages: {
				email: "Please enter a valid email address.",
			}
		}); 
	}
}
	
</script>
<!--
<script> ' </script>
-->
<script>

//***** This function will call for hide popover
$('.hidepopover').keypress(function () {
	$(this).popover('hide');
});
	
//***** This function will call for hide popover
$('.hidepopover').keyup(function () {
	$(this).popover('hide');
});
	
//***** This function will call for hide popover
$('.hidepopover').keydown(function () {
	$(this).popover('hide');
});


// function for start loading process
function startProcessing() {
	$('.js-loading-bar').modal('show');
	$('.js-loading-bar').find('.progress-bar').addClass('animate');
}

// function for stop loading process after complete
function stopProcessing() {
	$('.js-loading-bar').find('.progress-bar').removeClass('animate');
	$('.js-loading-bar').modal('hide');
	$('#loading-curtain-div').attr('style','display:none');
		setTimeout(function() {
		$('#fade').attr('style','display:none');
	},1000);
}


var keyCounter = 0;
function pageRefresh(refreshPeriod) {	 
	// Make sure not to rerender when someone is typing
	keyCounter = 0;
	setInterval(function(){
		keyCounter = keyCounter + 1;
	},200);
	setInterval(function(){
		if (keyCounter > 25) {
			rerenderRegisterdAffiliate();
		}
	},refreshPeriod);
} 


function submitValidation() {
	$('[id$=TMCform]').validate();
	if($('[id$=Email]').val() != '') { 
		var isValid = $('[id$=TMCform]').valid(); // check if the form is valid if there is no error returns true
	}else{
		toastr.error('Please specify Email id');
	}		 
	if(isValid){
		startProcessing();
	}
	return isValid;
}


function clearInputField(b_flag,successMsg,errorMsg){
	if(successMsg != ''){
		$('[id$=Email]').val('');
		stopProcessing();
		toastr.success(successMsg);
	}
	if(errorMsg != ''){
		stopProcessing();
		toastr.error(errorMsg);
	}
}


// Custom handler to detect double clicks
jQuery.event.special.dblclick = {
	setup: function(data, namespaces) {
	var agent = navigator.userAgent.toLowerCase();
	if (agent.indexOf('iphone') >= 0 || agent.indexOf('ipad') >= 0 || agent.indexOf('ipod') >= 0) {
		var elem = this,
		$elem = jQuery(elem);
		$elem.bind('touchend.dblclick', jQuery.event.special.dblclick.handler);
	} else {
		var elem = this,
		$elem = jQuery(elem);
		$elem.bind('click.dblclick', jQuery.event.special.dblclick.handler);
	}
	},

	teardown: function(namespaces) {
	var agent = navigator.userAgent.toLowerCase();
	if (agent.indexOf('iphone') >= 0 || agent.indexOf('ipad') >= 0 || agent.indexOf('ipod') >= 0) {
		var elem = this,
		$elem = jQuery(elem);
		$elem.unbind('touchend.dblclick');
	} else {
		var elem = this,
		$elem = jQuery(elem);
		$elem.unbind('click.dblclick', jQuery.event.special.dblclick.handler);
	}
	},

	handler: function(event) {
		var elem = event.target,
			$elem = jQuery(elem),
			lastTouch = $elem.data('lastTouch') || 0,
			now = new Date().getTime();
		var delta = now - lastTouch;
		if (delta > 20 && delta < 750) {
			$elem.data('lastTouch', 0);
			$elem.trigger('dblclick');
		} else {
			$elem.data('lastTouch', now);
		}
	}
};
</script>
</head>

<body onload="JavaScript:pageRefresh({!refreshTimeInterval})">

	<!-- Full width header displaying Occasion details	-->
	<div class="container">

	<div class="row" id="Header">
		<div class="col-lg-10 col-md-0 col-sm-10 col-xs-12">
			<h1>{!strJobName}</h1>			
			<h3>
			<a href="#" onClick="requeryRegisteredList();"><img src="/img/s.gif" class="refreshPageButton"/></a>
			<apex:outputText value="{!strStartDateTime}"/></h3>
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs" >
			 <img src="{!URLFOR($Resource.Event_Attendance,'/TMC_logo.jpg')}" class="img-responsive hidden-xs" />
		</div> <!-- Hide logo on xs devices --> 
	</div>

	<div class="errorMsg">
		<apex:pageMessages id="msg" />
	</div>
		
	<apex:form id="TMCform" style="padding:15px;" rendered="{!b_IsBeforeAfterEvent}">
	 
	<!-- Display any error messages -->
	<!--<apex:messages />-->

	<!-- Loading image and overlay	-->
	<div id="fade" class="processing_overlay"></div> 
		
	<div class="modal js-loading-bar" style="width:100%;">
		<div class="modal-dialog" style="top:40%; width:15%; height:15%; margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;">
			<!-- Rectangles for loading animation	-->
			<center><div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
				</div>
			</center>		
		</div>
	</div>

	<!-- --------------------------------------------------------------- -->
	<!-- Drop-ins																												-->
	<!-- --------------------------------------------------------------- -->
	<h2>Platoon Drop-in</h2>		
	 
	<div id="dropIn" class="row">
	 
		<div class="col-lg-12" id="registrationDiv"> 

		<div class="input-group hidepopover" id="emailLabel" data-toggle="popover" data-placement="top">
			<apex:inputText value="{!strEmailId}" html-placeholder="Your@email.com" 
				styleClass="form-control input-lg" id="Email" maxlength="60" />
			<span class="input-group-btn">
				<apex:commandLink action="{!SearchAffiliate}" value="+" 
					styleClass="btn btn-info" 
					style="border-radius:0; border-color:white; font-family:'Open Sans', sans-serif; font-size:x-large; font-color:white;" 
					onclick="if(!submitValidation())return false;" 
					reRender="RegisterdAffiliate" 
					oncomplete="clearInputField({!b_searchFlag},'{!successMessage}','{!errorMessage}');addListeners();"/>
			</span>
		</div>

		</div>
 
	</div>

	<!-- --------------------------------------------------------------- -->
	<!-- Registrants																										 -->
	<!-- --------------------------------------------------------------- -->
	<h2>Registrants</h2>
			
	<apex:outputPanel id="RegisterdAffiliate" styleClass="row">		
		<apex:repeat value="{!lstRegisterdVolunteers}" var="volunteer">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 AttendeesContainer" >
				<div class="{!volunteer.style}" id="{!volunteer.VolunteerHourId}" 
					data-hover="false" data-status="{!volunteer.status}" >{!volunteer.volunteerName}</div>
			</div>
		</apex:repeat>
	</apex:outputPanel> 
	
	<apex:actionFunction action="{!UpdateVolunteer}" reRender="RegisterdAffiliate" 
				oncomplete="addListeners();" name="UpdateAffiliateInJavascript">
		<apex:param name="firstParam" assignTo="{!affiliateIdToUpdate}" value="" />
	</apex:actionFunction>

	<apex:actionFunction name="rerenderRegisterdAffiliate" 
		rerender="RegisterdAffiliate" oncomplete="addListeners();"/>

	<apex:actionFunction name="requeryRegisteredList" 
		action="{!setVolunteersList}" rerender="RegisterdAffiliate" 
		oncomplete="addListeners();"/>		
 
	</apex:form>
	</div>	 

</body>




</html>
</apex:page>