<apex:page showheader="false">
<script>
<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
    $(document).ready(function () {
        $('#iframe1').on('load', function() {
            $('#loaderImage').hide();
        });
    });
</script>
<style>
#divFrame{
    position:relative;
    height: 700px;
    width: 750px;
    border: 1px solid #777777;
    background:#f0f0f0;
    box-shadow:0px 0px 10px #777777;
}
#loaderImage{
    position:absolute;
    left:42%;
    top:35%;
    border-radius:20px;
    padding:25px;
    border:1px solid #777777;
    background:#ffffff;
    box-shadow:0px 0px 10px #777777;
}
</style>
<div id="divFrame">
    <img id="loaderImage" src="{!URLFOR($Resource.LoadingIndicator)}" width="60" height="60"/>
    <iframe id="iframe1" src="https://c.na15.visual.force.com/apex/GeneralDonation" height="700" width="750"></iframe>
</div>
</apex:page>