<apex:page controller="CampaignListingWidget" sidebar="false" showHeader="false"  standardStylesheets="false">

<!-- Add jQuery -->
<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
<apex:includeScript value="https://code.jquery.com/ui/1.11.2/jquery-ui.js"/>

<!-- Add jQuery Validate -->
<apex:includeScript value="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></apex:includeScript>

<!-- Add BootStrap -->
<apex:includeScript value="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></apex:includeScript>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>

<!-- Add Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link>

<!-- Add FormAssembly -->
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.7/js/wforms.js"></script>

<style>
    body{
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:18px;
    }
       
    .error{
        border-color:red;
    }
    
    .success{
        border-color:green;
    }
    
    /* Sign-up button */
    .btn { 
        border-radius:0;
        font-size:16px;        
        background-color:#fff;
        color:green;
        padding-top:5px;
    }

    .btn-info {
        border-radius:0;
        background-color:#fff;
    }

    .form1{
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:18px; /* Input font size */
    }    
 
    .form-control{
        border-radius:0;
    }
    
    .hidepopover{
        font-size:16px;
    }
    .CampaignChapterInfo{
        font-size:26px;
        margin-bottom:0px;
        display:block;
        color:green;
        font-weight:bold;
    }
    
    .CampaignDateTime{
        font-weight: 600;
        font-size:16px;
        color:green;
        margin-bottom:4px;
    }

    .CampaignDeadline{
        color:green;
        margin-bottom:15px;
        font-size:16px;
    }    

    .CampaignDescription{
        color:black;
        margin-bottom:15px;
        font-size:16px;
    }
        
    .CampaignLocation{
        color:black;
        padding:5px;
        background-color:rgb(196, 232, 196);
        font-size:16px;
        margin-bottom:2px;
    }

    .popover-content{
        padding:2px 14px;
        font-size:16px;    
    }
        
    .capital{text-transform:capitalize;}
    
    .row { margin-top:40px; }
    
</style>
<script>
     
   $(document).ready(function(){
   
    // Show form if spaces available and registration deadline not passed
    
        //Custom validation method 
        $.validator.addMethod("regex", function (value, element, regexp) {
            var strRegex = new RegExp(regexp);
            return this.optional(element) || strRegex.test(value);
        }, "Please only enter letters.");
        
        $.validator.addMethod("regexEmail", function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }, "This does not appear to be a valid email address.");
        
        $('.form1').validate({
            errorElement: "div",
            onclick: false,
            onkeydown: false,
            onkeyup: false,
            onkeypress: false,
            onfocusout: function (element, event) {
                if (event.which != 9 || event.keyCode != 9) {
                    $(element).valid();
                }
            },
            errorPlacement: function (error, element) {
                var idvar = $(element).attr('id');
                if (idvar == 'tfa_1') {
                    $('[id$=tfa_1-D]').attr("data-content", $(error).text());
                    $('[id$=tfa_1-D]').attr("data-placement", "top");
                    $('[id$=tfa_1-D]').popover('show');
                }
                if (idvar == 'tfa_3') {
                    $('[id$=tfa_3-D]').attr("data-content", $(error).text());
                    $('[id$=tfa_3-D]').attr("data-placement", "top");
                    $('[id$=tfa_3-D]').popover('show');
                }
                if (idvar == 'tfa_4') {
                    $('[id$=tfa_4-D]').attr("data-content", $(error).text());
                    $('[id$=tfa_4-D]').attr("data-placement", "top");
                    $('[id$=tfa_4-D]').popover('show');
                }
            },
             //********** Success function hides the pop over when data is valid************/
            success: function (label, element) {
                var idvar = $(element).attr('id');
                if (label.attr('for') == $('[id$=tfa_1-D]').find('input').attr('id')) {
                    $('[id$=tfa_1-D]').popover('hide');
                    $('[id$=tfa_1-D]').off('click');
                }
                if (label.attr('for') == $('[id$=tfa_3-D]').find('input').attr('id')) {
                    $('[id$=tfa_3-D]').popover('hide');
                    $('[id$=tfa_3-D]').off('click');
                }
                if (label.attr('for') == $('[id$=tfa_4-D]').find('input').attr('id')) {
                    $('[id$=tfa_4-D]').popover('hide');
                    $('[id$=tfa_4-D]').off('click');
                }
            }
        });
            
             //Validation Rule For fname
        if ($('[id$=tfa_1]').size() > 0) {
            $('[id$=tfa_1]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' ]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Enter your First Name.",
                    regex: "Invalid First Name.",
                    minlength: "Invalid First Name.",
                    maxlength: "Invalid First Name."
                }
            });
        }
        if ($('[id$=tfa_3]').size() > 0) {
            $('[id$=tfa_3]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' ]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Enter your Last Name.",
                    regex: "Invalid Last Name",
                    minlength: "Invalid Last Name.",
                    maxlength: "Invalid Last Name."
                }
            });
        }
        //Validation Rule For Email
        if ($('[id$=tfa_4]').size() > 0) {
            $('[id$=tfa_4]').rules("add", {
                required: true,
                email: "required email",
                regexEmail:/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i,
                maxlength:50,
                messages: {
                    required: "Please enter your Email.",
                    email: "Invalid email address.",
                    regexEmail:"Invalid email address."
                }
            });
        }
          // Popover hide
        $('.hidepopover').keypress(function () {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });

        // This function will call for hide popover
        $('.hidepopover').keyup(function (e) {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });

        //This function will call for hide popover
        $('.hidepopover').keydown(function () {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });
    });
   
     // Fire the validation on the form
    function SubmitValidation() {
        var form=  $(".form1");
        var fname = $('[name="tfa_1"]').valid();
        var lname = $('[name="tfa_3"]').valid();
        var email = $('[name="tfa_4"]').valid();
        
        form.validate();
       // var isValid = form.valid(); // Check if the form is valid if there is no error returns true
       // return isValid;
        if(fname && lname && email)
            return true;
        else
            return false;
    }
    
    wFORMS.behaviors.prefill.skip = false;
    
</script>

<apex:pagemessages ></apex:pagemessages>

<div id="tfaContent" style="width:700px;">
  
    <div class="CampaignChapterInfo">{!objCampaignWrapperClass.strChapter} Hownership Information Session</div >
    
    <div class="CampaignDateTime">{!objCampaignWrapperClass.strMonthDate}&nbsp;&nbsp;{!objCampaignWrapperClass.strTime}</div>

    <div class="CampaignDeadline" >Registration Deadline: {!objCampaignWrapperClass.DeadineDate} </div>  
        
    <div class="CampaignDescription">{!objCampaignWrapperClass.strDescription}</div>
    
    <div class="CampaignLocation">{!objCampaignWrapperClass.strLocation}<br/>{!objCampaignWrapperClass.strLocationStreet} {!objCampaignWrapperClass.strLocationCity}</div>  
   
    <apex:outputpanel rendered="{!OR(AND(objCampaignWrapperClass.intCapacity != null, objCampaignWrapperClass.intCapacity > 0, objCampaignWrapperClass.intOpenSpaces != null, objCampaignWrapperClass.intOpenSpaces > 0), objCampaignWrapperClass.intCapacity == 0)}">
        
    <form  method="post" action="http://www.tfaforms.com/responses/processor" onsubmit="return SubmitValidation()"  id="tfa_0" class="form1">
            
        <div class="row" >
            <div id="tfa_1-D" class="col-lg-6 col-md-6 col-sm-6 hidepopover" data-toggle="popover" data-placement="top"><input type="text" id="tfa_1" name="tfa_1" placeholder="First Name" class="form-control input-lg form_input capital" maxlength="50" value="{!objCampaignWrapperClass.strFirstName}" /></div>

            <div id="tfa_3-D" class="col-lg-6 col-md-6 col-sm-6 hidepopover"  data-toggle="popover" data-placement="top"><input type="text" id="tfa_3" name="tfa_3"  placeholder="Last Name" class="form-control input-lg form_input capital" maxlength="50" value="{!objCampaignWrapperClass.strLastName}" /></div>
        </div>
        
        <div  class="row">
            <div id="tfa_4-D" class="col-lg-8 col-md-8 col-sm-8 hidepopover" data-toggle="popover" data-placement="top"><input type="text" id="tfa_4" name="tfa_4" placeholder="Email" class="form-control input-lg form_input" value="{!objCampaignWrapperClass.strEmail}" /></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                    <button type="submit" class="btn btn-default btn-block btn-lg white" style="font-size:x-large;">Register</button>
            </div>
        </div>            
        
        <div style="clear:both"></div>
        <!-- hidden fields -->
        <input type="hidden" id="tfa_5" name="tfa_5" placeholder="Campaign" value="{!objCampaignWrapperClass.CampaignId}"/>
        <input type="hidden" value="352910" name="tfa_dbFormId" id="tfa_dbFormId"/>
        <input type="hidden" name="tfa_dbResponseId" id="tfa_dbResponseId"/>
        <input type="hidden" value="cce03aa01df57df90ce5d55d540b0c0a" name="tfa_dbControl" id="tfa_dbControl"/>
        <input type="hidden" value="3" name="tfa_dbVersionId" id="tfa_dbVersionId"/>
        <input type="hidden" name="tfa_switchedoff" id="tfa_switchedoff"/>
   
    </form>
</apex:outputpanel>
</div>


</apex:page>