<apex:page docType="html-5.0" controller="CNTRL_DedicationRequest" sidebar="false" showHeader="false" standardStylesheets="false">
<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<apex:includeScript value="{!URLFOR($Resource.EasyModal)}" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script> <!-- Load jQuery Validate -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link> <!-- Load BootStrap CSS -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> <!-- Load BootStrap -->


<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fjquery.js')}"></apex:includeScript> <!-- Load Formance -->
<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fminjquery.js')}"></apex:includeScript> <!-- Load Formance -->

<apex:includeScript value="{!URLFOR($Resource.Noty,'/jquery.noty.packaged.js')}" /> <!-- Load Noty -->

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link> <!-- Load Google Fonts -->
<style>
body {
    padding: 20px;
}
.modal {
    padding: 2em; 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    background-color: white;
    //border-radius:10px;
    margin-left:-500px;
    margin-botoom:25px;
    margin-right: 193px;
    //overflow-y: auto;
      
}

#form1{display:none;}
</style>

<script type="text/javascript">
$(document).ready(function(){
    
         $('[id$=form1]').css('display','none'); 
   
});
   function showModal(){ 
          $('[id$=form1]').easyModal({
                top:50,
                autoOpen: true,
                overlayOpacity: 0.2,
                overlayColor: "#333",
                overlayClose: false,
                closeOnEscape: false,
                closeButtonClass: true
            });
            $('[id$=form1]').trigger('openModal');
            
    }
</script>
    <body>
        <p><a id="open-modal1" onclick=
        "showModal();" href="">Donate</a>.</p>
        
    <apex:form id="form1" styleClass="modal" style="display:none;">
    <div class="row hidepopover">
        <div class="col-lg-12" id="DonorNameDiv">
            <input type="text" placeholder="Donor Name" id="DonorName" class="form-control input-lg"/>
        </div>  
    </div><br/>
    <div class="row hidepopover" >
        <div class="col-lg-6" id="InHonorNameDiv" data-toggle="popover"  data-placement="top">
            <input type="text" id="InHonorName" placeholder="In Honor Of Name" class="form-control input-lg"/>
        </div>
        <div class="col-lg-6" id="PersonNotifyDiv">
            <input  type="text"  id="PersonNotify" placeholder="Person To Notify"  Class="form-control input-lg defaultText"/>
        </div>
    </div>
    <div class="row hidepopover" style="margin-top:20px;">
        <div class="col-lg-12" id="HTNotifyDiv">
            <apex:outputLabel value="How To Notify"  styleClass="defaultText"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" class="checkBox" style="margin-top:15px;" />&nbsp;&nbsp;<apex:outputLabel value="Email" style="padding-left:15px;"/> &nbsp;&nbsp;<input type="Checkbox" label="Posted Letter" styleClass="checkBox" style="margin-top:15px;"  />&nbsp;&nbsp;<apex:outputLabel value="Posted Letter" style="padding-left:15px;"/>
          
        </div>
    </div>
   
    <div class="row hidepopover" style="margin-top:20px;">
        <div class="col-lg-12" id="EmailDiv">
            <input type="email" placeholder="Email" id="Email" class="form-control input-lg"/>
        </div>
    </div>
  
    
   
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-12" id="StreetDiv">
            <input type="text" placeholder="Address" id="Street" class="form-control input-lg"/>
        </div>
    </div>
    <div class="row hidepopover" style="margin-top:20px;">
        <div class="col-lg-6" id="CityDiv">
            <input type="text" placeholder="City" id="City" class="form-control input-lg"/>
        </div>
        <div class="col-lg-6" id="StateDiv">
            <input type="text" value="{!dedication.State__c}" placeholder="State" id="State" class="form-control input-lg"/>
        </div>
    </div>
    <div class="row hidepopover" style="margin-top:20px;">
        <div class="col-lg-6" id="ZipCodeDiv">
            <input type="text" placeholder="ZipCode" id="ZipCode" class="form-control input-lg"/>
        </div>
        <div class="col-lg-6" id="CountryDiv">
            <input type="text" placeholder="Country" id="Country" class="form-control input-lg"/>
        </div>
    </div>
  
    <div class="row hidepopover" style="margin-top:20px;">
        <div class="col-lg-12" id="PersonalMessageDiv">
            <input placeholder="Personal Message" id="PersonalMessage" class="form-control input-lg" />
        </div>
    </div><br/>
    <div class="row" >
        <div class="col-lg-12" id="DonateBtnDiv">
           <center><input type="button" value="Submit" class="btn btn-info btn-block btn-lg" style="font-size:x-large; font-weight:bold;"/> </center>
        </div>
    </div>
    

</apex:form>
    </body>
</apex:page>