<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="true" controller="VOL_CTRL_VolunteersRollCall" >

<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script> <!-- Load jQuery Validate -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:800italic,400' rel='stylesheet' type='text/css'></link>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'></link>
<apex:includeScript value="{!URLFOR($Resource.Noty,'/jquery.noty.packaged.js')}" />
<apex:includeScript value="{!URLFOR($Resource.listnav,'/listNav/jquery.listnav-2.1.js')}"/>


<style>

.body {
    font-family: 'Open Sans', sans-serif;
    color:white;
}

body {
    /* This image will be displayed fullscreen */
    background:url('{!$Resource.RollCallBkg}') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}   
    
.h1, h2 {
    font-family: 'Nunito', sans-serif;
    color:white;
}   

.error {
    border-color:red;
}

.success {
    border-color:green;
}

h1 {
    font-weight:700;
    font-size:3em;
}
    
.container {
    max-width: 960px;
    margin: 0 auto;
}
    
.row {
    height: 100%;
}
    
#drop-in-container {
    color:white;
    margin:0px;
    padding:5px;
    min-height:450px;
    height:100%;
    text-align: center;
    /* default fallback */
    background: rgb(0, 168, 255) transparent;
    /* nice browsers */
    background: rgba(35, 128, 203, 0.3); 
}
    
#drop-in-container div {
    padding:5px;
    cursor: pointer;
    height:125px;
}
    
#drop-in-container div div {
    border: 1px solid rgba(49, 145, 222, 0.5);
    height:115px;
    padding:25px 0;
    font-size:1.5em;
    font-family:Open Sans 400;
    overflow:hidden;
    text-overflow:ellipsis;
    /* default fallback */
    background: rgb(0, 168, 255) transparent;
    /* nice browsers */
    background: rgba(0, 168, 255, 0.3); 
}
    
#drop-out-container {
    color:white;
    margin:0px;
    padding:5px;
    min-height:450px;
    height:100%;
    text-align: center;
    /* default fallback */
    background: rgb(24, 0, 82) transparent;
    /* nice browsers */
    background: rgba(24, 0, 82, 0.3);
}
    
#drop-out-container div {
    cursor: pointer;
    padding: 5px;
    height:125px;
}
    
#drop-out-container div div {
    border:1px solid rgba(119, 80, 231, 0.5); 
    height:115px;
    padding:25px 0;
    font-size:1.5em;
    font-family:Open Sans 400;
    overflow:hidden;
    text-overflow:ellipsis;
    /* default fallback */
    background: rgb(66, 49, 118) transparent;
    /* nice browsers */
    background: rgba(66, 49, 118, 0.3); 
} 

.disablePointer {
    pointer-events: none;    
}
    
/* Clearfix Utils */
.clearfix {
    *zoom: 1;
}
    
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: ""; 
}
    
.clearfix:after {
    clear: both;
}
    
/* used in form fields */
.form-control{
    border-radius:0;
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    font-size:22px;
}   
     
.labelText{
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    font-size: 22px;
    padding-left:10px;
}

#loading-curtain-div {
    display:none;
    position: fixed;
    //overflow: auto;
    left:48%;
    top:0%; 
    margin-top: 19%;
    height:100%;
    width:100%;
    position:absolute;
    opacity:.40;
    //-webkit-transition: all 0.30s ease-out;
    //-moz-transition: all 0.30s ease-out;
    z-index:9999;
}

.processing_overlay {
    display:none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    //should match background page color
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.40;
    filter: alpha(opacity=80);
}
    
.progress-bar.animate {
    width: 100%;
}
    
.Header{
    width:100%; 
    height:100px; 
    padding-top:27px; 
    text-align:right;
}

@media(max-width:1200px) {
  .hidepopover {
    margin-bottom:52px;
  }
}
  
@media(max-width: 520px) {
  .Header {
    padding-top: 140px;
    margin-right: 32px;
  }
  
  .innerHeader{
    text-align: left;
    margin-top: -31px;
  }
}

@media(max-width:290px) {
  #dropIn {
    margin-top: 50px;
  }
}

@media(max-width:1200px) {
  #mainDiv{
    max-width: 100%;
    margin:0;
  }
         
  .container {
    margin: 0 auto;
   }
        
#drop-in-container {
    color:white;
    margin:0px;
    padding:5px;
    min-height:450px;
    float:left;
    width:50%;
    height:100%;
    text-align: center;
    /* default fallback */
    background: rgb(0, 168, 255) transparent;
    /* nice browsers */
    background: rgba(35, 128, 203, 0.3); 
}        

#drop-in-container div {
    cursor: pointer;
    padding: 5px;
    height:125px;
    overflow:hidden;
    width:33.33%;
    float:left;
}

#drop-in-container div div {
    border: 1px solid rgba(49, 145, 222, 0.5);
    height:115px;
    padding:25px 0;
    font-size:1.5em;
    font-family:Open Sans 400;
    overflow:hidden;
    width:100%;
    text-overflow:ellipsis;
    /* default fallback */
    background: rgb(0, 168, 255) transparent;
    /* nice browsers */
    background: rgba(0, 168, 255, 0.3); 
}

#drop-out-container {
    color:white;
    margin:0px;
    padding:5px;
    min-height:450px;
    float:left;
    width:50%;
    height:100%;
    text-align: center;
    /* default fallback */
    background: rgb(24, 0, 82) transparent;
    /* nice browsers */
    background: rgba(24, 0, 82, 0.3);
}

#drop-out-container div {
    cursor: pointer;
    padding: 5px;
    height:125px;
    overflow:hidden;
    width:33.33%;
    float:left;
}
      
#drop-out-container div div {
    border:1px solid rgba(119, 80, 231, 0.5); 
    height:115px;
    width:100%;
    padding:25px 0;
    font-size:1.5em;
    font-family:Open Sans 400;
    overflow:hidden;
    text-overflow:ellipsis;
    /* default fallback */
    background: rgb(66, 49, 118) transparent;
    /* nice browsers */
    background: rgba(66, 49, 118, 0.3); 
} 
    
#fnameLabel {
    width:25%;
    float:left;
    display:inline;
}

#lnameLabel {
    width:25%;
    float:left;
    display:inline;
}

#emailLabel {
    width:34%;
    float:left;
    display:inline;    
}

#signUpDiv {
    width:16%;
    float:left;
    display:inline;
}

#signUp {
margin-bottom:0px;
padding-bottom:0px;  
}

}
.spinner {
      margin: 100px auto;
      width: 50px;
      height: 30px;
      text-align: center;
      font-size: 10px;
    }

    .spinner > div {
      background-color:white;// #CD3E3E;//#333;
      height: 200%;
      width: 6px;
      display: inline-block;
      
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      } 20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
    .listNav { margin:0 0 10px; }
	.ln-letters { overflow:hidden; }
	.ln-letters a { font-size:0.9em; display:block; float:left; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
	.ln-letters a.ln-last { border-right:1px solid silver; }
	.ln-letters a:hover,
	.ln-letters a.ln-selected { background-color:#eaeaea; }
	.ln-letters a.ln-disabled { color:#ccc; }
	.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }
	
</style>

<script type="text/javascript">
$(document).ready(function() { 

  window.onresize = function(event) {
    $('.popover').css('display','none');
    if($('#drop-out-container').height() > $('#drop-in-container').height())
      $('#drop-in-container').height($('#drop-out-container').height());
    else
      $('#drop-out-container').height($('#drop-in-container').height());
    };
    
    dragEventListener();  // Add event listeners to each volunteer
    
    clearText();  // Clear text after sign up

    var Total_Number_Of_Volunteer = parseInt('{!objVolunteerShift.GW_Volunteers__Total_Volunteers__c}');

    var Volunteers__Desired_Number_of_Volunteers = parseInt('{!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c}');

    if( isNaN(Total_Number_Of_Volunteer) )
        Total_Number_Of_Volunteer = 0;
    
    if( isNaN(Volunteers__Desired_Number_of_Volunteers) )
        Volunteers__Desired_Number_of_Volunteers = 0;
 
    if( (Total_Number_Of_Volunteer  >= {!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c}) && ( Total_Number_Of_Volunteer != 0 && {!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c} != -10 ))
    {  
       hideSignUpFields(false);  // Hide signup fields and button when shift is full
    }else{ 
       hideSignUpFields(true);  // Show signup fields and button when shift is not full
    }    

    sortList('drop-in-container','drag');
    sortList('drop-out-container','drag');

    $.validator.addMethod("regex",function(value,element,regexp){
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
    },"Only Characters from A-z");
    
     $.validator.addMethod("regExpression",function(value,element,regexp){
        var re = new RegExp(regexp);
        return this.optional(element) || !re.test(value);
    },"Space Not Allowed");

    
    // Add Listeners to inputs to fix capitalization
    var fnameInput = document.getElementById('j_id0:form1:fname');
    fnameInput.addEventListener('input', inputKeyListener, false);
    
    var lnameInput = document.getElementById('j_id0:form1:lname');
    lnameInput.addEventListener('input', inputKeyListener, false);
      //***** Custom validation method for the fields 
    $.validator.addMethod("regexEmail", function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
    }, "This does not appear to be a valid email address.");  
    
    $('[id$=form1]').validate({
        errorElement: "div",
        onclick: false,
        onkeydown: false,
        onkeyup: false,
        onkeypress: false,
        onfocusout: function (element, event) {
            if (event.which != 9 || event.keyCode != 9) {
                $(element).valid();
            }
        },
        errorPlacement: function(error, element) {
            var idvar = $(element).attr('id');
            if(idvar == 'j_id0:form1:fname')
            {     
                 $('[id$=fnameLabel]').attr("data-content",$(error).text());
                 $('[id$=fnameLabel]').attr("data-placement","top");
                 $('[id$=fnameLabel]').popover('show');             
            }
            if(idvar == 'j_id0:form1:lname')
            {   
                 $('[id$=lnameLabel]').attr("data-content",$(error).text());
                 $('[id$=lnameLabel]').attr("data-placement","top");
                 $('[id$=lnameLabel]').popover('show'); 
            }
            if(idvar == 'j_id0:form1:Email')
            {
                 $('[id$=emailLabel]').attr("data-content",$(error).text());
                 $('[id$=emailLabel]').attr("data-placement","top");
                 $('[id$=emailLabel]').popover('show'); 
            }
           
        },
        success: function (label, element) {
            if(label.attr('for') == $('[id$=fnameLabel]').find('input').attr('id')){
                $('[id$=fnameLabel]').popover('hide');
                $('[id$=fnameLabel]').off('click');
                } 
            if(label.attr('for') == $('[id$=lnameLabel]').find('input').attr('id')){
                $('[id$=lnameLabel]').popover('hide');
                $('[id$=lnameLabel]').off('click');
                }
            if(label.attr('for') == $('[id$=emailLabel]').find('input').attr('id')){
                $('[id$=emailLabel]').popover('hide');
                $('[id$=emailLabel]').off('click');
                }
        }
        
    });
    
    if($('[id$=fname]').size() > 0){
      $('[id$=fname]').rules("add",{
        required: true,
        regex: "^[a-zA-Z0-9 ']+$",
        minlength: 2,
        messages: {
        required: "First name is required.",
        regex: "Please enter only characters/numbers",
        minlength: "First name needs to be atleast 2 characters long."
      }
    }); 
  }
    
    if($('[id$=lname]').size() > 0)
    {
        $('[id$=lname]').rules("add",{
           minlength: 2,
           required: true,
           regex: "^[a-zA-Z0-9 ']+$",
           messages: {
           minlength: "Last name needs to be atleast 2 characters long.",
           required: "Last name is required.",
           regex: "Please enter only characters/numbers"
        }
        }); 
    }
    
    if($('[id$=Email]').size() > 0)
    {
        $('[id$=Email]').rules("add",{
                required: true,
                email:"required email",
                regexEmail:/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i,
                messages: {
                required: "Enter your Email.",
                email: "Please enter a valid email address.",
                regexEmail:"This does not appear to be a valid email address."
            }
        }); 
    }
    
   //***** This function will call for hide popover
     $('.hidepopover').keypress(function () {
         $(this).popover('hide');
     });

     //***** This function will call for hide popover
     $('.hidepopover').keyup(function () {
         $(this).popover('hide');
     });

     //***** This function will call for hide popover
     $('.hidepopover').keydown(function () {
         $(this).popover('hide');
     });
  
      //***** Setup background modal on start processing
        $('.js-loading-bar').modal({
            backdrop: 'static',
            show: false,
        });

        $('#load').click(function () {
            var $modal = $('.js-loading-bar');
            $bar = $modal.find('.progress-bar');

            $modal.modal('show');
            $bar.addClass('animate');

            setTimeout(function () {
                $bar.removeClass('animate');
                $modal.modal('hide');
            }, 1500);
        });
    //showing title for length greater than 12
  
    $('div[draggable$=true]').each(function(i,v){  
	    if($(this).children(this).text().length > 12)
	    $(v).attr('title',$(v).text())
    });  // ?????????????????????

   //div height resize logic
     window.setTimeout(function(){
         if($('#drop-out-container').height() > $('#drop-in-container').height())
                $('#drop-in-container').height($('#drop-out-container').height());
          else
                $('#drop-out-container').height($('#drop-in-container').height());  
     },200);
     
     $('#drop-in-container').listnav({
    initLetter: 'a',
    includeNums: false
    }
     );
 


        
});
 
////////////////////////////////////////////////////////////////////////////////        
// Ready Ends Here
////////////////////////////////////////////////////////////////////////////////


 
//Hide SignUp fields when there's Shift is full
function hideSignUpFields(param)
{
    
   if(param)
   {
       
      $('#signUp').css('display','block');
      $('#noSpace').css('display','none');
   }
   else
   {
        $('#signUp').css('display','none');
        $('#noSpace').css('display','block');   
   }
   clearText();
}

// display sign up section if there ate vacant places in the shift
function displaySignUP()
{
    
      $('#signUp').css('display','block');
      $('#noSpace').css('display','none');
}

// Set our bounding boxes for touch
var objIn = {x:$('#drop-in-container').offset.left, y:$('#drop-in-container').offset.top, w:$('#drop-in-container').width(), h:$('#drop-in-container').height()};
var objOut = {x:$('#drop-out-container').offset.left, y:$('#drop-out-container').offset.top, w:$('#drop-out-container').width(), h:$('#drop-out-container').height()};        



////////////////////////////////////////////////////////////////////////////////        
// Begin Drag/Drop and Touch Code
////////////////////////////////////////////////////////////////////////////////

function touchStartListener(){

  var touch = event.targetTouches[0];
  this.style.zIndex = '1000';  // Move element above the others
  this.setAttribute('data-dragging', 'true');  // Set Dragging to true 

  offsetX = touch.pageX;  // Set offset coordinates for touchmove
  offsetY = touch.pageY;
  event.preventDefault();

  removeAllTouchStartListeners(); // Remove the touchstart Listeners from all other 
  this.removeEventListener('touchstart', touchStartListener);

}

function removeAllTouchStartListeners() {

  // Remove touchstart listener on all elements after any touchstart - disabling multi-touch possibilities
  var removeListnerElements = $("*[draggable='true']");

  for (var i = 0; i < removeListnerElements.length; i++) {
      removeListnerElements[i].removeEventListener('touchstart', touchStartListener);
  }

}

function touchMoveListener(){
//alert(this.dataset.dragging+' '+event.target.dataset.dragging);
  var touch = event.targetTouches[0];
  // Place element where the finger is
  if(this.dataset.dragging == 'true'){  // Only move the first element touched. Ignore omve for the rest.
    this.style.left = touch.pageX - offsetX + 'px';
    this.style.top =  touch.pageY - offsetY + 'px';
    this.preventDefault();
  }
}


function touchEndListener(event){

  var touch = event.changedTouches[event.changedTouches.length-1];

  if(this.dataset.dragging == 'true'){  // Only move the first element touched. Ignore move for any other element - should never happen but safeguard

    this.style['postion'] = 'relative';

    event.preventDefault();
    
    // Place element where the finger is
    var otherContainer;
    if (this.parentNode.id == 'drop-in-container'){
      otherContainer = 'drop-out-container';
    }else{
      otherContainer = 'drop-in-container';
    }

    if(detectTouchHit(otherContainer, touch.pageX, touch.pageY)) {

      volunteerID= this.id;
      $('#'+otherContainer).append($('#'+volunteerID));
      UpdateOutTimeInJavascript(volunteerID);
      this.style.left = 0; // touch.pageX - offsetX + 'px';
      this.style.top =  0; //touch.pageY - offsetY + 'px';
      offsetX = 0;
      offsetY = 0;
      sortList(otherContainer,'touch');
      if(otherContainer == 'drop-in-container') {
      startProcessing();
      SetInTimeInJavascript(volunteerID);
        SetInTimeInJavascript(volunteerID);
      }else{
      startProcessing();
      SetInTimeInJavascript(volunteerID);
        UpdateOutTimeInJavascript(volunteerID);
      }
    } else {
      this.style.left = 0; // touch.pageX - offsetX + 'px';
      this.style.top =  0; //touch.pageY - offsetY + 'px';
      offsetX = 0;
      offsetY = 0;
      sortList(this.parentNode.id,'touch');
    } 
  }
}


function dragStartListener(event){
  event.dataTransfer.effectAllowed = 'move';
  event.dataTransfer.setData('text', this.innerHTML);
  event.dataTransfer.setData('objID', this.id);
           
  // Add disablePointer Class to elements in other div conatiner to prevent dropping on them         
  var otherContainer;
  if (this.parentNode.id == "drop-in-container"){
    otherContainer = "drop-out-container";
  }else{
    otherContainer = "drop-in-container";
  }

  var disableDropElements = $('#'+otherContainer+' div');
  for (var i = 0; i < disableDropElements.length; i++) {
    $(disableDropElements[i]).addClass('disablePointer');
  }  

}


function dragEndListener(event){

  var enableDropElements3 =  $("*[draggable='true']");

  for (var i = 0; i < enableDropElements3.length; i++) {
    $(enableDropElements3[i]).removeClass('disablePointer');
  } 

  $('#drop-in-container').removeClass('disablePointer');
  $('#drop-out-container').removeClass('disablePointer');

}

function inputKeyListener(event){
 // Change the font color to black if user type the value otherwise set the default font color
 
         if( $('input').val() != '' )
         {
             $('input').css('color', 'black');
         }
         else
         {
             $('input').css('color', 'initial');
         }
         
         // To make all input words capitalized
         //userInput = event.target.value;

         // To make jsut the first word capitalized
         //event.target.value = userInput.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
         userInput = event.target.value;
         firstCharCode = userInput.charCodeAt(0);
         if (firstCharCode >= 97 && firstCharCode <= 122) {
             event.target.value = userInput.charAt(0).toUpperCase() + userInput.slice(1); 
         }
                
}


// Assign Drag Event listners to all Volunteers
function dragEventListener(){

  // Add Listeners to In Container
  var dragElements = $("*[draggable='true']");

  // Offset variables are used to compensate for the difference between the touch coords and the page coords
  var offsetX = 0;  
  var offsetY = 0;

  for (var i = 0; i < dragElements.length; i++) {
    // Event Listener for when the drag interaction starts
    dragElements[i].addEventListener('dragstart', dragStartListener, false); 
        
    // Event Listener for when the drag interaction finishes
    dragElements[i].addEventListener('dragend', dragEndListener, false);

    // Event Listener for when the touch interaction starts
    dragElements[i].addEventListener('touchstart', touchStartListener, false);    

    // Event Listener for when the touch interaction moves
    dragElements[i].addEventListener('touchmove', touchMoveListener, false);        

    // Event Listener for when the touch interaction ends       
    dragElements[i].addEventListener('touchend', touchEndListener, false); 
    }

}


function dragEnter(ev) {
   ev.preventDefault();
   return true;
}


function dragOver(ev) {
    ev.preventDefault();
}


function detectTouchHit(obj,touchx,touchy) { // Function to detect if dragged over other box

  // Retreive coordinates of obj box
  var box = $('#'+obj);
  var offset = box.offset();
  var x = offset.left;
  var y = offset.top;
  var w = box.width();
  var h = box.height();

  // Test if the touch end outside the other box         
  if(touchx < x || touchx > x+w) return false;  
  if(touchy < y || touchy > y+h) return false;
  return true;

}


// Event triggered when a Volunteer is dragged and then dropped
function dragDrop(event) {

  var data = event.dataTransfer.getData("Text"); // Retrieve Name from volunteer being dragged

  var volunteerID = event.dataTransfer.getData("objID"); // Retrieve Volunteer Hour Record ID from volunteer being dragged
  

  //var CurrentContainer = $('#'+volunteerID).parent().parent().attr('Id'); // Retrieve which Container the volunteer is being dropped on0
  //var CurrentDivId = $('#'+volunteerID).parent().attr('id'); 
  //if(CurrentContainer != event.target.id ){ // Only check if it is being dropped on a different Container
  if( ($('#'+volunteerID).attr('id') != event.target.id) && ($('#'+volunteerID).parent().attr('id') != event.target.id)){ 
    if(event.target.id == "drop-in-container") {
      //alert('appending In dropIn' + volunteerID);
      $('#drop-in-container').append($("#"+volunteerID));
      startProcessing();
      SetInTimeInJavascript(volunteerID);
      sortList('drop-in-container','drag');
    }else if(event.target.id == "drop-out-container"){
      $('#drop-out-container').append($("#"+volunteerID));
      startProcessing();
      // alert('appending In dropOut ' + volunteerID);
      UpdateOutTimeInJavascript(volunteerID);
      sortList('drop-out-container','drag');
    }  
  }
  
    //showing title
  $('div[draggable$=true]').each(function(i,v){
  	if($(this).children(this).text().length > 12)
  		$(v).attr('title',$(v).text())
  	});

  //div height resize logic
  resizePage();
  return false;
}

// Add touch and drag listeners for dropped-in volunteer
function dropInListeners(newVolunteerID, newVolunteerName){

//alert('drop in ' + newVolunteerID + ' , ' + newVolunteerName);
if(newVolunteerID == 0) {
  return;
}else{
  // Create a new <div> element
  var newVolunteer = document.createElement('div');
  var newVolunteerInner = document.createElement('div');
  
  // Get a reference to the parent element
  var parentDiv = document.getElementById('drop-in-container');

  newVolunteer.appendChild(newVolunteerInner);


  // Insert the new element into the DOM before sp2
  parentDiv.appendChild(newVolunteer);

  newVolunteerInner.innerHTML = newVolunteerName;
  newVolunteer.className = 'col-lg-4';
  newVolunteer.setAttribute('draggable', true);
  newVolunteer.id = newVolunteerID;
  newVolunteer.setAttribute('data-dragging', 'false');  // Set Dragging to true

  // Event Listener for when the drag interaction starts
  newVolunteer.addEventListener('dragstart', dragStartListener, false); 
   
  // Event Listener for when the drag interaction finishes
  newVolunteer.addEventListener('dragend', dragEndListener, false);

  // Event Listener for when the touch interaction starts
  newVolunteer.addEventListener('touchstart', touchStartListener, false);    

  // Event Listener for when the touch interaction moves
  newVolunteer.addEventListener('touchmove', touchMoveListener, false);        

  // Event Listener for when the touch interaction ends       
  newVolunteer.addEventListener('touchend', touchEndListener, false); 

  sortList('drop-in-container','drag');
}
}


// Alphabetically sort the Volunteers within the container
function sortList(id,interaction) {
 // elementDragged = null;

  if(id == "drop-in-container") { // Set layer zindexes for different boxes
    layer = 100;
  }else {
    layer = 300;
  }

  var mylist = $('#'+id);
  var listitems = mylist.children('div').get();

  listitems.sort(function(a, b) {
    var compA = $(a).text();
    var compB = $(b).text();
    return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
  })
  
  $.each(listitems, function(idx, itm) { 
    itm.style.zIndex = layer;  // Layer the divs in each drop box
    // itm.addEventListener('touchstart', touchStartListener, false); // Add the touch start listeners back in
    itm.setAttribute('data-dragging', 'false');  // Set Dragging to true 
    layer++;    
    mylist.append(itm);
  })
  
  if(interaction == 'touch'){
    // Add all touch listeners back in
    var draggables =  $("*[draggable='true']");
    for (var i = 0; i < draggables.length; i++) {
      draggables[i].addEventListener('touchstart', touchStartListener, false); // Add the touch start listeners back in
    }
  }
  resizePage();
}


 
////////////////////////////////////////////////////////////////////////////////        
// Keycounter Refresh Code
////////////////////////////////////////////////////////////////////////////////

//this function is working for refresh Visulaforce page,for given RefreshInterval in CustomSetting
// if user is typing in the any of the text field while refreshing refresh is deffered for next nterval
// if user takes pause of more than 5 seconds while typing and refresh interval condition fullfilled
// page refreshes

var keyCounter = 0;
function pageRefresh(refreshPeriod) {
    keyCounter = 0;
    setInterval(function(){keyCounter = keyCounter + 1;},200);
    setInterval(function(){if(keyCounter > 25){location.reload(true);}},refreshPeriod);
    TextBoxKeypressevent();
}

function TextBoxKeypressevent()
{
    $('[id$=fname]').keypress(function() {
      keyCounter = 0;
    });
    
    $('[id$=lname]').keypress(function() {
      keyCounter = 0;
    });
    
    $('[id$=Email]').keypress(function() {
      keyCounter = 0;
    });
}

//Logic for resize div on sigup

function resizePage()
{
    //div height resize logic
    window.setTimeout(function(){
        $('#drop-out-container').css("height", "auto");
        $('#drop-in-container').css("height", "auto");
         if($('#drop-out-container').height() > $('#drop-in-container').height())
                $('#drop-in-container').height($('#drop-out-container').height());
          else
                $('#drop-out-container').height($('#drop-in-container').height());  
     },50);
}



// Clear the Drop-in input fields
function clearText(){
 
    $('[id$=fname]').val('');
    $('[id$=lname]').val('');
    $('[id$=Email]').val('');
}


// Modal window to alert when a Drop-In already has a Volunteer Hour on the Shift
function existingVolHour(){
    noty({ text: 'Volunteer Already Signed In', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 4000 });
    //window.setTimeout(function(){window.location.href = window.location.href;},500);
}


var Total_Number_Of_Volunteer = parseInt('{!objVolunteerShift.GW_Volunteers__Total_Volunteers__c}');
// Modal window to alert when a Drop-In is a new Volunteer
function newVolHour() {
    Total_Number_Of_Volunteer++;
    noty({ text: 'New Volunteer Sign-up', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 2000 });
   // window.setTimeout(function(){window.location.href = window.location.href;},500);
}


// Modal window to alert when a Drop-In cannot be added because the Shift is full
function shiftFull(param) {
    
    if(param != undefined)
    {
        if(param == false)
            noty({ text: 'Shift Is Full', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 3000 });
        hideSignUpFields(param);//hide signup fields and button when shift is full
        $('#loading-curtain-div').attr('style','display:none');
        $('#fade').attr('style','display:none');
        //window.setTimeout(function(){window.location.href = window.location.href;},500);
    }
    clearText();
}


// Call to Validate when Drop-In is submitted
function submitValidation() {
/*var strFname,strLname;
    if($('[id$=fname]').size() > 0)
    {
        strFname = $('[id$=fname]').val();
        strFname = strFname.replace(/ /g, '');
        $('[id$=fname]').val(strFname);
    }
    if($('[id$=lname]').size() > 0)
    {
        strLname = $('[id$=lname]').val();
        strLname = strLname.replace(/ /g, '');
        $('[id$=lname]').val(strLname);
    }*/
    $('[id$=form1]').validate();
    var isValid = $('[id$=form1]').valid(); // check if the form is valid if there is no error returns true
    if(isValid)
    {
        startProcessing();
    }
    return isValid;
}
// function for start loading process
function startProcessing()
{

    $('.js-loading-bar').modal('show');
    $('.js-loading-bar').find('.progress-bar').addClass('animate');
   // $('#loading-curtain-div').attr('style','display:block');
    //$('#fade').attr('style','display:block');
}

// function for stop loading process after complete
function stopProcessing()
{
    
    $('.js-loading-bar').find('.progress-bar').removeClass('animate');
    $('.js-loading-bar').modal('hide');
    $('#loading-curtain-div').attr('style','display:none');
    setTimeout(function() {
                 $('#fade').attr('style','display:none');
    },1000);
}
function delay()
{
    shiftFull(false);
}

// function called on sign up action
function CheckNumberOfVol()
{
    var Volunteers__Desired_Number_of_Volunteers = parseInt('{!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c}');
    if( isNaN(Total_Number_Of_Volunteer) )
        Total_Number_Of_Volunteer = 0;
    
    if( isNaN(Volunteers__Desired_Number_of_Volunteers) )
        Volunteers__Desired_Number_of_Volunteers = 0;
    
    if( (  Total_Number_Of_Volunteer >= {!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c}) && ( Total_Number_Of_Volunteer  != 0 && {!objVolunteerShift.GW_Volunteers__Desired_Number_of_Volunteers__c} != -10 ))
    {
        setTimeout(delay,3000);
    }
    else
    {
        shiftFull(true);
    }
}
</script>

<body onload="JavaScript:pageRefresh({!refreshTimeInterval});">

<apex:form id="form1">
<apex:pageMessages />

<div class="container">
  <div class="Header" style=" background:url('{!$Resource.CT_Logo}') no-repeat;">
    <div class="innerHeader" style="font-family: 'Nunito', sans-serif; font-size:28px; font-weight:700; margin-bottom:0px; color:white;">Volunteer Sign In</div>    
  </div>

  <h2 id="dropIn" style="margin-top:15px; padding-top:0px;">Drop-Ins</h2>

  <div class="row" style=""> 
    <div class='col-lg-12' id="noSpace" style="display:none;"><h3 style="margin:0px; padding-top:0px; color:white;">No spaces for Drop-ins. The shift is full.</h3> </div>
  </div>

  <!-- Sign in fields-->
  <div class="row" style="margin-top:10px;" id="signUp">

    <div class="col-lg-3 hidepopover" id="fnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!volunteerHourContact.FirstName}" html-placeholder="First Name" id="fname" styleClass="form-control input-lg" maxlength="40"/></div>

    <div class="col-lg-3 hidepopover" id="lnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!volunteerHourContact.LastName}" html-placeholder="Last Name" id="lname" styleClass="form-control input-lg" maxlength="50"/></div>

    <div class="col-lg-4 hidepopover" id="emailLabel" data-toggle="popover"  data-placement="top"><apex:inputText id="Email" value="{!volunteerHourContact.Email}" styleClass="form-control input-lg" html-placeholder="Your@email.com" maxlength="80"/></div>
          
    <div class="col-lg-2" id="signUpDiv">
      <apex:outputpanel id="signUpContainer">             
        <apex:commandLink id="signUpButton"  action="{!SignUp}" value="SignUp" onclick="if(!submitValidation())return false;" oncomplete="stopProcessing();if({!contactFlag}){newVolHour();}else{ existingVolHour();}CheckNumberOfVol();clearText();resizePage();" styleClass="btn btn-info btn-block" style="border-radius:0; font-family:'Nunito', sans-serif; font-size:x-large;font-color:white;" rerender="signUpContainer"/>

        <script>
           dropInListeners('{!signUpVolunteerID}','{!signUpVolunteerName}');
        </script>

      </apex:outputpanel>
    </div>
  </div>
  <div id="fade" class="processing_overlay">overlay</div> 
  <div class="modal js-loading-bar" style="width:100%; height:100%;">
    <div class="modal-dialog" style="top:40%;width:15%;height:15%;margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;">
    	<center><div class="spinner">
	      <div class="rect1"></div>
	      <div class="rect2"></div>
	      <div class="rect3"></div>
	      <div class="rect4"></div>
	      <div class="rect5"></div>
    	</div></center>
    </div>
  </div>
	<div class="row" id="in-n-out" style="margin:30px 0 10px 0; color:white;"> 
		<h2 style="display:inline; padding-right:10px;">In-n-Out</h2> Move Volunteers to indicate if they are on site or not.
	</div>

    
  <div class="row" id="mainDiv">

    <apex:outputpanel id="Inpanel">
		<h1 style="text-align:left; width:100%; padding-left:15px;">In</h1>
		<div id="drop-in-container-nav"></div> 
		<div droppable="true" id="drop-in-container" class="col-lg-6" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)"  >
			<apex:repeat value="{!lstVolunteerSignIn}" var="TimeLog" id="newlogs">
				<div draggable="true" id="{!TimeLog.VolunteerContactId}" class="col-lg-4" data-dragging="false" >
					<div><apex:outputText value="{!TimeLog.volunteerName}"  escape="false"></apex:outputText></div>
				</div>
			</apex:repeat>
		</div>
    </apex:outputpanel>


    <apex:outputpanel id="Outpanel" >      
      <div droppable="true" id="drop-out-container" class="col-lg-6" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)" >
        <h1 style="text-align:left; width:100%; padding-left:15px;">Out</h1>
        <apex:repeat value="{!lstVolunteerSignOut}" var="TimeLog" id="outLogs">
          <div draggable="true" id="{!TimeLog.VolunteerContactId}" class="col-lg-4" >
            <div><apex:outputText value="{!TimeLog.volunteerName}" escape="false"></apex:outputText></div>
          </div>
        </apex:repeat>
      </div> 
    </apex:outputpanel> 
  </div>

</div>




<apex:actionFunction action="{!SetInTime}" name="SetInTimeInJavascript" rerender="newlogs" oncomplete="stopProcessing()">
  <apex:param name="firstParam" assignTo="{!VolunteerNameValue}" value="" />
</apex:actionFunction>


<apex:actionFunction action="{!UpdateOutTime}" name="UpdateOutTimeInJavascript" rerender="outLogs" oncomplete="stopProcessing()">
  <apex:param name="firstParam" assignTo="{!VolunteerNameValue}" value="" />
</apex:actionFunction>


</apex:form>




</body>
</apex:page>