<!-- 
// Written by David Habib, copyright (c) 2013 DJH Consulting, djhconsulting.com 
// This program is released under the GNU Affero General Public License, Version 3. http://www.gnu.org/licenses/
-->
<apex:page showHeader="false" id="SiteTemplate" standardStylesheets="false" controller="GW_Volunteers.VOL_CTRL_PersonalSiteTemplate" cache="false">

<!-- Load jQuery  -->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"/>

<!--Load Bootstrap -->     
    <apex:stylesheet value="{!URLFOR($Resource.GW_Volunteers__Bootstrap, 'bootswatch/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.GW_Volunteers__Bootstrap4Force, 'Bootstrap4Force.css')}"/>    
    <apex:stylesheet value="{!URLFOR($Resource.GW_Volunteers__Bootstrap, 'bootstrap/css/bootstrap.min.css')}"/>
    <apex:includescript value="{!URLFOR($Resource.GW_Volunteers__Bootstrap, 'bootstrap/js/bootstrap.js')}"/>
    <apex:includescript value="{!URLFOR($Resource.GW_Volunteers__Bootstrap, 'bootstrap/js/bootstrap.min.js')}"/>
    
<!-- Load VolunteersPersonalSiteCSS.css -->
    <apex:stylesheet value="{!strURLtoCSSFile}" />

    <apex:insert name="header">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner" style="padding:20px 40px; background-color: #fff; background-image: none; background-repeat: no-repeat; filter: none;">
               <div style="float:left; width:185px; margin-left:42px;"><a href="http://habitatsouthernab.ca/" target="_blank"><apex:image url="{!$Resource.hh_Sites_Logo}" style="width:185px; height:75px;"/></a></div>
                <div style="float:left; color:#263d74; width:185px; font-size:18px; margin:10px 0 0 10px;">Building Houses,<br/>Building Hope,<br/><span style="color:#61a744; font-weight:bold">Building Philadelphia</span></div>


            </div>
            <div class="navbar-inner" style="padding:0 20px;">              
                <ul class="nav">
                    <li class="{!IF($CurrentPage.Name == 'GW_Volunteers__PersonalSiteJobListing', 'active', '')}"><a href="{!$Page.GW_VOlunteers__PersonalSiteJobListing + '?nMonthsToShow=1'}" >Volunteer Job Listing</a></li>
                    <li class="{!IF($CurrentPage.Name == 'GW_Volunteers__PersonalSiteJobCalendar', 'active', '')}"><a href="{!$Page.PersonalSiteJobCalendar_HH + '?nMonthsToShow=1'}" >Volunteer Job Calendar</a></li>
                    <li class="{!IF($CurrentPage.Name == 'GW_Volunteers__PersonalSiteContactInfo', 'active', '')}"><a href="{!$Page.GW_VOlunteers__PersonalSiteContactInfo}" >View your information</a></li>          
                </ul> 
            </div>          
        </div>
    </apex:insert>
    
    <div style="padding:20px;" >
        <apex:insert name="body" />
    </div>
    
    <apex:insert name="footer">    
        <div class="navbar navbar-static-bottom">
            <div class="navbar-inner" style="padding:18px 0 0 20px;">
                <p>&copy; Habitat for Humanity Philadelphia 2014</p>
            </div>
        </div>    
        <site:googleAnalyticsTracking />            
    </apex:insert>
    
</apex:page>