<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false" language="{!$CurrentPage.parameters.l}" >
<html lang="en">
 <head>
  <title>Mobile Customer Service</title>
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<apex:stylesheet value="{!URLFOR($Resource.pkb_mobile,'css/normalize.css')}" />
	<link rel="apple-touch-icon" href="{!URLFOR($Resource.pkb_mobile, 'imgs/appIcon.png')}" />
	<c:pkb_mobile_css />
	<c:pkb_mobile_templates />
	<c:pkb_mobile_jsInit />
	<script src="{!URLFOR($Resource.pkb_mobile, 'js/libs/iscroll/iscroll.js')}"></script>
	<script
		data-main="{!URLFOR($Resource.pkb_mobile, 'js/main')}"
		src="{!URLFOR($Resource.pkb_mobile, 'js/libs/require/require.js')}"></script>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <style>
         .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
     </style>
 </head>
<body>
   <!--  <div class="container">-->
 <div id="homeContainer"></div>
 <div class="uploadBox" style="display:none;">
  <input style="display:none;" type="file"  multiple="true" id="filesInput" name="file" />
 </div>
   
	<div class="row">
       <!-- <h2>Multi level dropdown menu in Bootstrap 3</h2>
        <hr/>-->
     
    
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html" style="margin-left: 2%;margin-top: 1%;">
                Platforms <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
               <li class="dropdown-submenu">
                   <a tabindex="-1" href="#">D2L</a>
                   <ul class="dropdown-menu">
                     <li><a tabindex="-1" href="#">Course Content</a></li>
                     <li class="dropdown-submenu">
                     <a href="#">Course Setting</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Copy/Import/Export</a></li>                      
                    </ul>    
                    </li>
                    <li><a tabindex="-1" href="#">Checklist</a></li>
                    <li><a tabindex="-1" href="#">Discussions</a></li>
                    <li><a tabindex="-1" href="#">Dropbox</a></li>
                    <li><a tabindex="-1" href="#">Surveys</a></li>
                    <li><a tabindex="-1" href="#">Course Home</a></li>
                    <li><a tabindex="-1" href="#">Grades</a></li>
                    <li><a tabindex="-1" href="#">User Progress</a></li>
                    <li><a tabindex="-1" href="#">Rubrics</a></li>
                    <li><a tabindex="-1" href="#">Classlist</a></li>
                    <li><a tabindex="-1" href="#">Enrollment</a></li>                 
                      <li class="dropdown-submenu">
                        <a href="#">Groups</a>
                        <ul class="dropdown-menu">                            
                           <li class="dropdown-submenu">
                               <a href="#">Quizzes</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="#">Question Library</a></li>
                                  </ul>
                            </li>
                        </ul>    
                    </li>
                   </ul>       
                   </li>
            <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Turnitin</a>
                    <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">D2L Settings</a></li>
                    <li><a tabindex="-1" href="#">Turnitin.com Settings</a></li>
                    <li><a tabindex="-1" href="#">OriginalityCheck</a></li>
                    <li><a tabindex="-1" href="#">GradeMark</a></li>
                    <li><a tabindex="-1" href="#">GrammarCheck</a></li>                   
                   </ul>
            </li>
                <li class="dropdown-submenu">
                   <a tabindex="-1" href="#">Media Space</a>
                    <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Captioning</a></li>
                    <li><a tabindex="-1" href="#">Media Upload</a></li>
                    <li><a tabindex="-1" href="#">Sharing</a></li>
                    <li><a tabindex="-1" href="#">Channels</a></li>
                    <li><a tabindex="-1" href="#">Playlists</a></li>
                    <li><a tabindex="-1" href="#"> D2L Widgets</a></li>
                    <li><a tabindex="-1" href="#">My Media</a></li>
                    <li><a tabindex="-1" href="#">CaptureSpace Lite</a></li>
                    <li><a tabindex="-1" href="#">Media Editing</a></li>
                    <li><a tabindex="-1" href="#">Video Quiz Tool</a></li>
                 </ul>
                </li>
                <li class="dropdown-submenu">
                   <a tabindex="-1" href="#">Blackboard Collaborate</a>
                    <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Collaborate Ultra</a></li>
                    <li><a tabindex="-1" href="#">Collaborate (Legacy)</a></li>
                   </ul>
                </li>
                 <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Google Apps for Education</a>
                    <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Gmail</a></li>
                    <li><a tabindex="-1" href="#">Calendar</a></li>
                    <li><a tabindex="-1" href="#">YouTube</a></li>
                    <li><a tabindex="-1" href="#">Hongouts</a></li>
                    <li><a tabindex="-1" href="#">Google+</a></li>
                    <li><a tabindex="-1" href="#">Sites</a></li>
                    <li><a tabindex="-1" href="#">Drive</a></li>                    
                   </ul>
                </li>
                 <li class="dropdown-submenu">
                   <a tabindex="-1" href="#">PebblePad</a>
                    <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Pebble+</a></li>
                        <li class="dropdown-submenu">
                     <a href="#">Atlas</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Templates</a></li>
                        <li><a href="#">Workspaces</a></li>
                    </ul>    
                    </li>
                   </ul>
                </li>
                 <li><a href="#">Other</a></li>           
           </ul>
        </div>
        </div>
   <!-- </div>-->
</body>
</html>
</apex:page>