<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="true" controller="CNTRL_OnDragDropSignIn" >
<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:800italic,400' rel='stylesheet' type='text/css'></link>
<apex:includeScript value="{!URLFOR($Resource.Noty,'/jquery.noty.packaged.js')}" />

<style>
    .body, h1, h2 {
      font-family: 'Nunito', sans-serif;
    }
     .error
        {
            border-color:red;
        }
        .success
        {
            border-color:green;
        }
    h1 {
      font-weight:700;
      font-size:3em;
    }
    
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    
    .row {
      height: 100%;
    }
    
    #drop-in-container {
      background-color:#2380cb;
      border: 5px solid #fff;
      color:white;
      margin:0px;
      padding:0px;
      min-height:400px;
      text-align: center;
    }
    
    #drop-in-container div {
      border: 5px solid #2380cb;
      background-color:#00A8E1;
      padding: auto 0;
      height:125px;
      font-size:2em;
    }
    
    #drop-out-container {
      background-color:#180052;
      border: 5px solid #fff;
      color:white;
      margin:0px;
      padding:0px;
      min-height:400px;
      text-align: center;
    }
    
    #drop-out-container div {
      border: 5px solid #180052;
      background-color:#423173;
      padding: auto 0;
      height:125px;
      font-size:2em;
    }
    
    
    .over {
      background: #F7F7F7;
    }
    
    .drag-elements {
      list-style: none;
      padding: 0;
      margin: 0 0 1em;
    }
    
    
    .drag-elements div {
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 1em 1em 0;
      background: #F7F7F7;
      border-radius: 0px;
      font-size:24px;
    }
    
    
    /* Clearfix Utils */
    .clearfix {
      *zoom: 1;
    }
    
    .clearfix:before,
    .clearfix:after {
      display: table;
      line-height: 0;
      content: ""; 
    }
    
    .clearfix:after {
      clear: both;
    }
    
    /* used in form fields */
    .form-control{
        border-radius:0;
        font-family: 'Nunito', sans-serif;
        font-weight:300;
        font-size:22px;
        
    }   
     
    .labelText{
      font-family: 'Nunito', sans-serif;
      font-weight:300;
      font-size: 22px;
      padding-left:10px;
    }
    
    
</style>

<script type="text/javascript">

jQuery = $.noConflict();
var GoingToDrag = '';  

jQuery(document).ready(function() { 
    dragEventListener();
    clearText();
    jQuery.validator.addMethod("regex",function(value,element,regexp){
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
    },"Only Characters from A-z");
            
    // capitalize the first letter of the input text box
     jQuery('input').on('keydown', function(event) {
        // change the font color to black if user type the value otherwise set the default font color
         if( jQuery('input').val() != '' )
         {
             jQuery('input').css('color', 'black');
         }
         else
         {
             jQuery('input').css('color', 'initial');
         }
         if (this.selectionStart == 0 && event.keyCode >= 65 && event.keyCode <= 90 && !(event.shiftKey) && !(event.ctrlKey) && !(event.metaKey) && !(event.altKey)) {
            var $t = jQuery(this);
            event.preventDefault();
            var char = String.fromCharCode(event.keyCode);
            $t.val(char + $t.val().slice(this.selectionEnd));
            this.setSelectionRange(1,1);
         }
    });
     // Remove capitalization from the email field
    jQuery('[id$=Email]').unbind( 'keydown' );
    
    jQuery('[id$=form1]').validate({
        errorElement: "div",
        onclick:false,
        onkeyup:function(element) {  
                    if(event.keyCode != 9) 
                    jQuery(element).valid(); 
                    },
        onfocusout:function(element) { jQuery(element).valid(); },
        errorPlacement: function(error, element) {
            var idvar = jQuery(element).attr('id');
            if(idvar == 'j_id0:form1:fname')
            {     
                 jQuery('[id$=fnameLabel]').attr("data-content",jQuery(error).text());
                 jQuery('[id$=fnameLabel]').attr("data-placement","top");
                 jQuery('[id$=fnameLabel]').popover('show');             
            }
            if(idvar == 'j_id0:form1:lname')
            {   
                 jQuery('[id$=lnameLabel]').attr("data-content",jQuery(error).text());
                 jQuery('[id$=lnameLabel]').attr("data-placement","top");
                 jQuery('[id$=lnameLabel]').popover('show'); 
            }
            if(idvar == 'j_id0:form1:Email')
            {
                 jQuery('[id$=emailLabel]').attr("data-content",jQuery(error).text());
                 jQuery('[id$=emailLabel]').attr("data-placement","top");
                 jQuery('[id$=emailLabel]').popover('show'); 
            }
           
        },
        success: function (label, element) {
            if(label.attr('for') == jQuery('[id$=fnameLabel]').find('input').attr('id'))
                jQuery('[id$=fnameLabel]').popover('hide'); 
            if(label.attr('for') == jQuery('[id$=lnameLabel]').find('input').attr('id'))
                jQuery('[id$=lnameLabel]').popover('hide');
            if(label.attr('for') == jQuery('[id$=emailLabel]').find('input').attr('id'))
                jQuery('[id$=emailLabel]').popover('hide');
        }
        
   });
    if(jQuery('[id$=fname]').size() > 0)
    {
        jQuery('[id$=fname]').rules("add",{
           required: true,
           number:false,
           minlength: 2,
           messages: {
           required: "First name is required.",
           regex: "Numbers not allowed",
           minlength: "First name needs to be atleast 2 characters long."
        }
        }); 
    }
    
    if(jQuery('[id$=lname]').size() > 0)
    {
        jQuery('[id$=lname]').rules("add",{
           minlength: 2,
           required: true,
           number:false,
           messages: {
           minlength: "Last name needs to be atleast 2 characters long.",
           required: "Last name is required.",
           regex: "Numbers not allowed"
        }
        }); 
    }
    
    if(jQuery('[id$=Email]').size() > 0)
    {
        jQuery('[id$=Email]').rules("add",{
                required: true,
                email: "required email",
                messages: {
                required: "Enter your Email.",
                email: "Please enter a valid email address.."
            }
        }); 
    }
  
});

function dragEventListener()
{
    var dragElements = jQuery('#drop-in-container div');
    var elementDragged = null;
    for (var i = 0; i < dragElements.length; i++) {
// Event Listener for when the drag interaction starts.
        dragElements[i].addEventListener('dragstart', function(e) {
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text', this.innerHTML);
            e.dataTransfer.setData('objID', this.id);
            elementDragged = this;
        });
// Event Listener for when the drag interaction finishes.
    dragElements[i].addEventListener('dragend', function(e) {
        elementDragged = null;
    });
  };

    var dragElements2 = jQuery('#drop-out-container div');
    var elementDragged2 = null;
    for (var i = 0; i < dragElements2.length; i++) {
// Event Listener for when the drag interaction starts.
        dragElements2[i].addEventListener('dragstart', function(e) {
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text', this.innerHTML);
            e.dataTransfer.setData('objID', this.id);
            elementDragged2 = this;
        });

// Event Listener for when the drag interaction finishes.
    dragElements2[i].addEventListener('dragend', function(e) {
        elementDragged2 = null;
    });
  };

}


function dragEnter(ev) {
   ev.preventDefault();
   return true;
}

function dragOver(ev) {
    ev.preventDefault();
}

function dragDrop(ev) {
    var flag = false;
    var flag1 = false; 
    var data = ev.dataTransfer.getData("Text"); // Retrieve Name
    var objID = ev.dataTransfer.getData("objID"); // Retrieve Object ID = Volunteer Hour Record ID
    var newObj = jQuery(objID);
    var volunteerId = GoingToDrag;//.split('__')[1];
    var CurrentPosition = jQuery('#'+volunteerId).parent().parent().attr('Id')
    if(CurrentPosition != ev.target.id ){
        if( ev.target.id == "drop-in-container" && flag == false   ) {
            flag = true;
            jQuery('#drop-in-container').append(jQuery("#"+objID));
            SetInTimeInJavascript( volunteerId );
        }else if(ev.target.id == "drop-out-container" && flag1 == false ){
            flag1 = true;
            jQuery('#drop-out-container').append(jQuery("#"+objID));
            UpdateOutTimeInJavascript( volunteerId );
        }  
    }
    ev.stopPropagation();
    return false;
}
function clearText()
{
    jQuery('[id$=fname]').val('');
    jQuery('[id$=lname]').val('');
    jQuery('[id$=Email]').val('');
    
}
function existingVolHour()
{
    noty({ text: 'Volunteer Already SignIn', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 3000 });
    /*jQuery.notify(
      "Volunteer Already SignIn", 
      {  position:"center" , type:'information'}
    );*/
}
function newVolHour()
{
    noty({ text: 'New Volunteer SignUp', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 3000 });
}
function shiftFull()
{
    noty({ text: 'Shift Is Full', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 3000 });
}
function submitValidation()
{
    jQuery('[id$=form1]').validate();
    var isValid = jQuery('[id$=form1]').valid(); // check if the form is valid if there is no error returns true
    return isValid;
}

</script>
<apex:form id="form1">
<apex:pageMessages />
<div class="container">
    <div style="width:100%; height:80px; padding-top:27px; text-align:right; background:url('http://www.collegetrack.org/main/templates/ct_main/images/header.gif') no-repeat;">
        <div style="font-family: 'Nunito', sans-serif; font-size:28px; font-weight:700; margin-bottom:0px;">Volunteer Sign In</div>    
    </div>
    <h2 style="margin-bottom:0px; ">Drop-Ins</h2>
    <!-- Sign in fields-->
    <div class="row" style="margin-top:40px;">
        <div class="col-lg-3 col-med-6" id="fnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!contactDetails.FirstName}" html-placeholder="First Name" id="fname" styleClass="form-control input-lg"/></div>
        <div class="col-lg-3 col-med-6" id="lnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!contactDetails.LastName}" html-placeholder="Last Name" id="lname" styleClass="form-control input-lg"/></div>
        <div class="col-lg-4 col-med-6" id="emailLabel" data-toggle="popover"  data-placement="top"><apex:inputText id="Email" value="{!contactDetails.Email}" styleClass="form-control input-lg" html-placeholder="Your@email.com" /></div>
             
        <div class="col-lg-2 col-med-3">
            <apex:outputpanel id="signUpContainer">
                <apex:commandLink id="signUpButton"  action="{!SignUp}" value="SignUp"  oncomplete="if(!submitValidation())return false;if({!shift.GW_Volunteers__Number_of_Volunteers_Still_Needed__c}== 0){shiftFull();return false;}if({!contactFlag}){newVolHour();}else{ existingVolHour();}clearText();" styleClass="btn btn-info btn-block" style="border-radius:0; font-family:'Nunito', sans-serif; font-size:x-large;font-color:white;" rerender="Inpanel,signUpContainer"/>
            </apex:outputpanel> 
        </div>
     
    </div>
        
    <h1>In-n-Out</h1>
    <p>
      Move Volunteers to indicate if they are on site or not.
    </p>
    
<div class="row">
    <apex:outputpanel id="Inpanel" >
        <div id="drop-in-container" class="col-lg-6" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)">
            <h1 style="text-align:left; width:100%; padding-left:15px;">In</h1> 
            <apex:outputpanel id="VolunteerContactId">
                <apex:repeat value="{!lstNewVolunteertTimeLog}" var="TimeLog" id="newlogs">
                    <div draggable="true" id="{!TimeLog.VolunteerContactId}" class="col-lg-4 col-med-6" ondrag="GoingToDrag = this.id;" >
                        <apex:outputText value="{!TimeLog.volunteerName}"  style="font-family:sans-serif;font-size:large;"></apex:outputText>
                    </div>
                </apex:repeat>
            
            <script type="text/javascript">dragEventListener();</script> 
            </apex:outputpanel> 
        </div>
    </apex:outputpanel>
    <apex:outputpanel id="Outpanel" >      
    <div id="drop-out-container" class="col-lg-6" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)">
        <h1 style="text-align:left; width:100%; padding-left:15px;">Out</h1>
        <apex:outputpanel id="VolunteerName">
            <apex:repeat value="{!lstVolunteerTimeLog}" var="TimeLog" id="outLogs">
                <div draggable="true" id="{!TimeLog.VolunteerContactId}" class="col-lg-4 col-med-6" ondrag="GoingToDrag = this.id;">
                    <apex:outputText value="{!TimeLog.volunteerName}"  style="font-family:sans-serif;font-size:large;"></apex:outputText>
                </div>
            </apex:repeat>
            <script type="text/javascript">dragEventListener();</script> 
        </apex:outputpanel>
    </div> 
    </apex:outputpanel>
</div>
</div>
<apex:actionFunction action="{!SetInTime}" name="SetInTimeInJavascript" rerender="newlogs" >
    <apex:param name="firstParam" assignTo="{!VolunteerNameValue}" value="" />
</apex:actionFunction>

<apex:actionFunction action="{!UpdateOutTime}" name="UpdateOutTimeInJavascript" rerender="outLogs">
    <apex:param name="firstParam" assignTo="{!VolunteerNameValue}" value="" />
</apex:actionFunction>

 

</apex:form>


</apex:page>