<apex:page Controller="OnlineDonations"  sidebar="false" showHeader="false"  standardStylesheets="false" docType="html-5.0" language="en-US" applyHTMLTag="false">
<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>
<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fjquery.js')}"></apex:includeScript>
<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fminjquery.js')}"></apex:includeScript>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link>
<apex:includeScript value="{!URLFOR($Resource.Noty,'/jquery.noty.packaged.js')}" />

<script type="text/javascript">

$(document).ready(function() {
    amountCss();
    extraSelectCss();
    leadSourceCss();
    showAmount();
    designationCss();
    assignFormatAmount();
    changeFormat();
    capitalizeFirstLetter();
    showDedicationBox();
   
    //***** script will use for adding default Select in State.
    $('[id$=State]').append('<option value="" selected="selected">--State--</option>').find('option:last').slice(0,1).insertBefore($('[id$="State"] option:eq(0)'));
	
	//*****custom validaion method for the fields where only characters are allowed
	$.validator.addMethod("regex",function(value,element,regexp){
	         var re= new RegExp(regexp);
	         return this.optional(element) || re.test(value);
	    },"Only Characters from A-z");
	$('.form1').validate({
	    errorElement: "div",
	    onclick:false,
	    onkeydown:false,
	    onkeyup:false,
	    onkeypress:false,
	    onfocusout:function(element,event) {
	        if( event.which != 9 || event.keyCode != 9 )
	        {
	            $(element).valid(); 
	        }
	    },
   
     //onfocusout:function(element) { $(element).valid(); },
    errorPlacement: function(error, element) {
            var idvar = $(element).attr('id');
   //***** Displaying the error pop over and placing appropriate message in the pop over
            if(idvar == 'j_id0:form1:CCNumber')
            {   
                 $('[id$=cardLabel]').attr("data-content",$(error).text());
                 $('[id$=cardLabel]').attr("data-placement","top");
                 $('[id$=cardLabel]').popover('show'); 
            }
            
            if(idvar == 'j_id0:form1:CVV')
            {
                 $('[id$=cvvLabel]').attr("data-content",$(error).text());
                 $('[id$=cvvLabel]').attr("data-placement","top");      
                 $('[id$=cvvLabel]').popover('show'); 
                 
            }
            if(idvar == 'j_id0:form1:fname')
            {     
                 $('[id$=fnameLabel]').attr("data-content",$(error).text());
                 $('[id$=fnameLabel]').attr("data-placement","top");
                 $('[id$=fnameLabel]').popover('show');             
            }
            
            if(idvar == 'j_id0:form1:lname')
            {   
                 $('[id$=lnameLabel]').attr("data-content",$(error).text());
                 $('[id$=lnameLabel]').attr("data-placement","top");
                 $('[id$=lnameLabel]').popover('show'); 
                 
            }
            
            if(idvar == 'j_id0:form1:Email')
            {
                 $('[id$=emailLabel]').attr("data-content",$(error).text());
                 $('[id$=emailLabel]').attr("data-placement","top");
                 $('[id$=emailLabel]').popover('show'); 
            }
            
            if(idvar == 'j_id0:form1:Phone')
            {
                 $('[id$=phoneLabel]').attr("data-content",$(error).text());
                 $('[id$=phoneLabel]').attr("data-placement","top");
                 $('[id$=phoneLabel]').popover('show'); 
            }
            
            if(idvar == 'j_id0:form1:Address')
            {
                 $('[id$=addressLabel]').attr("data-content",$(error).text());
                 $('[id$=addressLabel]').attr("data-placement","top");
                 $('[id$=addressLabel]').popover('show'); 
            }
            
            
            if(idvar == 'j_id0:form1:City')
            {
                 $('[id$=cityLabel]').attr("data-content",$(error).text());
                 $('[id$=cityLabel]').attr("data-placement","top");
                 $('[id$=cityLabel]').popover('show'); 
            }
            
            if(idvar == 'j_id0:form1:Postal')
            {
                 $('[id$=postalLabel]').attr("data-content",$(error).text());
                 $('[id$=postalLabel]').attr("data-placement","top");
                 $('[id$=postalLabel]').popover('show'); 
            }
            
            if(idvar == 'j_id0:form1:Amount')
            {
                 $('[id$=amountLabel]').attr("data-content",$(error).text());
                 $('[id$=amountLabel]').attr("data-placement","top");      
                 $('[id$=amountLabel]').popover('show'); 
                 
            }
            
            if(idvar == 'inputProvince')
            {
                 $('[id$=province]').attr("data-content",$(error).text());
                 $('[id$=province]').attr("data-placement","top");      
                 $('[id$=province]').popover('show'); 
                 
            }
            
            if(idvar == 'j_id0:form1:State')
            {
                 $('[id$=divProvinceList]').attr("data-content",$(error).text());
                 $('[id$=divProvinceList]').attr("data-placement","top");      
                 $('[id$=divProvinceList]').popover('show'); 
                 
            }
            
        },
    //***** Success function hides the pop over if any on valid data
    success: function (label, element) {        
               if( label.attr('for') == $('[id$=cardLabel]').find('input').attr('id') )
               {     
                   $('[id$=cardLabel]').popover('hide');
                   $('[id$=cardLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=cvvLabel]').find('input').attr('id'))
               {
                   $('[id$=cvvLabel]').popover('hide');
                   $('[id$=cvvLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=fnameLabel]').find('input').attr('id') )
               {
                   $('[id$=fnameLabel]').popover('hide');
                   $('[id$=fnameLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=lnameLabel]').find('input').attr('id') )
               {
                   $('[id$=lnameLabel]').popover('hide');
                   $('[id$=lnameLabel]').off('click');
                   
               }
               if( label.attr('for') == $('[id$=emailLabel]').find('input').attr('id') )
               {
                   $('[id$=emailLabel]').popover('hide');
                   $('[id$=emailLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=phoneLabel]').find('input').attr('id') )
               {
                   $('[id$=phoneLabel]').popover('hide');
                   $('[id$=phoneLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=addressLabel]').find('input').attr('id') )
               {
                   $('[id$=addressLabel]').popover('hide');
                   $('[id$=addressLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=cityLabel]').find('input').attr('id') )
               {
                   $('[id$=cityLabel]').popover('hide');
                   $('[id$=cityLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=postalLabel]').find('input').attr('id') )
               {
                   $('[id$=postalLabel]').popover('hide');
                   $('[id$=postalLabel]').off('click');
               }
               if( label.attr('for') == $('[id$=amountLabel]').find('input').attr('id') )
               {
                   $('[id$=amountLabel]').popover('hide');
                   $('[id$=amountLabel]').off('click');
                }   
               if( label.attr('for') == $('[id$=amountLabel]').find('input').attr('id') )
               {
                   $('[id$=amountLabel]').popover('hide');
                   $('[id$=amountLabel]').off('click');
                }
               if( label.attr('for') == $('[id$=province]').find('input').attr('id') )
               {
                   $('[id$=province]').popover('hide');
                   $('[id$=province]').off('click');
               }
               if( label.attr('for') == $('[id$=divProvinceList]').find('select').attr('id') )
               {
                   $('[id$=divProvinceList]').popover('hide');
                   $('[id$=divProvinceList]').off('click');
               }
            }
    }); 

 /* validation rules if there is field in the page then only validation come into
 * action otherwise validation does not affect the functinality
 * one can simply remove the fields and validation for those fields are skipped.
 */
     
    if( $('[id$=CCNumber]').size() > 0 )
    {
      
        $('[id$=CCNumber]').rules("add",{
            required: true,
            minlength:19,
            messages: {
            required: "This does not appear to be a valid Credit Card Number.",
            minlength:"This does not appear to be a valid Credit Card Number."
            }   
        });
    }
    
    if($('[id$=CVV]').size() > 0)
    {
        $('[id$=CVV]').rules("add",{
            number: true,
            required: true,
            minlength: 3,
            maxlength:3,
            messages: {
            number:"CVV's should contain 3-4 numeric digits.",
            required: "CVV is required.",
            minlength:"CVV's should contain 3-4 numeric digits.",
            maxlength:"CVV's should contain 3-4 numeric digits."
            }
        });
    }
    
    if($('[id$=fname]').size() > 0)
    {
        $('[id$=fname]').rules("add",{
                required: true,
                regex:"^[a-zA-Z' ]+$",
                minlength: 2,
                messages: {
                required: "Please enter your First Name.",
                regex: "Names should only contain letters.",
                minlength: "First Name should contain a minimum of 2 characters."
            }
        }); 
    }
    
    if($('[id$=lname]').size() > 0)
    {
        $('[id$=lname]').rules("add",{
                required: true,
                regex:"^[a-zA-Z' ]+$",
                minlength: 2,
                messages: {
                required: "Please enter your Last Name.",
                regex: "Names should only contain letters.",
                minlength: "Last Name should contain a minimum of 2 characters."
            }
        }); 
    }
    
    if($('[id$=Email]').size() > 0)
    {
        $('[id$=Email]').rules("add",{
                required: true,
                email: "required email",
                messages: {
                required: "Please enter your Email.",
                email: "This does not appear to be a valid email address."
            }
        }); 
    }
    
    if($('[id$=Phone]').size() > 0)
    {
        
        $('[id$=Phone]').rules("add",{
                required: true,
                minlength:16,
                messages: {
                required: "A phone number is required.",
                number:"Phone numbers should not contain letters.",
                minlength:"Phone numbers should contain 10 digits."
            }
        }); 
    }
    
    if($('[id$=Address]').size() > 0)
    {
        $('[id$=Address]').rules("add",{
                required: true,
                minlength: 5,
                messages: {
                required: "An address is required.",
                minlength: "Addresses should contain a minimum of 5 characters."
            }
        }); 
    }
    
    if( $('[id$=City]').size() > 0)
    {
        $('[id$=City]').rules("add",{
            required: true,
            minlength: 5,
            messages: {
            required: "A City is required.",
            minlength: "Cities should contain a minimum of 5 characters."
            }
        }); 
    }
    
    if($('[id$=Postal]').size() > 0)
    {
            $('[id$=Postal]').rules("add",{
                required: true,
                number:function(){
                    //***** for US only numbers are allowed otherwise characters are allowed
                    if($('[id$=Country]').val() == 840)
                    return true;
                    else
                    return false;                
                },
                minlength: function(){
                    //***** for US length is 5
                    if($('[id$=Country]').val() == 840)
                    return 5;
                    else
                    return 6;                
                },
                
              /*  maxlength: function(){
                            // for US length is 5
                            if($('[id$=Country]').val() == 840)
                            return 5;
                            else
                            return 6;                
                },*/
                messages: {
                    required:"A Postal Code is required.",
                }
        }); 
    }
    
    
    
    if( $('[id$=Amount]').size() > 0)
    {
        $('[id$=Amount]').rules("add",{
                required: true,
                number:true,
                messages: {
                required: "Don't forget to specify an amount.",
                number: "Amounts should only contain numbers."
            }
        }); 
    }
  
    if( $('[id$=inputProvince]').size() > 0)
    {
        $('[id$=inputProvince]').rules("add",{
            required:true,  
            minlength:3,
            messages: {
            required: "A State is required."
        }
        }); 
     }
     
    if( $('[id$=State]').size() > 0)
    {
        $('[id$=State]').rules("add",{
            required:function(){
				if($('[id$=Country]').val() == 840)
					return true;
				else
					return false;
				},
            messages: {
           	required: "A State is required."
        	}
        }); 
     }
   
    /******** validation rules end here***********/
 
    
     
    //***** Remove capitalization from the email field
    $('[id$=Email]').unbind( 'keydown' );
    
    //***** capitalize the Last three letter of the address if there is direction mentioned 
      
    $('[id$=Address]').focusout(function() {
            var dirty = $(this).val();
            var clean = dirty.toLowerCase().replace( /(^| )(\w)/g, function(x){return x.toUpperCase();} );
            //***** Check last 3 chars to see if is direction 
            var direction = dirty.substring((dirty.length - 3), dirty.length); // Make a substring of the last 2 digits of the string 
            direction = direction.toUpperCase(); // Convert to uppercase
            // If last 3 chars are a direction, replace original last 3 char with the uppercase version
            if(direction == ' NE' || direction==' NW' || direction==' SE' || direction==' SW' ) 
            { 
               clean = clean.substring(0,(clean.length - 3)) + direction;
            }
            $(this).val(clean);
    });
    
    //***** Function for Canadian provinces and Postal Code
    $('[id$=Postal]').focusout(function() {
            if($('[id$=Country]').val() == 124)
            {
                var dirty = $(this).val();
                //***** Uppercase all letters in Postal Code
                var clean = dirty.toUpperCase().replace(/\s/g, '');
                //***** Make sure spacing is consistent after 3 spaces
                clean = clean.substring(0,3) + ' ' + clean.substring(3,clean.length);
                $('[id$=Postal]').formance('format_postal_code');
               //  $(this).val(clean);
             }
        });
        
    //***** Function for formatting amount field
    $('[id$=Amount]').focusout(function() {
        var strAmt = $('[id$=Amount]').val();
        
        if( strAmt.indexOf('.') == -1 && strAmt != '' )
            strAmt = strAmt+'.00';
        
        $(this).val(strAmt);
    });
    
     
/**** Function is used for calling the function which format the amount field
*used time out for assigning event as it wait for loading the dom and then attaches 
*the function for formatting value
****/
    
    $(function() {
            setTimeout(assignFormatAmount, 1000);
    });
        
        
       
        
    //***** Function for formatting amount field
    function assignFormatAmount() {
        var strAmt = $('[id$=Amount]').val();
        if( strAmt != undefined )
        {
            if(strAmt.indexOf('.') == -1 && strAmt != '')
                strAmt = strAmt+'.00';
        
            $('[id$=Amount]').val(strAmt);
        
            //***** code for changing the label of select list text also keep default month selected as current month
            var todaysDate = new Date();
            for(var i =0; i < $('[id$=selectMonth]').children().length; i++)
            {
                $($('[id*=selectMonth] option')[i]).text($($('[id*=selectMonth] option')[i]).val());
            }
        }
        
        //***** change the font color to black if user type the value otherwise set the default font color
        if($('input').val() != '')
        {
            $('input').css('color', 'black');
        }
        else
        {
            $('input').css('color', 'initial');
        }
    }
     
    //***** hide the loading indicator on loading
    stopProcessing();
    //***** hide the notification
    $("#divNotification").attr('style','display:none');
    $("#paraNotification").attr('style','display:none');
     
    $('.form1').on('submit', function(){
        return $('.form1').valid();
    });
     
    //***** Setup
    $('.js-loading-bar').modal({
        backdrop: 'static',
        show: false
    });

    $('#load').click(function() {
        var $modal = $('.js-loading-bar');
        $bar = $modal.find('.progress-bar');
        
        $modal.modal('show');
        $bar.addClass('animate');
        
        setTimeout(function() {
            $bar.removeClass('animate');
            $modal.modal('hide');
        }, 1500);
    });
    
    $("#dedicationName").attr('style','display:none');
    
    //*****this method is used for show no custom setting notification on page load
    $(function() {
        noCustomSettings();
    });

	$('.hidepopover').keypress(function() {
	  $(this).popover('hide');
	});
	$('.hidepopover').keyup(function() {
	  $(this).popover('hide');
	});
	$('.hidepopover').keydown(function() {
	  $(this).popover('hide');
	});
});

// ******ready ends here ******* //

/*This method will show notification message when there's no custom settings*/
function noCustomSettings()
{
    if({!settingsError})
    {
        noty({ text: 'No Custom Setting Found. <br/> Please enter C&P Account details in Setup > Develop > Custom Settings > Donation Form Settings', type: 'alert', layout: 'center', modal: true, 
            buttons: [{
            addClass: 'btn btn-primary', text: 'Close', onClick: function($noty) {
                //***** this = button element
                //***** $noty = $noty element
                $noty.close();
            }
         }]
         });
    }
}
//***** This method will on complete of transaction 
function startProcessing()
{   
     if({!settingsError})
    {
        noty({ text: 'No Custom Setting Found. <br/> Please enter C&P Account details in Setup > Develop > Custom Settings > Donation Form Settings', type: 'alert', layout: 'center', modal: true, 
            buttons: [{
            addClass: 'btn btn-primary', text: 'Close', onClick: function($noty) {
                // this = button element
                // $noty = $noty element
                $noty.close();
            }
         }]
         });
    }
    else
    {      
        $('.js-loading-bar').modal('show');
        $('.js-loading-bar').find('.progress-bar').addClass('animate');
    }
}

function stopProcessing()
{
    $('.js-loading-bar').find('.progress-bar').removeClass('animate');
    $('.js-loading-bar').modal('hide');
}

//***** code to change the state drop down to textbox new input field is created and inserted in to the DOM
function ChangeToText(param) {
 //*****840 is the country code for US it checks if the country selected is not US then insert the textbox
   if( param.value != 840 )//&& $('[id$=mainstuff]').find('[id$=province]').size() == 0 )
   {
      
        $('[id$=divProvinceList]').css('display','none');
        $('[id$=divProvinceList]').popover('hide');
        
        if( param.value == 124 )
        {
            if( $('[id$=mainstuff]').find('[id$=province]').size() > 0 )
                $('[id$=province]').remove();
            
            if( $('[id$=mainstuff]').find('[id$=provinceCanada]').size() == 0 )    
                $('[id$=mainstuff]').prepend("<div class='col-lg-6' id='provinceCanada' data-toggle='popover'  data-placement='top'> <input type='textbox' value='{!BillingAddress.BillingStateProvince}' class='form-control input-lg' placeholder='Province' name='stateProvinceCanada' id='inputProvinceCanada' ></input> </div>");
        }
        else
        {
            if( $('[id$=mainstuff]').find('[id$=provinceCanada]').size() > 0 )
                $('[id$=provinceCanada]').remove();
            
            if( $('[id$=mainstuff]').find('[id$=province]').size() == 0 )
                $('[id$=mainstuff]').prepend("<div class='col-lg-6' id='province' data-toggle='popover'  data-placement='top'> <input type='textbox' value='{!BillingAddress.BillingStateProvince}' class='form-control input-lg' placeholder='State' name='stateProvince' id='inputProvince' ></input> </div>");
        }
      $('#inputProvince').val('');
      $('#inputProvinceCanada').val('');  
   }
   else
   if(param.value == 840)
   {
       if( $('[id$=mainstuff]').find('[id$=province]').size() > 0 )
           $('[id$=province]').remove();
       if( $('[id$=mainstuff]').find('[id$=provinceCanada]').size() > 0 )
            $('[id$=provinceCanada]').remove();
       $('[id$=divProvinceList]').css('display','block');
   }
    $('.form1').validate();   
}


//***** function for showing the thank you page
function processing(orderNumber, orderMode, thankYou){ // Redirect script
    if(orderNumber != "") {
    if(orderMode=="Production") 
    { 
        window.location.href = thankYou;
    }
    else
    {
        stopProcessing();
        $('.testData').css('display','block');
    }
    }
}

/***** Function for firing the validation on the form also removes the masking(spaces) from the 
       credit card number if form is valid.
*****/
function submitValidation()
{
    $('.form1').validate();
    var isValid = $('.form1').valid(); // check if the form is valid if there is no error returns true
   
    if(isValid)   // if form is valid remove spaces from the value of credit card
    {  
        if($('[id$=CCNumber]').size() > 0)
        {
             var ccNum = $('[id$=CCNumber]').val();
             ccNum = ccNum.replace(/ /g,'');
             $('[id$=CCNumber]').val(ccNum);
             startProcessing();
        }
    }
    return isValid;
}

//***** function to show the notification that recurring donation selection
function showNotification()
{
    if($('[id$=chkRecurring]').is(":checked") )
    {
        $("#divNotification").attr('style','display:block'); // hide the notification
        $("#paraNotification").attr('style','display:block');
        setTimeout(function() {
            $("#divNotification").hide();
            $("#paraNotification").hide();
        }, 1000);
    }
}

/*********Function for showing the errors for failed transctions
          this is extra code because using rendered attribute is
          not achieved
************/

function checkErrorData(param,supportEmail)
{
    if( param == 0 )
    {
        transactionCompleted();
    }
    else
    {
    	 showError(supportEmail);
         $('.testData').css('display','block');
    }
    
}
//*******Function for adding css to DonateAmount
function amountCss(){
         $('[id$=selectAmount]').find('input[type=radio]').css('display','none');
         $('[id$=selectAmount]').find('td').css('margin-left','2px');
         $('[id$=selectAmount]').find('td').addClass('btn btn-primary itemlabel btn-lg');
        }
//******* function to show the Amount on Other Click
function showAmount()
{
    $('table[id$=selectAmount]').find('td:last').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:compact');
    });
    $('table[id$=selectAmount]').find('td:nth-child(5)').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:none');
    });
    $('table[id$=selectAmount]').find('td:nth-child(2)').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:none');
    });
    $('table[id$=selectAmount]').find('td:nth-child(3)').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:none');
    });
    $('table[id$=selectAmount]').find('td:nth-child(4)').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:none');
    });
    $('table[id$=selectAmount]').find('td:nth-child(1)').click(function() {
    $('[id$=divOtherAmount]').attr('style','display:none');
    });
}
//*******functionadding css to Designation
function designationCss()
{
     $('[id$=selectDesignation]').find('input[type=radio]').css('opacity',0);
     $('[id$=selectDesignation]').find('td').css('margin-left','0px');
     $('[id$=selectDesignation]').find('td').css('width','100%');
     $('[id$=selectDesignation]').find('td').addClass('btn btn-primary btn-lg');
}


/* *********Foramnace validation for credit card and phone numbe it also format the field in proper format****** */
function changeFormat(){
    if($('[id$=CCNumber]').size() > 0)
    {
         $('[id$=CCNumber]').formance('format_credit_card_number');
    }
    if($('[id$=CVV]').size() > 0)
    {
        $('[id$=CVV]').formance('format_credit_card_cvc');
    }
    if($('[id$=Phone]').size() > 0)
    {
        $('[id$=Phone]').formance('format_phone_number');
    }
}
        
//***** capitalize the first letter of the input text box
function capitalizeFirstLetter(){   
    $('input').on('keydown', function(event) {
        //***** change the font color to black if user type the value otherwise set the default font color
        if($('input').val() != '')
        {
            $('input').css('color', 'black');
        }
        else
        {
            $('input').css('color', 'initial');
        }
        
        if (this.selectionStart == 0 && event.keyCode >= 65 && event.keyCode <= 90 && !(event.shiftKey) && !(event.ctrlKey) && !(event.metaKey) && !(event.altKey)) {
            var $t = $(this);
            event.preventDefault();
            var char = String.fromCharCode(event.keyCode);
            $t.val(char + $t.val().slice(this.selectionEnd));
            this.setSelectionRange(1,1);
        }
    });
}
//***** This function is work for select the dedicated box   
function showDedicationBox()
{
    if($('select[id$=dedicatedTo]').val() == 'No Dedication')
         $('[id$=divDedicatedName]').attr('style','display:none');
    else if( $('select[id$=dedicatedTo]').val() == 'In Honor of' || $('select[id$=dedicatedTo]').val() == 'In Memory of' )
         $('[id$=divDedicatedName]').attr('style','display:compact');
}
//*******css for extraSelect
function extraSelectCss()
{
    $('[id$=extraSelect]').find('input[type=radio]').css('opacity',0);
    $('[id$=extraSelect]').find('td').addClass('btn btn-primary');
}

//*******css for LeadSource
function leadSourceCss()
{
    $('[id$=leadSource]').find('input[type=radio]').css('opacity',0);
    $('[id$=leadSource]').find('td').addClass('btn btn-primary btn-lg');
}

//*******Pass Designation as SKU
function variablesToController(){
    
  var DesignationType = $('[id$=DesignationType]').val();
    // Pass variables into the controller from this VF Page 
    // These variables can be set as defaults
    // SKU can be over written if a SKU is specified in the URL
    //    var SKU = 'None'; // Specify SKU here
    var SKU = DesignationType; // passing in SKU from Designation Type
    var Campaign = 'null'; // Specify Campaign here
    var Hidden = 'null'; // Specify Hidden field
    sendHiddenParams(SKU, Campaign, Hidden);  
}

//***** function for show notification on successful transaction
function transactionCompleted()
{
    noty({ text: 'Transaction Successful', type: 'information', layout: 'center', modal: true, closeWith: ['click'], timeout: 3000 });
}

//***** This function will show error ,if transaction is unsuccessful.
function showError(supportEmail)
{
	 noty({ text: 'Transaction Not Processed <br/> If you are unable to resolve this error, kindly let us know at :'+supportEmail, type: 'alert', layout: 'center', modal: true, 
            buttons: [{
            addClass: 'btn btn-primary', text: 'Close', onClick: function($noty) {
                //***** this = button element
                //***** $noty = $noty element
                $noty.close();
            }
         }]
         });
}

</script>


<style>
   
    @-moz-document url-prefix(){
        width:111px;
    }
   
    .itemlabel
    {   
        margin-left:2px; 
        margin-bottom:4px; 
        margin-top:4px;
        height:92px;
        width:114px;
        font: 27px /20px "CgGothicNo3Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: CgGothicNo3Medium, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 20px;
        padding-top: 33px;
        border-left:0px;
        border-right:0px;
    }
   .progress-bar.animate {
       width: 100%;
    }
    .error
    {
        border-color:red;
    }
    .success
    {
        border-color:green;
    }
    .form-control{
        font-family: 'Nixie One', serif;
        padding-bottom: 5px;
        }
    .row { margin-top:40px; }
    
    .chkBox{
        position:absolute;
        height:24px;
        width:20px;
    }
    .labelText{
        font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;
        padding-left:10px;
    }
    .popover-content {
        font-family: 'Open Sans:300', sans-serif;
   }
   
   .btnRecuuring
   {
       position: absolute;
       right: 0px;
       top:0px;
   }
   
   .chkRecuuring
   {
       position: absolute;
       right: 0px;
       top:12px;
       left:87%;
       z-index:2;
      /* box-shadow: 0px 2px 2px;*/
   }
   
   .processing_overlay
   {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: white; //should match background page color
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.40;
        filter: alpha(opacity=80);
    }

    .processing_message 
    {
        display: none;
        position: fixed;
        top: 30%;
        left: 47%;
        /*width: 2%;
        height: 4%;*/
        padding: 16px;
        background-color: white;
        z-index:1002;
        overflow: auto;
        border-radius:20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border:1px solid #000;
    } 
    
    .message
    {
        height: 60px;
        width: 500px;
        top: 10px;
        left: 550px;
        position: absolute;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: yellowgreen;
        color: white;
        z-index: 50;
    }
    
    .para
    {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        text-align: center;
        font-family: sans-serif;
        font-size: 14px;
        padding: 0;
        margin: 0;
        line-height: 60px;
        z-index: 50;
    }
    
    .btn-info {
        border-radius:0;
        font-family: 'Open Sans', sans-serif;
        font-size:50px;
           font-weight:600;
        background-color:#999999;
        border-color:#999999;
    }

    .form-control{
        border-radius:0;
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:22px;
    }    

    .input-group-addon{
         border-radius:0;
         font-family: 'Open Sans', sans-serif;
            font-weight:300;
         font-size:22px;
    }    
    .body{
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:22px;
    }

    .extraSelect{
        font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;
    }

    .extraSelectAns{
        font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;
        style="padding-left: 28%;"
    }
    .testData
    {
        display:none;
    }
     .container {
    width: 960px !important;
}
 
@media (min-width: 450px) {
  .container {
    max-width: 940px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
    
</style>

<apex:form id="form1" styleClass="form1" style="width:700px; margin-top:40px; margin-left:20px; font-family: 'Open Sans', sans-serif;">
<div id="errors"/>
<!-- div notification message for recurrring donatinos-->
<div class="message" id="divNotification" style="display:none;"> <p class="para" id="paraNotification">Monthly reccurring donations</p></div>

<div class="row" style="text-align:center; overflow:auto;" >
<apex:outputtext style="font-size:24px; font-weight:bold; color:#000033;" value="{!CustomString}" escape="true" rendered="{!(CustomString <> '')}" />
</div>

<!-- Error Block -->
<!--
<div id='divErrorData'>
    <apex:outputPanel id="errorBlock">
     
        <h3 style="color:red;">Tansaction Not Processed</h3><br/>
        <apex:outputlabel value="Result Code" />: <apex:outputtext value="{!cnpxmlstring.TransactionResultCode}"/><br/>
        <apex:outputlabel value="Explanation" />: <apex:outputtext value="{!cnpxmlstring.ErrorData}" />
        <p>If you are unable to resolve error, please contact us at&nbsp;<apex:outputlink value="mailto:{!supportEmail}">{!supportEmail}</apex:outputlink>.</p>
     
    </apex:outputPanel>                                              
</div>
-->

<!-- Donate Amount Button View Start-->
<!-- Amount field with $ at left end and USD at right end of the field-->
<div class="row" style="margin-top:0px;">
  <div class="col-lg-12">
    <div class="input-group" id="amountLabel" data-toggle="popover" data-placement="top">
      <span id="divDoller" class="input-group-addon" style=" font-size:x-large; color:gray; background-color:#fff; border-right:0px;">$</span>
      <apex:inputText value="{!item.UnitPrice}" size="6" id="Amount" styleClass="form-control input-lg" html-placeholder="Amount" style="text-align:center; border-left:0px; border-right:0px;"/>
      <span id="usdLabel" class="input-group-addon" style="font-size: x-large; color:gray; background-color:#fff; border-left:0px;">USD</span>

      <span class="input-group-addon" style=" font-size:large; font-weight:bold; color:white; background-color:#5bc0de; border-color:#5bc0de; border-left:0px;"><input type="checkbox" id="chkRecurring" style="margin-right:5px;" onchange="showNotification()"/>Make it Monthly</span>
    </div>
  </div>
</div>

 
 
<!-- Donate Amount Button View End Here -->    



<!-- Designation -->

    <div class="" style="font-family: 'Open Sans', sans-serif; font-size:26px; margin-top:15px;">Designation</div>
    <!-- <div  class="btn-group-vertical" data-toggle="buttons"> -->
    <div class="row" style="margin-top:0px;">
    <div class="col-lg-12"  >
           <!-- Designation styleClass="-->
    <input type="hidden" value="Used" id="DesignationUsed"  />
    <apex:outputPanel styleclass="blockelements"> 
        <apex:outputPanel styleClass="requiredInput"  >
            <apex:outputPanel styleClass="requiredBlock" />
            <apex:selectList value="{!DesignationType}" id="DesignationType" size="1" styleclass="form-control input-lg"  onchange="jsSHP(this);" >  <!-- style="border-left:0px;border-right:0px; width:100%;display:table-caption;"  -->

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


                 <apex:selectoption itemlabel="Undesignated" itemvalue="" />
                 <apex:selectoption itemlabel="Sean Sasser Endowment Fund" itemvalue="SSEF"/>            
                 <apex:selectoption itemlabel="Empowered Community Grants Program" itemvalue="ECGP"  />         

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


                 </apex:selectList>                      
             </apex:outputPanel>  
         </apex:outputPanel>  
    </div>
    </div>

<!--Designation Ends Here-->
 
 <!-- Dedication -->

    <div  class="" style="font-family: 'Open Sans', sans-serif; font-size:26px; margin-top:15px;">Dedication</div>
    <div class="row" id="dedicationBlock" style="margin-top:0px;">
       <div class="col-lg-4"  >
           <apex:outputPanel >
                <apex:selectList value="{!DedicationType}" size="1" styleclass="form-control input-lg" id="dedicatedTo" onchange="showDedicationBox();" >
                    <apex:selectoption itemlabel="No Dedication" itemvalue="No Dedication"  />
                    <apex:selectoption itemlabel="In Honor of:" itemvalue="In Honor of"  />
                    <apex:selectoption itemlabel="In Memory of:" itemvalue="In Memory of"  />
                </apex:selectList> 
            </apex:outputPanel> 
        </div> 
        <div class="col-lg-8 " id="divDedicatedName" style="display:none;" >
            <apex:inputtext value="{!DedicatedToName}" styleClass="form-control input-lg" size="25" maxlength="40" />
        </div>
    </div>


<!-- Card Number, CVV, Expiration --> 
 
<div class="row"  style="margin-top:40px;">

  <div class="col-lg-6 hidepopover" id="cardLabel"  data-toggle="popover" data-placement="top"><apex:inputText value="{!PaymentMethod.CardNumber}" id="CCNumber" styleClass="form-control input-lg"  html-placeholder="Credit Card Number"  /></div>
  <div class="col-lg-2 hidepopover"  id="cvvLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!PaymentMethod.Cvv2}" id="CVV" styleClass="form-control input-lg" html-placeholder="CVV" /></div>
  <div class="col-lg-4 hidepopover">
    <div class="input-group" style="width:100%;" >
 
    <apex:selectlist value="{!PaymentMethod.ExpirationMonth}" id="selectMonth" size="1" style="width:100px;" styleclass="form-control input-lg" >
      <apex:selectOptions value="{!cnpxmlstring.ExpireMonth}"/>
    </apex:selectlist> 
  
    <apex:selectlist value="{!PaymentMethod.ExpirationYear}" size="1" style="width:113px;" styleclass="form-control input-lg">             
       <apex:selectOptions value="{!cnpxmlstring.ExpireYear}"/>
    </apex:selectlist> 
  </div> 
  </div>
   
 </div>
 
<!-- div for showing the firstname and lastname-->
<div class="row" style="margin-top:40px;">
  <div class="col-lg-6 hidepopover" id="fnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!BillingInfo.BillingFirstName}" html-placeholder="First Name" id="fname" styleClass="form-control input-lg"/></div>
  <div class="col-lg-6 hidepopover" id="lnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!BillingInfo.BillingLastName}" html-placeholder="Last Name" id="lname" styleClass="form-control input-lg"/></div>

</div>


<!-- Email & Phone -->
<div class="row">
    <div class="col-lg-6 hidepopover" id="emailLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingInfo.BillingEmail}" id="Email" styleClass="form-control input-lg" html-placeholder="Your@email.com" /></div>
    <div class="col-lg-6 hidepopover" id="phoneLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingInfo.BillingPhone}" id="Phone" styleClass="form-control input-lg" html-placeholder="Phone"  /></div>
</div> 


<!-- Address -->  
<div class="row">
  <div class="col-lg-12 hidepopover" id="addressLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingAddress1}" id="Address" styleClass="form-control input-lg "  html-placeholder="Address" /></div>
</div>

<!-- City & Postal Code-->  
<div class="row">
  <div class="col-lg-6 hidepopover" id="cityLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingCity}" id="City" styleClass="form-control input-lg" html-placeholder="City"   /></div>
  <div class="col-lg-6 hidepopover" id="postalLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingPostalCode}" id="Postal" styleClass="form-control input-lg" html-placeholder="Postal Code" /></div>
</div>

<!-- Country -->
<div class="row" id="mainstuff">
	<div class="col-lg-6 hidepopover" id="divProvinceList" data-toggle="popover"  data-placement="top">
		<apex:selectlist value="{!BillingAddress.BillingStateProvince}" size="1" id="State"  styleClass="form-control input-lg" > 
			<apex:selectOptions value="{!cnpxmlstring.UsStates}"/>
		</apex:selectlist>
	</div>
	<div class="col-lg-6" id="countryLabel" data-toggle="popover"  data-placement="top">
		<apex:selectlist value="{!BillingAddress.BillingCountryCode}" id="Country" onchange="ChangeToText(this)" styleClass="form-control input-lg" size="1">             
		    <apex:actionSupport event="onchange" reRender="contactInfoBlock" />             
		  	<apex:selectOptions value="{!cnpxmlstring.CountryCodes}"/>
		</apex:selectlist>
	</div>
</div>

<!-- Lead Source -->
<br/><br/>

<div class="panel panel-default"  >
    <div  class="col-lg-12 panel-heading" style="font-family: 'Open Sans', sans-serif;">How did you hear IC?</div>
    <div class="row" style="margin-top:0px;">
        <div class="col-lg-12">
            <div  data-toggle="buttons" style="width:100%;">
                <apex:selectRadio value="{!LeadSource}"   id="leadSource" style="font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;">
                    <apex:selectOption itemValue="false" itemLabel="Rob" />
                    <apex:selectOption itemValue="false" itemLabel="Cat" />
                    <apex:selectOption itemValue="false" itemLabel="Sarah" />
                    <apex:selectOption itemValue="false" itemLabel="Lila"/>
                </apex:selectRadio> 
            </div> 
        </div>
    </div> 
</div>


<!-- Extra Question -->
<div class="row">
        <div class="col-lg-6"><apex:outputLabel value="Extra Radio Select Question?" style="font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;" /></div> <!-- styleClass="labelText" style="padding-left: 24%;" -->
        <div class="col-lg-6">   
            <apex:selectList value="{!ExtraSelect}"  size="1" styleclass="form-control input-lg" ><!-- styleclass="extraSelectAns" style="padding-left: 30%;" style="font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;"  -->
                <apex:selectoption itemlabel="Yes" itemvalue="Yes" />
                <apex:selectoption itemlabel="No" itemvalue="No" />
                <apex:selectoption itemlabel="Maybe" itemvalue="Maybe"  />
            </apex:selectList>
        </div>
       <!-- </apex:outputPanel> --> 
</div>  

<!-- Extra Quetion Text Box -->
<div class="row">
	<div class="col-lg-12 ">
    	<apex:inputtext value="{!ExtraText}" styleClass="form-control input-lg" size="25" maxlength="40" html-placeholder="Extra Question?" />
	</div>
</div>




<!-- NewsLetter Checkbox -->

<div class="row checkbox">
	<div class="col-lg-12 ">
    	<center><apex:inputCheckbox value="{!chkNewsLetter}" styleClass="chkBox" /><apex:outputLabel value="I am an AmeriCorps alumnus." styleClass="labelText" ></apex:outputLabel></center>
	</div>
</div>


<!-- Extra Hidden Field -->

<div id="ExtraHiddenField">
    <apex:inputHidden id="theHiddenInput"/>
</div>


<div class="row">
    <div class="col-md-12">
      <button type="button" value="Donate" class="btn btn-info btn-block btn-lg" onclick="if(!submitValidation())return false;submitForm()" style="font-size:x-large; font-weight:bold;">Donate</button>
    </div>
</div>
 
	<apex:actionFunction name="submitForm" action="{!Submit}" oncomplete="checkErrorData('{!cnpxmlstring.TransactionResultCode}','{!formSettings.Support_Email__c}'),processing('{!cnpxmlstring.TransactionNumber}','{!orderMode}','{!thankYouPage}','{!cnpxmlstring.VaultGUID}'),sendEmailFunction('{!cnpxmlstring.TransactionResultCode}','{!cnpxmlstring.ErrorData}','{!cnpxmlstring.TransactionNumber}'),stopProcessing()" reRender="RefreshForm2"/>   
 
    <apex:actionFunction name="sendHiddenParams" action="{!HiddenParams}" reRender="none" >
        <apex:param name="customSKU" value="null" assignTo="{!CustomSKU}" />
        <apex:param name="extraHidden" value="null" assignTo="{!ExtraHidden}" />
    </apex:actionFunction>
    <!-- Action function for assigning values to controller variables for sending the eamil on failed transactions-->
    <apex:actionFunction name="sendEmailFunction" action="{!SendEmail}" reRender="" immediate="true">
        <apex:param name="transactionCode" value="" assignTo="{!transactionCode}" />
        <apex:param name="transactionResult" value="" assignTo="{!transactionResult}" />
        <apex:param name="transactionNumber" value="" assignTo="{!transactionNumber}" />
    </apex:actionFunction>

<!-- Loading image and overlay  -->
	<div id="fade" class="processing_overlay">overlay</div> 
	<div class="modal js-loading-bar" style="width:100%;height:100%">
  		<div class="modal-dialog" style="top:40%;">
       		<div class="modal-content">
         		<div class="modal-body">
         			Thank you! One moment while we process your donation.
           			<div class="progress-popup" style="text-align: center;">
            			<apex:image value="{!URLFOR($Resource.LoadingIndicator)}" title="Processing..."/>
            			<!--<div class="progress-bar progress"> </div>-->
           			</div>
         		</div>
       		</div>
    	 </div>
    </div>
  
   <!-- showing debug data -->
	<div class="testData">
  		<apex:pageblock id="RefreshForm2" mode="maindetail" rendered="{!IF(orderMode=='Test',true,false)}">   
	
		    <apex:pageBlockSection columns="1">
		    
		        <apex:pageBlockSectionItem >
		            <apex:outputlabel value="Transaction status" />
		            <apex:outputtext value="{!cnpxmlstring.ErrorData}" />
		        </apex:pageBlockSectionItem> 
		        
		        <apex:pageBlockSectionItem >
		            <apex:outputlabel value="Transaction Result" />
		            <apex:outputtext value="{!cnpxmlstring.TransactionResultCode}"/>
		        </apex:pageBlockSectionItem>
		        
		        <apex:pageBlockSectionItem >
		            <apex:outputlabel value="Order number" />
		            <apex:outputtext value="{!cnpxmlstring.TransactionNumber}" />
		        </apex:pageBlockSectionItem>
		        
		        <apex:pageBlockSectionItem >
		            <apex:outputlabel value="XML File" />
		            <apex:outputtext value="{!cnpxmlstring.xmlfile}"/>
		        </apex:pageBlockSectionItem>
		      
		    </apex:pageBlockSection>
    	</apex:pageblock>
	</div>
  
  

  <!-- Ends debug data-->
 
  

</apex:form>
</apex:page>