<apex:page Controller="OnlineDonations" sidebar="false" showHeader="false"  standardStylesheets="false" docType="html-5.0" language="en-US" applyHTMLTag="false">

<apex:includeScript value="https://code.jquery.com/jquery-1.11.0.min.js"></apex:includeScript> <!-- Load jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script> <!-- Load jQuery Validate -->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> <!-- Load BootStrap -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link> <!-- Load BootStrap CSS -->

<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fjquery.js')}"></apex:includeScript> <!-- Load Formance -->
<apex:includeScript value="{!URLFOR($Resource.FormanceValdationJs,'/fminjquery.js')}"></apex:includeScript> <!-- Load Formance -->

<apex:includeScript value="{!URLFOR($Resource.Noty,'/jquery.noty.packaged.js')}" /> <!-- Load Noty -->

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css"></link> <!-- Load Google Fonts -->
<!-- Css Style -->
<style>

    body{    }

    .form1
    {
        width:700px; 
        margin-top:40px; 
        margin-left:20px; 
        font-family: 'Open Sans', sans-serif;"
    }

    @-moz-document url-prefix(){
        width:111px;
    }
   
    .itemlabel
    {   
        margin-left:2px; 
        margin-bottom:4px; 
        margin-top:4px;
        height:92px;
        width:114px;
        font: 27px /20px "CgGothicNo3Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: CgGothicNo3Medium, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 20px;
        padding-top: 33px;
        border-left:0px;
        border-right:0px;
    }
   .progress-bar.animate {
       width: 100%;
    }
    .error
    {
        border-color:red;
    }
    .success
    {
        border-color:green;
    }
    .form-control{
        font-family: 'Nixie One', serif;
        padding-bottom: 5px;
        }
    .row { margin-top:40px; }
    
    .chkBox{
        position:absolute;
        height:24px;
        width:20px;
    }
    .labelText{
        font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;
        padding-left:10px;
    }
    .popover-content {
        font-family: 'Open Sans:300', sans-serif;
   }
   
   .btnRecuuring
   {
       position: absolute;
       right: 0px;
       top:0px;
   }
   
   .chkRecuuring
   {
       position: absolute;
       right: 0px;
       top:12px;
       left:87%;
       z-index:2;
      /* box-shadow: 0px 2px 2px;*/
   }
   
   .processing_overlay
   {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: white; /*should match background page color*/
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.40;
        filter: alpha(opacity=80);
    }

    .processing_message 
    {
        display: none;
        position: fixed;
        top: 30%;
        left: 47%;
        /*width: 2%;
        height: 4%;*/
        padding: 16px;
        background-color: white;
        z-index:1002;
        overflow: auto;
        border-radius:20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border:1px solid #000;
    } 
    
    .message
    {
        height: 60px;
        width: 500px;
        top: 10px;
        left: 550px;
        position: absolute;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: yellowgreen;
        color: white;
        z-index: 50;
    }
    
    .para
    {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        text-align: center;
        font-family: sans-serif;
        font-size: 14px;
        padding: 0;
        margin: 0;
        line-height: 60px;
        z-index: 50;
    }
    
    .btn-info {
        border-radius:0;
        font-family: 'Open Sans', sans-serif;
        font-size:50px;
           font-weight:600;
        background-color:#999999;
        border-color:#999999;
    }

    .form-control{
        border-radius:0;
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:22px;
    }    

    .input-group-addon{
         border-radius:0;
         font-family: 'Open Sans', sans-serif;
            font-weight:300;
         font-size:22px;
    }    
    .body{
        font-family: 'Open Sans', sans-serif;
        font-weight:300;
        font-size:22px;
    }

    .extraSelect{
        font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 22px;
    }

    .extraSelectAns{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 22px;
        padding-left: 28%;
    }
    .testData
    {
        display:block;
    }
     .container {
    width: 960px !important;
    }
 
@media (min-width: 450px) {
  .container {
    max-width: 940px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
} 

.popover-content {
    padding: 3px 5px;
}

.popover{
    max-width: 1000px;
}
.popover-month
{
    margin-left:-65px;
}
.capital
{
    text-transform:capitalize;
}


</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#textarea_feedback').html(100 + ' characters remaining');
        $('[id$=State1]').append('<option value="" selected="selected">State</option>').find('option:last').slice(0, 1).insertBefore($('[id$="State1"] option:eq(0)'));  
              
        $('[id$=PersonalMessage]').keyup(function() {
            $('#textarea_feedback').html(100 - $('[id$=PersonalMessage]').val().length + ' characters remaining');
        });
        //This function is used for change the Donation Amount format
        assignFormatAmount();
        //This function is used for changeFormat of Credit Card Number
        changeFormat();
        //This function is used for capitalize every field first letter.
        capitalizeFirstLetter();
        //Pass variables to the controller
        variablesToController();
        if(GetURLParameter('country') == undefined) {
           if( {!DefaultCountryFromSetting} == false ) {
              
              $('[id$=Country] option[value=""]').remove();
              $('[id$=Country]').append('<option value="" selected="selected">Country</option>').find('option:last').slice(0, 1).insertBefore($('[id$="Country"] option:eq(0)'));
              $('[id$=divProvinceList]').css('display','block');
              if ($('[id$=mainstuff]').find('[id$=divProvinceList]').size() > 0)
              {
                  $('[id$=divProvinceList]').css('display', 'none');
                  $('[id$=divProvinceList]').popover('hide');
                    //$('[id$=divProvinceList]').remove();
              }
              //$('[id$=State] option[value=""]').remove();
              //$('[id$=State]').append('<option value="" selected="selected">State / Province</option>').find('option:last').slice(0, 1).insertBefore($('[id$="State"] option:eq(0)'));  
              
              $('[id$=mainstuff]').prepend("<div class='col-lg-6' id='province' data-toggle='popover'  data-placement='top'> <input type='textbox'  class='form-control input-lg capital' placeholder='State/Province' name='stateProvince' id='inputProvince' /> </div>");
              //Validation Rule For State Other than Country US and Canada
              OtherCountry();
           }
       }
    //URL Canada ZipCode Formatting
        if(GetURLParameter('zip') != undefined)
        UrlZipFormatter();
        //URL parameter phone formatter
        if(GetURLParameter('phone') != undefined){
            var strPhoneFormat = phoneFormat($('[id$=Phone]').val());
            $('[id$=Phone]').val(strPhoneFormat);
        }

        //***** Custom validation method for the fields where only characters are allowed
        
        $.validator.addMethod("regex", function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }, "Please only enter letters.");
        
        //This block will execute at the time of page load,when country and state both will null in Custom Setting.
       //***** Custom validaion method for thezipcode US and Canada
        $.validator.addMethod('zipcode', function(value, element) {
         if ($('[id$=Country]').val() == 124) 
             return this.optional(element) || /^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i.test(value);// /(^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$)/.test(value); // /^\d{5}([\-]?\d{4})?$|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)/.test(value);
          else
             return this.optional(element) || /(^\d{5}(-\d{4})?$)/.test(value);
        }, "Please provide a valid Postal Code.");
        var msgError = '';
        
         //***** Custom validaion method for the fields where only numbers are allowed
        $.validator.addMethod("amountRegex", function (value, element) {
            
            var regex = /^[1-9][0-9]*/;
            var amountValue = parseFloat(value);
            var minimumAmount = parseFloat('{!MinimumAmount}');
            if('{!MinimumAmount}' != ''){
                if('{!MinimumAmount}' != '' && minimumAmount <= amountValue)
                {
                    if(regex.test(amountValue))
                        return true;
                    else{
                        msgError = 'Please enter a valid amount';
                        $.validator.messages.amountRegex = msgError;
                        return false;
                    }
                }
                else if('{!MinimumAmount}' != '' && minimumAmount >= amountValue)
                {
                    if(regex.test(parseFloat(value)) == false){
                        msgError = 'Please enter a valid amount';
                        $.validator.messages.amountRegex = msgError;
                        return false;
                    }
                    else
                    {
                        msgError = 'Please Enter Minimum Amount Of '+minimumAmount+' $';
                        $.validator.messages.amountRegex = msgError;
                        return false;
                    }
                }
                else{
                   msgError = 'Please enter a valid amount';
                   $.validator.messages.amountRegex = msgError;
                   return false;
                }
            }
            else if(regex.test(amountValue) == false)
            {
                msgError = 'Please enter a valid amount';
                $.validator.messages.amountRegex = msgError;
                return false;
            }
            else
            {
                 return true;
            }
        }, ""+msgError);
        
        $.validator.addMethod("regexEmail", function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }, "This does not appear to be a valid email address.");
        
        $('.form1').validate({
            errorElement: "div",
            onclick: false,
            onkeydown: false,
            onkeyup: false,
            onkeypress: false,
            onfocusout: function (element, event) {
                if (event.which != 9 || event.keyCode != 9) {
                    $(element).valid();
                }
            },

            //*****onfocusout:function(element) { $(element).valid(); },
            errorPlacement: function (error, element) {
                var idvar = $(element).attr('id');
                //***** Displaying the error pop over and placing appropriate message in the pop over
                if (idvar == 'j_id0:form1:CCNumber') {
                    $('[id$=cardLabel]').attr("data-content", $(error).text());
                    $('[id$=cardLabel]').attr("data-placement", "top");
                    $('[id$=cardLabel]').popover('show');
                }

                if (idvar == 'j_id0:form1:CVV') {
                    $('[id$=cvvLabel]').attr("data-content", $(error).text());
                    $('[id$=cvvLabel]').attr("data-placement", "top");
                    $('[id$=cvvLabel]').popover('show');

                }
                if (idvar == 'j_id0:form1:fname') {
                    $('[id$=fnameLabel]').attr("data-content", $(error).text());
                    $('[id$=fnameLabel]').attr("data-placement", "top");
                    $('[id$=fnameLabel]').popover('show');
                }

                if (idvar == 'j_id0:form1:lname') {
                    $('[id$=lnameLabel]').attr("data-content", $(error).text());
                    $('[id$=lnameLabel]').attr("data-placement", "top");
                    $('[id$=lnameLabel]').popover('show');

                }

                if (idvar == 'j_id0:form1:Email') {
                    $('[id$=emailLabel]').attr("data-content", $(error).text());
                    $('[id$=emailLabel]').attr("data-placement", "top");
                    $('[id$=emailLabel]').popover('show');
                }

                if (idvar == 'j_id0:form1:Phone') {
                    $('[id$=phoneLabel]').attr("data-content", $(error).text());
                    $('[id$=phoneLabel]').attr("data-placement", "top");
                    $('[id$=phoneLabel]').popover('show');
                }

                if (idvar == 'j_id0:form1:Address') {
                    $('[id$=addressLabel]').attr("data-content", $(error).text());
                    $('[id$=addressLabel]').attr("data-placement", "top");
                    $('[id$=addressLabel]').popover('show');
                }


                if (idvar == 'j_id0:form1:City') {
                    $('[id$=cityLabel]').attr("data-content", $(error).text());
                    $('[id$=cityLabel]').attr("data-placement", "top");
                    $('[id$=cityLabel]').popover('show');
                }

                if (idvar == 'j_id0:form1:Postal') {
                    $('[id$=postalLabel]').attr("data-content", $(error).text());
                    $('[id$=postalLabel]').attr("data-placement", "top");
                    $('[id$=postalLabel]').popover('show');
                }
                
                if (idvar == 'j_id0:form1:Amount') {
                    $('[id$=amountLabel]').attr("data-content", $(error).text());
                    $('[id$=amountLabel]').attr("data-placement", "top");
                    $('[id$=amountLabel]').popover('show');

                }

                if (idvar == 'inputProvince') {
                    $('[id$=province]').attr("data-content", $(error).text());
                    $('[id$=province]').attr("data-placement", "top");
                    $('[id$=province]').popover('show');

                }
                if (idvar == 'inputProvinceCanada') {
                    $('[id$=provinceCanada]').attr("data-content", $(error).text());
                    $('[id$=provinceCanada]').attr("data-placement", "top");
                    $('[id$=provinceCanada]').popover('show');

                }
                if (idvar == 'j_id0:form1:State') {
                    $('[id$=divProvinceList]').attr("data-content", $(error).text());
                    $('[id$=divProvinceList]').attr("data-placement", "top");
                    $('[id$=divProvinceList]').popover('show');

                }
                if (idvar == 'j_id0:form1:Country') {
                    $('[id$=countryLabel]').attr("data-content", $(error).text());
                    $('[id$=countryLabel]').attr("data-placement", "top");
                    $('[id$=countryLabel]').popover('show');
                }
                if(idvar == 'j_id0:form1:DonationOrg'){
                    $('[id$=donationOrgNameLabel]').attr("data-content", $(error).text());
                    $('[id$=donationOrgNameLabel]').attr("data-placement", "top");
                    $('[id$=donationOrgNameLabel]').popover('show')
                }
                 if (idvar == 'j_id0:form1:dedicatedTo'){
                    $('[id$=dedicatedToLabel]').attr("data-content", $(error).text());
                    $('[id$=dedicatedToLabel]').attr("data-placement", "top");
                    $('[id$=dedicatedToLabel]').popover('show');
                }
                if (idvar == 'j_id0:form1:InHonorName') {
                    $('[id$=InHonorNameDiv]').attr("data-content", $(error).text());
                    $('[id$=InHonorNameDiv]').attr("data-placement", "top");
                    $('[id$=InHonorNameDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:PersonNotify') {
                    $('[id$=PersonNotifyDiv]').attr("data-content", $(error).text());
                    $('[id$=PersonNotifyDiv]').attr("data-placement", "top");
                    $('[id$=PersonNotifyDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:Email1') {
                    $('[id$=EmailDiv1]').attr("data-content", $(error).text());
                    $('[id$=EmailDiv1]').attr("data-placement", "top");
                    $('[id$=EmailDiv1]').popover('show');
                }
                
                if (idvar == 'j_id0:form1:Street') {
                    $('[id$=StreetDiv]').attr("data-content", $(error).text());
                    $('[id$=StreetDiv]').attr("data-placement", "top");
                    $('[id$=StreetDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:State1') {
                    $('[id$=StateDiv]').attr("data-content", $(error).text());
                    $('[id$=StateDiv]').attr("data-placement", "top");
                    $('[id$=StateDiv]').popover('show');
    
                }
                if (idvar == 'j_id0:form1:Country1') {
                    $('[id$=CountryDiv]').attr("data-content", $(error).text());
                    $('[id$=CountryDiv]').attr("data-placement", "top");
                    $('[id$=CountryDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:City1') {
                    $('[id$=CityDiv]').attr("data-content", $(error).text());
                    $('[id$=CityDiv]').attr("data-placement", "top");
                    $('[id$=CityDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:PersonalMessage') {
                    $('[id$=PersonalMessageDiv]').attr("data-content", $(error).text());
                    $('[id$=PersonalMessageDiv]').attr("data-placement", "top");
                    $('[id$=PersonalMessageDiv]').popover('show');
                }
                if (idvar == 'j_id0:form1:ZipCode') {
                    $('[id$=ZipCodeDiv]').attr("data-content", $(error).text());
                    $('[id$=ZipCodeDiv]').attr("data-placement", "top");
                    $('[id$=ZipCodeDiv]').popover('show');
                }
              
            },
            //********** Success function hides the pop over when data is valid************/
            success: function (label, element) {
                var idvar = $(element).attr('id');
                if (label.attr('for') == $('[id$=cardLabel]').find('input').attr('id')) {
                    $('[id$=cardLabel]').popover('hide');
                    $('[id$=cardLabel]').off('click');

                }
                if (label.attr('for') == $('[id$=cvvLabel]').find('input').attr('id')) {
                    $('[id$=cvvLabel]').popover('hide');
                    $('[id$=cvvLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=fnameLabel]').find('input').attr('id')) {
                    $('[id$=fnameLabel]').popover('hide');
                    $('[id$=fnameLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=lnameLabel]').find('input').attr('id')) {
                    $('[id$=lnameLabel]').popover('hide');
                    $('[id$=lnameLabel]').off('click');

                }
                if (label.attr('for') == $('[id$=emailLabel]').find('input').attr('id')) {
                    $('[id$=emailLabel]').popover('hide');
                    $('[id$=emailLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=phoneLabel]').find('input').attr('id')) {
                    $('[id$=phoneLabel]').popover('hide');
                    $('[id$=phoneLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=addressLabel]').find('input').attr('id')) {
                    $('[id$=addressLabel]').popover('hide');
                    $('[id$=addressLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=cityLabel]').find('input').attr('id')) {
                    $('[id$=cityLabel]').popover('hide');
                    $('[id$=cityLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=postalLabel]').find('input').attr('id')) {
                    $('[id$=postalLabel]').popover('hide');
                    $('[id$=postalLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=amountLabel]').find('input').attr('id')) {
                    $('[id$=amountLabel]').popover('hide');
                    $('[id$=amountLabel]').off('click');
                }
              
                if (label.attr('for') == $('[id$=province]').find('input').attr('id')) {
                    $('[id$=province]').popover('hide');
                    $('[id$=province]').off('click');
                }
                if (label.attr('for') == $('[id$=provinceCanada]').find('input').attr('id')) {
                    $('[id$=provinceCanada]').popover('hide');
                    $('[id$=provinceCanada]').off('click');
                }
                if (label.attr('for') == $('[id$=divProvinceList]').find('select').attr('id')) {
                    $('[id$=divProvinceList]').popover('hide');
                    $('[id$=divProvinceList]').off('click');
                }
                if(label.attr('for') == $('[id$=donationOrgNameLabel]').find('input').attr('id')){
                    $('[id$=donationOrgNameLabel]').popover('hide');
                    $('[id$=donationOrgNameLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=countryLabel]').find('select').attr('id')) {
                    $('[id$=countryLabel]').popover('hide');
                    $('[id$=countryLabel]').off('click');
                }
                 if (label.attr('for') == $('[id$=dedicatedToLabel]').find('select').attr('id')) {
                    $('[id$=dedicatedToLabel]').popover('hide');
                    $('[id$=dedicatedToLabel]').off('click');
                }
                if (label.attr('for') == $('[id$=InHonorNameDiv]').find('input').attr('id')) {
                    $('[id$=InHonorNameDiv]').popover('hide');
                    $('[id$=InHonorNameDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=PersonNotifyDiv]').find('input').attr('id')) {
                    $('[id$=PersonNotifyDiv]').popover('hide');
                    $('[id$=PersonNotifyDiv]').off('click');
                }
                 if (label.attr('for') == $('[id$=EmailDiv1]').find('input').attr('id')) {
                    $('[id$=EmailDiv1]').popover('hide');
                    $('[id$=EmailDiv1]').off('click');
                }
                if (label.attr('for') == $('[id$=StreetDiv]').find('input').attr('id')) {
                    $('[id$=StreetDiv]').popover('hide');
                    $('[id$=StreetDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=StateDiv]').find('select').attr('id')) {
                    $('[id$=StateDiv]').popover('hide');
                    $('[id$=StateDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=CountryDiv]').find('input').attr('id')) {
                    $('[id$=CountryDiv]').popover('hide');
                    $('[id$=CountryDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=CityDiv]').find('input').attr('id')) {
                    $('[id$=CityDiv]').popover('hide');
                    $('[id$=CityDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=ZipCodeDiv]').find('input').attr('id')) {
                    $('[id$=ZipCodeDiv]').popover('hide');
                    $('[id$=ZipCodeDiv]').off('click');
                }
                if (label.attr('for') == $('[id$=PersonalMessageDiv]').find('input').attr('id')) {
                    $('[id$=PersonalMessageDiv]').popover('hide');
                    $('[id$=PersonalMessageDiv]').off('click');
                }
                
            }
        });
        /*//*****************Success block ends here*****************//*/

        /* **** Validation rules only if the field is used in the VF Page
         * **** otherwise validation does not affect the functinality
         * **** one can simply remove the fields and validation for those fields are skipped.
         */

        if ($('[id$=CCNumber]').size() > 0) {
            $('[id$=CCNumber]').rules("add", {
                required: true,
                regex:/^[1-9][0-9]*/,
                minlength: 17,
                messages: {
                    required: "Credit Card Number is required.",
                    minlength: "This does not appear to be a valid Credit Card Number.",
                    regex:"Credit Card should contain numbers."
                }
            });
        }
        //Validation Rule For CVV
        if ($('[id$=CVV]').size() > 0) {
            $('[id$=CVV]').rules("add", {
                regex:/^[0-9]*/,
                number: true,
                required: true,
                minlength: function(){
                    if (/^3[47]/.test($('[id$=CCNumber]').val()))
                        return 4;
                    else
                        return 3;
                },
                maxlength: function(){
                    if (/^3[47]/.test($('[id$=CCNumber]').val()))
                        return 4;
                    else
                        return 3;
                },
                messages: {
                    regex:"CVV's should contain numbers.",
                    number: "CVV's should contain 3-4 numeric digits.",
                    required: "CVV is required.",
                    minlength: "CVV's should contain 3-4 numeric digits.",
                    //maxlength: "CVV's should contain 3-4 numeric digits."
                }
            });
        }
        //Validation Rule For fname
        if ($('[id$=fname]').size() > 0) {
            $('[id$=fname]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' -]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Please enter your First Name.",
                    regex: "Names should only contain letters.",
                    minlength: "First Name should contain a minimum of 2 characters.",
                    maxlength: "First Name can contain maximum 50 characters."
                }
            });
        }
         //Validation Rule For lname
        if ($('[id$=lname]').size() > 0) {
            $('[id$=lname]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' -]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Please enter your Last Name.",
                    regex: "Names should only contain letters.",
                    minlength: "Last Name should contain a minimum of 2 characters.",
                    maxlength: "Last Name can contain maximum 50 characters."
                }
            });
        }
         //Validation Rule For Email
        if ($('[id$=Email]').size() > 0) {
            $('[id$=Email]').rules("add", {
                required: true,
                email: "required email",
                regexEmail:/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i,
                maxlength:50,
                messages: {
                    required: "Please enter your Email.",
                    email: "This does not appear to be a valid email address.",
                    regexEmail:"This does not appear to be a valid email address."
                }
            });
        }
        //Validation Rule For Phone
        if ($('[id$=Phone]').size() > 0) {

            $('[id$=Phone]').rules("add", {
                required: true,
                minlength: 16,
                messages: {
                    required: "A phone number is required.",
                    number: "Phone numbers should not contain letters.",
                    minlength: "Phone numbers should contain 10 digits."
                }
            });
        }
        //Validation Rule For Address
        if ($('[id$=Address]').size() > 0) {
            $('[id$=Address]').rules("add", {
                required: true,
                minlength: 5,
                maxlength:100,
                messages: {
                    required: "An address is required.",
                    minlength: "Addresses should contain a minimum of 5 characters."
                }
            });
        }
        //Validation Rule For City
        if ($('[id$=City]').size() > 0) {
            $('[id$=City]').rules("add", {
                required: true,
                regex:"^[a-zA-Z' -]+$",
                minlength: 5,
                maxlength:50,
                messages: {
                    required: "A City is required.",
                    minlength: "Cities should contain a minimum of 5 characters.",
                    regex:"City should only contain letters."
                }
            });
        }
       //Validation Rule For PostalCode for Country US(also Other Countries Except Canada) and Canada
        if ($('[id$=Postal]').size() > 0) {
            $('[id$=Postal]').rules("add", {
               required: true,
                zipcode:true,
                minlength: function () {
                    //***** for US length is 5
                    if ($('[id$=Country]').val() == 124)
                        return 7;
                    else
                        return 5;
                },
                maxlength: function(){
                    if ($('[id$=Country]').val() == 124)
                        return 7;
                    else
                        return 5;
                
                },
                messages: {
                    required:"A Postal Code is required.",
                    minlength :"Please provide a valid Postal Code.",
                    maxlength :"Please provide a valid Postal Code."
                }
            });
        }
        //Validation Rule For Amount(If There's No Default Amount)
        if ($('[id$=Amount]').size() > 0) {
            $('[id$=Amount]').rules("add", {
                required:true,
                number:true,
                amountRegex:true,
                messages: {
                    required: "Don't forget to specify an amount.",
                    number: "Amounts should only contain numbers."
                }
            });
        }
       
        if ($('[id$=Country]').size() > 0) {
            $('[id$=Country]').rules("add", {
                required: true,
                messages: {
                    required: "A Country is required."
                }
            });
        }
        
        if ($('[id$=State]').size() > 0) {
            $('[id$=State]').rules("add", {
                required: function () {
                    if ($('[id$=Country]').val() == 840)
                        return true;
                    else
                        return false;
                },
                maxlength:50,
                messages: {
                    required: "A State is required."
                }
            });
        }
        //OtherCountry();
        if($('[id$=DonationOrg]').size() > 0){
            $('[id$=DonationOrg]').rules("add",{
                required:true,
                regex: "^[a-zA-Z' -]+$",
                messages: {
                    required: "Organization Name is required.",
                    regex:"Organization Name should only contains letter."
                }
            });
        }
        //validation for the dedicatedTo 
        if ($('[id$=dedicatedTo]').size() > 0) {
            $('[id$=dedicatedTo]').rules("add", {
                required:true,
                messages: {
                    required: "Please select a Dedication Type."
                }
            });
        }
        //Validation Rule For InHonorName
        if ($('[id$=InHonorName]').size() > 0) {
            $('[id$=InHonorName]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' -]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Please enter who your donation should be dedicated to.",
                    regex: "Dedication Name should only contain letters.",
                    minlength: "Dedication Name should contain a minimum of 2 characters.",
                    maxlength: "Dedication Name can contain maximum 50 characters."
                }
            });
        }
        //Validation Rule For PersonNotify
        if ($('[id$=PersonNotify]').size() > 0) {
            $('[id$=PersonNotify]').rules("add", {
                required: true,
                regex: "^[a-zA-Z' -]+$",
                minlength: 2,
                maxlength:50,
                messages: {
                    required: "Please enter Person To Notify.",
                    regex: "Person To Notify should only contain letters.",
                    minlength: "Person To Notify should contain a minimum of 2 characters.",
                    maxlength: "Person To Notify can contain maximum 50 characters."
                }
            });
        }

         //Validation Rule For Email
        if ($('[id$=Email1]').size() > 0) {
            $('[id$=Email1]').rules("add", {
                required: true,
                email: "required email",
                regexEmail:/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i,
                maxlength:50,
                messages: {
                    required: "Please enter your Email.",
                    email: "This does not appear to be a valid email address.",
                    regexEmail:"This does not appear to be a valid email address."
                }
            });
        }
        
        //Validation Rule For Street
        if ($('[id$=Street]').size() > 0) {
            $('[id$=Street]').rules("add", {
                required: true,
                minlength: 5,
                maxlength:100,
                messages: {
                    required: "Street is required.",
                    minlength: "Street should contain a minimum of 5 characters."
                }
            });
        }
         
        //Validation Rule For State
        if ($('[id$=State1]').size() > 0) {
            $('[id$=State1]').rules("add", {
                required:true,/*function () {
                    if($('[id$=State1]').val() == 'State')
                        return false;
                    else
                        return true;
                },*/
                messages: {
                    required: "State is required."
                }
            });
        }
        
        //Validation Rule For Country
        if ($('[id$=Country1]').size() > 0) {
            $('[id$=Country1]').rules("add", {
                required: true,
                messages: {
                    required: "Country is required."
                }
            });
        }
        
         //Validation Rule For City
        if ($('[id$=City1]').size() > 0) {
            $('[id$=City1]').rules("add", {
                required: true,
                regex:"^[a-zA-Z' -]+$",
                minlength: 5,
                maxlength:50,
                messages: {
                    required: "A City is required.",
                    regex:"City should only contain letters.",
                    minlength: "City should contain a minimum of 5 characters.",
                    maxlength: "City can contain maximum 50 characters."
                }
            });
        }
        if ($('[id$=ZipCode]').size() > 0) {
            $('[id$=ZipCode]').rules("add", {
               required: true,
               number:true,
               maxlength:5,
               messages: {
                   required:"A Postal Code is required.",
                   number:"ZipCode should only contains numbers.",
                   maxlength: "ZipCode can contain maximum 5 numbers."
               }
            });
        }
        
        //Validation Rule For Personal Message
        if ($('[id$=PersonalMessage]').size() > 0) {
            $('[id$=PersonalMessage]').rules("add", {
                maxlength:100,
                messages: {
                    maxlength: "Personal Message can contain maximum 100 characters."
                }
            });
        }
        /**************** Validation rules end here ****************/
        
        //***** Remove capitalization from the email field *****//
        //$('[id$=Email]').unbind('keydown');
        //$('[id$=Email1]').unbind('keydown');
        $('[id$=Email]').unbind('blur');
        $('[id$=Email1]').unbind('blur');
        //***** Capitalize the last three letter of the address if there is direction mentioned  *****//
        $('[id$=Address]').focusout(function () {
           $(this).AddressCase();
            });
           
        
        
        //***** Function for Canadian provinces and Postal Code******//
        $('[id$=Postal]').focusout(function () {
            if ($('[id$=Country]').val() == 124) {
                var dirty = $(this).val();
                //***** Uppercase all letters in Postal Code
                var clean = dirty.toUpperCase().replace(/\s/g,'');/\s+/g // /\s/g
                //***** Make sure spacing is consistent after 3 spaces
                if(clean != "" && clean.length >= 6)
                    clean = clean.substring(0,3) + ' ' + clean.substring(3,clean.length);
                //$('[id$=Postal]').formance('format_postal_code');
                $('[id$=Postal]').val(clean);
                //  $(this).val(clean);
            }
        });
        
        //***** Function for formatting amount field *****//
        $('[id$=Amount]').focusout(function () {
            var strAmt = $('[id$=Amount]').val();

            if (strAmt.indexOf('.') == -1 && strAmt != '')
                strAmt = strAmt + '.00';

            $(this).val(strAmt);
        });

        /**** Function is used for calling the function which format the amount field
         *used time out for assigning event as it wait for loading the dom and then attaches
         *the function for formatting value
         ****/

        $(function () {
            setTimeout(assignFormatAmount, 1000);
        });


        //***** Function for formatting amount field
        function assignFormatAmount() {
            var strAmt = $('[id$=Amount]').val();
            if (strAmt != undefined) {
                if (strAmt.indexOf('.') == -1 && strAmt != '')
                    strAmt = strAmt + '.00';

                $('[id$=Amount]').val(strAmt);
            }

            //***** Change the font color to black if user types a value otherwise set the default font color
            if ($('input').val() != '') {
                $('input').css('color', 'black');
            } else {
                $('input').css('color', 'initial');
            }
        }

        //***** Hide the loading indicator after loading
        stopProcessing();
        $("#divNotification").attr('style', 'display:none');
        $("#paraNotification").attr('style', 'display:none');

        $('.form1').on('submit', function () {
            return $('.form1').valid();
        });

        //***** Setup background modal on start processing
        $('.js-loading-bar').modal({
            backdrop: 'static',
            show: false
        });

        $('#load').click(function () {
            var $modal = $('.js-loading-bar');
            $bar = $modal.find('.progress-bar');

            $modal.modal('show');
            $bar.addClass('animate');

            setTimeout(function () {
                $bar.removeClass('animate');
                $modal.modal('hide');
            }, 1500);
        });

        //$("#dedicationName").attr('style', 'display:none');

        //*****Show no custom setting notification on page load
        $(function () {
            noCustomSettings();
        });
       
       /*if ($('#inputProvince').size() > 0) {
            $('#inputProvince').on('focusout',function(){
                $('#inputProvince').valid();
            });
        }
        if ($('[id$=inputProvinceCanada]').size() > 0) {
            $('#inputProvinceCanada').on('focusout',function(){
                $('#inputProvinceCanada').valid();
            });
        }*/
        //***** This function will call for hide popover
        $('.hidepopover').keypress(function () {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });

        //***** This function will call for hide popover
        $('.hidepopover').keyup(function (e) {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });

        //***** This function will call for hide popover
        $('.hidepopover').keydown(function () {
            if(event.keyCode != 9)
            $(this).popover('hide');
        });

        /************ Call the function for default state/provience help text setting***********/
        $(function () {
            var param = $('[id$=Country]').val();
            var defaultCountry = '{!formSettings.Default_Country__c}';
            $('[id$=Country] option').each(function(index, val){
                var urlCountry = unescape(GetURLParameter('country'));
                if($(val).text() == urlCountry)
                {
                    param = $(val).val();
                    $('[id$=Country]').val(param);
                }
                else if(defaultCountry != null && $(val).text() == defaultCountry)//&& defaultCountry != urlCountry )
                {
                    if($(val).text() != 'Us' || $(val).text() !='US')
                    {
                        param = $('[id$=Country]').val();
                    }
                    else
                    {
                        param = $(val).val();
                        $('[id$=Country]').val(param);
                    }
                        
                }
            });
            ChangeToText(param);
        });
        
         /************ setting the value of the month to number***********/
        $(function () {  
          $('[id$=selectMonth]').find('option').each(function( index , value) {
             $(value).text($(value).val());
            });
       });
        
        /*********** Accepting Only 100 characters for personal message  ********/   
        var strMaxCharacter =100;
        $('[id$=PersonalMessage]').keypress(function(e) {
            if (e.which < 0x20) {
                // e.which < 0x20, then it's not a printable character
                // e.which === 0 - Not a character
                return;     // Do nothing
            }
            if (this.value.length == strMaxCharacter) {
                e.preventDefault();
            } else if (this.value.length > strMaxCharacter) {
                // Maximum exceeded
                this.value = this.value.substring(0, strMaxCharacter);
            }
        }); 
        if({!formSettings.Dedication_Delivery_Email__c} == false && {!formSettings.Dedication_Delivery_Print__c} == false ){
            $('[id$=HTNotifyDiv]').css('display','none');
            $('[id$=emailAcknowledge]').css('display','none');
        }
            
    });
    //*************************************************************************************************//
    //********************************************Ready Ends Here**************************************//
    //*************************************************************************************************// 
    
    //State For Country Other Than US
    function OtherCountry()
    {
        if ($('#inputProvince').size() > 0) {
            $('[id$=inputProvince]').rules("add", {
                required:true,
                regex: "^[a-zA-Z' ]+$",
                minlength:5,
                maxlength:50,
                messages: {
                    required: "A State/Province is required.",
                    minlength: "State/Province should contain a minimum of 5 characters.",
                    regex:"State/Province should only contain letters."
                }
            });
            $('#inputProvince').on('focusout',function(){
                var bIsValid = $('#inputProvince').valid();
                if(bIsValid)
                    $('#province').popover('hide');
                else
                    $('#province').popover('show');
            });
        }
        
            
        if ($('[id$=inputProvinceCanada]').size() > 0) {
            $('[id$=inputProvinceCanada]').rules("add", {
                required:true,
                regex: "^[a-zA-Z' ]+$",
                minlength:5,
                maxlength:50,
                messages: {
                    required: "A Province is required.",
                    minlength: "Province should contain a minimum of 5 characters.",
                    regex:"Province should only contain letters."
                }
            });
            $('#inputProvinceCanada').on('focusout',function(){
                var bIsValid = $('#inputProvinceCanada').valid();
                if(bIsValid)
                    $('#provinceCanada').popover('hide');
                else
                    $('#provinceCanada').popover('show');
            });
        }
        
        
    }
    //*****Hide PopOver and  
    //*****Show notification message when there are no custom settings
    function noCustomSettings() {
        if ({!settingsError}) {
            noty({
                text: 'Custom Settings are incomplete. <br/> Please enter C&P Account details in Setup > Develop > Custom Settings > Donation Form Settings > Manage',
                type: 'alert',
                layout: 'center',
                modal: true,
                buttons: [{
                    addClass: 'btn btn-primary',
                    text: 'Close',
                    onClick: function ($noty) {
                        //***** this = button element
                        //***** $noty = $noty element
                        $noty.close();
                    }
                }]
            });
            $('#btnDonate').attr('disabled','disabled');
        }
    }

    function startProcessing() {
        if({!settingsError}) {
            noty({
                text: 'Custom Settings are incomplete. <br/> Please enter C&P Account details in Setup > Develop > Custom Settings > Donation Form Settings > Manage',
                type: 'alert',
                layout: 'center',
                modal: true,
                buttons: [{
                    addClass: 'btn btn-primary',
                    text: 'Close',
                    onClick: function ($noty) {
                        // this = button element
                        // $noty = $noty element
                        $noty.close();
                    }
                }]
            });
        } else {
            $('.js-loading-bar').modal('show');
            $('.js-loading-bar').find('.progress-bar').addClass('animate');
        }
    }

    function stopProcessing() {
        $('.js-loading-bar').find('.progress-bar').removeClass('animate');
        $('.js-loading-bar').modal('hide');
         // code to display the first div and test data in test mode
        if( '{!orderMode}' == 'Test'){
            GeneralDonationBlock.setAttribute('class',"visible");
            DedicatedRequestBlock.setAttribute('class',"hidden");
        }
    }

    //***** Change the state drop down to textbox input field if country is US or Canada or Other. *****//
    function ChangeToText(param) {
        var urlCountry = unescape(GetURLParameter('country'));
        // 840 is the country code for US
        if( param != '840' && (GetURLParameter('country') != 'United States' && GetURLParameter('country') != 'US' ) ) 
        {
            $('#inputProvince').val('');
            $('#inputProvinceCanada').val('');
            $('[id$=divProvinceList]').css('display', 'none');
            $('[id$=divProvinceList]').popover('hide');
            //This block will execute if country is Canada
            if (param == 124) {
                $('#usdLabel').text('CA');
                if ($('[id$=mainstuff]').find('[id$=province]').size() > 0)
                    {
                    $('[id$=province]').popover('hide');
                    $('[id$=province]').remove();
                    }

                if ($('[id$=mainstuff]').find('[id$=provinceCanada]').size() == 0)
                    $('[id$=mainstuff]').prepend("<div class='col-lg-6 hidepopover' id='provinceCanada' data-toggle='popover'  data-placement='top'><input type='textbox' class='form-control input-lg capital' placeholder='Province' value='{!BillingAddress.BillingStateProvince}' name='stateProvinceCanada' id='inputProvinceCanada' /> </div>");
                    //Validation Rule For State Other than Country US and Canada
                   OtherCountry();
                    if({!country} != null && {!country} != '840' && $('[id$=Country]').val() == '124')
                    {
                        if( '{!state}' != '' && GetURLParameter('state') == undefined)//&& '{!country}' == $('[id$=Country]').val()
                        {
                            $('#inputProvinceCanada').val('{!state}');
                        }
                        else if( '{!state}' != '' && GetURLParameter('state') != undefined)//&& '{!country}' == $('[id$=Country]').val()
                        {
                            $('#inputProvinceCanada').val(unescape(GetURLParameter('state')));
                        }
                        else
                        {
                            $('#inputProvinceCanada').val(''); 
                        }
                     } 
                     if(GetURLParameter('country') == 'Canada' || GetURLParameter('country') == 'canada')
                     {
                        if( GetURLParameter('state') != null && GetURLParameter('state') != ''  && GetURLParameter('state') != undefined )
                        {
                            $('#inputProvinceCanada').val(unescape(GetURLParameter('state')));
                        }
                      
                     } // set the default from the custom setting and the URL parameter
                     //set the state from url when country is default Canada and default state is null
                     if(GetURLParameter('country') == undefined && GetURLParameter('state') != undefined)
                     {
                        if( GetURLParameter('state') != null && GetURLParameter('state') != ''  && GetURLParameter('state') != undefined )
                        {
                            $('#inputProvinceCanada').val(unescape(GetURLParameter('state')));
                        }
                      
                     }
                     
                        
            } else {
                $('#usdLabel').text('USD');
                //This block will execute if country is other than US and Canada 
                if( {!DefaultCountryFromSetting} || {!DefaultCountryFromSetting} == ''){
                    var strCountryCode = $('[id$=Country]').val();
                    if ($('[id$=mainstuff]').find('[id$=provinceCanada]').size() > 0)
                    {
                        $('[id$=provinceCanada]').popover('hide');
                        $('[id$=provinceCanada]').remove();
                    }
                    $('#inputProvince').val('');
                    if ($('[id$=mainstuff]').find('[id$=province]').size() == 0)
                        $('[id$=mainstuff]').prepend("<div class='col-lg-6 hidepopover' id='province' data-toggle='popover'  data-placement='top'> <input type='textbox' value='{!BillingAddress.BillingStateProvince}'  class='form-control input-lg capital' placeholder='State/Province' name='stateProvince' id='inputProvince' /> </div>");
                    //Validation Rule For State Other than Country US and Canada
                    OtherCountry(); 
                    if({!country} != null && {!country} != '840' && {!country} != '124' )
                    {
                        if( '{!state}' != '' && '{! BillingAddress.BillingCountryCode}' == $('[id$=Country]').val())
                        {
                           $('#inputProvince').val('{!state}');
                        }
                        else
                        {
                           $('#inputProvince').val(''); 
                        }
                    }  
                    var selectedCountry = $('[id$=Country]').find("option[value='" + $('[id$=Country]').val() + "']").text(); 
                    if(GetURLParameter('country') != 'Canada' && ( GetURLParameter('country') != 'United States' || GetURLParameter('country') != 'Us' || GetURLParameter('country') != 'US') && GetURLParameter('country') != undefined && selectedCountry == urlCountry)
                    {
                         if( GetURLParameter('state') != null && GetURLParameter('state') != '' && GetURLParameter('state') != undefined )
                         {
                             $('#inputProvince').val(unescape(GetURLParameter('state')));
                         }
                    } 
                    if(GetURLParameter('country') == undefined && GetURLParameter('state') != undefined )
                    {
                        $('#inputProvince').val(unescape(GetURLParameter('state')));
                    }     
                }
                
            }
        } 
        else if(param == 840) {//This block will execute if country is US
            $('#usdLabel').text('USD');
            $('[id$=State] option[value=""]').remove();
            $('[id$=State]').append('<option value="" selected="selected">State</option>').find('option:last').slice(0, 1).insertBefore($('[id$="State"] option:eq(0)'));
            if ($('[id$=mainstuff]').find('[id$=province]').size() > 0)
            {
                $('[id$=province]').popover('hide');
                $('[id$=province]').remove();
            }
            if ($('[id$=mainstuff]').find('[id$=provinceCanada]').size() > 0)
            {
                $('[id$=provinceCanada]').popover('hide');
                $('[id$=provinceCanada]').remove();
            }
            $('[id$=State] option').each(function(index, val){
                if($(val).text() == unescape(GetURLParameter('state')))
                {
                    param = $(val).val();
                    $('[id$=State]').val(param);
                }
            });
            if( '{!state}' != '' && ('{!formSettings.Default_Country__c}' == 'United States' || '{!formSettings.Default_Country__c}' == 'US' || '{!formSettings.Default_Country__c}' == 'Us' ) && GetURLParameter('state') == undefined)
               $('[id$=State]').val('{!state}');
            if( '{!state}' != '' && ('{!formSettings.Default_Country__c}' == 'United States' || '{!formSettings.Default_Country__c}' == 'US' || '{!formSettings.Default_Country__c}' == 'Us' ) && GetURLParameter('state') != undefined && ( GetURLParameter('country') == 'United States' || GetURLParameter('country') == 'Us' || GetURLParameter('country') == 'US'))
               $('[id$=State]').val(GetURLParameter('state')); 
            /*if( '{!state}' != '' && '{!country}' == '840' && GetURLParameter('state') == undefined)
               $('[id$=State]').val('{!state}');*/
            if( '{!state}' != '' && GetURLParameter('state') != undefined && ( GetURLParameter('country') == 'United States' || GetURLParameter('country') == 'Us' || GetURLParameter('country') == 'US'))
               $('[id$=State]').val(GetURLParameter('state'));
            if( '{!state}' != '' && GetURLParameter('state') == undefined && ( GetURLParameter('country') == 'United States' || GetURLParameter('country') == 'Us' || GetURLParameter('country') == 'US'))
               $('[id$=State]').val('');
          
            $('[id$=divProvinceList]').css('display', 'block');
           
        }
        $('.form1').validate();
    }

   
    // Redirect to the thank you page on successful transaction
    function processing(param, orderNumber, orderMode, thankYou) {
        if (orderNumber != "") {
            if (orderMode == 'Production') {
                if(param == '0')
                    window.location.href = thankYou;  // If the thank you should replace iframe
                    //window.top.location.href = thankYou;  // If the thank you should replace full page
                else
                {
                    stopProcessing();
                    $('.testData').css('display', 'block');
                }
            } else {
                stopProcessing();
                $('.testData').css('display', 'block');
            }
        }
    }


    // Fire the validation on the form
    // Remove the masking(spaces) from the credit card number if form is valid.
    function submitValidation(requestFor) {
        $('.form1').validate();
        var isValid = $('.form1').valid(); // Check if the form is valid if there is no error returns true
        if($('[id$=ChkEmail]').prop('checked') == false && $('[id$=ChkPostLetter]').prop('checked') == false && $('[id$=ChkNotNotify]').prop('checked') == false){
            showCheckNotifyError();
            isValid = false;
        }
        //if there is dedication then skip this step
        if( $('[id$=DedicationRequestChk]').prop('checked') && requestFor == 'Dedication'){
          if(isValid)    
             return isValid;
        }
        if (isValid){ // If form is valid remove spaces from the value of credit card
            if ($('[id$=CCNumber]').size() > 0) {
                var ccNum = $('[id$=CCNumber]').val();
                ccNum = ccNum.replace(/ /g, '');
                $('[id$=CCNumber]').val(ccNum);
                startProcessing();
            }
        }
       
        return isValid;
    }

    // Show notification that recurring donation selection
    function showNotification() {
        if ($('[id$=chkRecurring]').is(":checked")) {
            $("#divNotification").attr('style', 'display:block;margin-left:-35%;margin-top:-1%;'); // Hide the notification
            $("#paraNotification").attr('style', 'display:block');
            setTimeout(function () {
                $("#divNotification").hide();
                $("#paraNotification").hide();
            }, 2000);
        }
    }

    // Show errors for failed transactions
    function checkErrorData(param, supportEmail) {
    	var failedMessage;
		switch (param) { 
		    case '2105': 
		        failedMessage = 'Credit Card Info is not valid. Please verify and retry again.';
		        break;
		    case '2111': 
		        failedMessage = 'This type of credit card is not accepted. Please verify your number or try a different credit card.';
		        break;
		    case '5001': 
		        failedMessage = 'Your credit card has been declined. Please try a different credit card.';
		        break;  
	        case '0':
	        	transactionCompleted();
	        	break;
		    default:
		        failedMessage = 'Transaction has failed. Please verify your credit card details and try again. We are of this failure and will look into it.';
		}
		if(param != '0'){
			if(failedMessage != '' || failedMessage != null){
				noty({
		            modal: true,
		            type: 'information',
		            text: failedMessage,
		            layout: 'center',
		            dismissQueue: true, 
		            buttons: [{
		                addClass: 'btn btn-primary',
		                text: 'Close',
		                onClick: function ($noty) {
		                    $noty.close();
		                }
		            }]
		        });
		       }
       }
        /*
        if (param == '0') {
            transactionCompleted();
        } else {
            showError(supportEmail);
            $('.testData').css('display', 'block');
        }*/

    }
     //Using for URL zip Formatting
    function UrlZipFormatter()
    {
        if ($('[id$=Country]').val() == 124) {
            var dirty = GetURLParameter('zip');
            dirty = dirty.substr(0,6);
            //***** Uppercase all letters in Postal Code
            var clean = dirty.toUpperCase().replace(/\s/g,'');
            //***** Make sure spacing is consistent after 3 spaces
            if(clean != "" && clean.length >= 6)
                clean = clean.substring(0,3) + ' ' + clean.substring(3,clean.length);
            $('[id$=Postal]').val(clean);
        }
    }
    /* *********Formance validation for credit card and phone numbe it also format the field in proper format****** */
    function changeFormat() {
        if ($('[id$=CCNumber]').size() > 0) {
            $('[id$=CCNumber]').formance('format_credit_card_number');
        }
        if ($('[id$=CVV]').size() > 0) {
            $('[id$=CVV]').formance('format_credit_card_cvc');
        }
        if ($('[id$=Phone]').size() > 0) {
            $('[id$=Phone]').formance('format_phone_number');
        }
    }
    // Function to apply title case
    $.fn.TitleCase = function() {
         var capsThis = $(this).val();
         capsThis = capsThis.replace(/\w\S*/g, function(txt){
            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
         })
         $(this).val(capsThis);
    };
    
    // Function to apply address case
    $.fn.AddressCase = function() {
        var dirty = $(this).val();
        var clean = dirty.toLowerCase().replace(/(^| )(\w)/g, function (x) {
            return x.toUpperCase();
        });
            
        //***** Check last 3 chars to see if is direction 
        var direction = dirty.substring((dirty.length - 3), dirty.length); // Make a substring of the last 2 digits of the string 
        direction = direction.toUpperCase(); // Convert to uppercase
        // If last 3 chars are a direction, replace original last 3 char with the uppercase version
        if (direction == ' NE' || direction == ' NW' || direction == ' SE' || direction == ' SW') {
            clean = clean.substring(0, (clean.length - 3)) + direction;
        }
        
        $(this).val(clean);
    };
    //function for url Phone formatting
    var phoneFormat = function(phoneNumberString) {
            var areaCode, first3, last4, phoneNumber, text, _ref;
            phoneNumberString = phoneNumberString.substr(0,10);
            phoneNumber = phoneNumberString.replace(/\D/g, "").match(/^(\d{0,3})?(\d{0,3})?(\d{0,4})?$/);
            _ref = phoneNumber, phoneNumber = _ref[0], areaCode = _ref[1], first3 = _ref[2], last4 = _ref[3];
            text = "";
            if (areaCode != null) {
                text += "(" + areaCode
            }
            if ((areaCode != null ? areaCode.length : void 0) === 3) {
                text += ") "
            }
            if (first3 != null) {
                text += "" + first3
            }
            if ((first3 != null ? first3.length : void 0) === 3) {
                text += " - "
            }
            if (last4 != null) {
                text += "" + last4
            }
            return text
        };
    // Capitalize the first letter of the input text box
    function capitalizeFirstLetter() {
        // Title Case data passed through URL 
        $('[id$=fname]').TitleCase(); 
        $('[id$=lname]').TitleCase(); 
        $('[id$=City]').TitleCase(); 
       // $('[id$=DonationOrg]').TitleCase();
        $('[id$=Address]').AddressCase();
        $('input').on('blur', function (event) {
            //***** change the font color to black if user type the value otherwise set the default font color
            if ($('input').val() != '') {
                $('input').css('color', 'black');
            } else {
                $('input').css('color', 'initial');
            }
           // Apply Title Case
           //if($('input').attr('id')!= 'j_id0:form1:Address')
             $(this).TitleCase(); 
        });
        $('[id$=PersonalMessage]').on('keydown', function (event) {
            var strMessage = $('[id$=PersonalMessage]').val();
            var firstLetterCapital = $('[id$=PersonalMessage]').val().charAt(0).toUpperCase() + $('[id$=PersonalMessage]').val().substring(1);
            $('[id$=PersonalMessage]').val(firstLetterCapital);
        });
    }
    
    // Pass Designation as SKU
    function variablesToController() {

        var DesignationType = $('[id$=DesignationType]').val();
        // Pass variables into the controller from this VF Page 
        // These variables can be set as defaults
        // SKU can be over written if a SKU is specified in the URL
        //    var SKU = 'NONE'; // Specify SKU here
        var SKU = DesignationType; // passing in SKU from Designation Type
        var Campaign = 'null'; // Specify Campaign here
        var Hidden = 'null'; // Specify Hidden field
        sendHiddenParams(SKU, Campaign, Hidden);
    }

    // ***** function for show notification on successful transaction
    function transactionCompleted() {
         if(!{!settingsError}) {
            noty({
                text: 'Transaction Successful',
                type: 'information',
                layout: 'center',
                modal: true,
                closeWith: ['click'],
                timeout: 3000
            });
        }
    }

    //***** This function will show error ,if transaction is unsuccessful.
    function showError(supportEmail) {
        noty({
            text: 'Transaction Not Processed <br/> If you are unable to resolve this error, kindly let us know at :' + supportEmail,
            type: 'alert',
            layout: 'center',
            modal: true,
            buttons: [{
                addClass: 'btn btn-primary',
                text: 'Close',
                onClick: function ($noty) {
                    //***** this = button element
                    //***** $noty = $noty element
                    $noty.close();
                }
            }]
        });
        
    }
    //***** This function will show error , if both, Email and posted letter checkboxes are not checked.
    function showCheckNotifyError() {
        noty({
            text: 'Please check minimum one type of notification medium.',
            type: 'alert',
            layout: 'center',
            modal: true,
            buttons: [{
                addClass: 'btn btn-primary',
                text: 'Close',
                onClick: function ($noty) {
                    //***** this = button element
                    //***** $noty = $noty element
                    $noty.close();
                }
            }]
        });
        
    }
     /********** function changes the donate button text if user is going to dedicate the donation ********/
    function DonateBtnVal()
    {
        if($('[id$=DedicationRequestChk]').prop('checked'))
        {
            $('#btnDonate').text('Go to Dedication');
        }
        else
        {
            $('#btnDonate').text('Donate');
        }
    }
    
   
    function OnClickDedicatedRequest()
    {
        if($('[id$=DedicationRequestChk]').prop('checked'))
        {
            GeneralDonationBlock.setAttribute('class',"hidden");
            ShowOnGoToDedication();
            DedicatedRequestBlock.setAttribute('class',"visible");
             $('[id$=dedicatedTo]').focus(); 
        }
        else
        {
            startProcessing(); 
            submitForm($('#inputProvinceCanada').val(),$('#inputProvince').val()); clearFields();
        }
    }
    function clearFields()
    {
        $('[id$=CCNumber]').val('');
        $('[id$=CVV]').val('');
        //$('[id$=Phone]').val('')
        //$('[id$=Postal]').val('')
    }
    /************* function to get the URL parameter USed if forms use prefilling using URL param********/
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
    function OnChangeEmailBlock()
    {
        if( $('[id$=ChkEmail]').prop('checked') == true)
        {
            $('[id$=Email1]').unbind('blur');
            EmailBlock.setAttribute('class', 'visible');
            AddressBlock.setAttribute('class', 'hidden');
            PersonalMessageDiv.setAttribute('class', 'visible');
            $('[id$=PersonalMessageDiv]').css('margin-left','15px');
        }
        else 
        {
            EmailBlock.setAttribute('class', 'hidden');
            AddressBlock.setAttribute('class', 'visible');
            $('[id$=PersonalMessageDiv]').css('margin-left','15px');
        }
    }
    
    function OnChangePostedLetterBlock()
    {
        if( $('[id$=ChkPostLetter]').prop('checked') == true)
        {
            AddressBlock.setAttribute('class', 'visible');
            EmailBlock.setAttribute('class', 'hidden');
            PersonalMessageDiv.setAttribute('class', 'visible');            
            $('[id$=PersonalMessageDiv]').css('margin-left','15px');
        }
        else
        {
            AddressBlock.setAttribute('class', 'hidden');
            EmailBlock.setAttribute('class', 'visible');
        }  
    }
    

    // Scroll back to the top of page after clicking button on Donation Information view
    function ScrollUp(){
       $('html, body').animate({scrollTop:0}, 'slow');
        return false;
    }
    /*
    //Show Corporation Name
    function ShowCorporationDonation()
    {
        if($('[id$=CorpDonationChk]').prop('checked'))
            $('[id$=donationOrgNameLabel]').css('display','block');
        else{
            $('[id$=DonationOrg]').val('');
            $('[id$=donationOrgNameLabel]').css('display','none');
            $('[id$=donationOrgNameLabel]').popover('hide');
        }
        capitalizeFirstLetter();
    }
    */
    
    //For Dedication 
   function ShowOnGoToDedication()
   {
     if({!formSettings.Dedication_Delivery_Email__c} == false && {!formSettings.Dedication_Delivery_Print__c} == false )
            $('[id$=emailAcknowledge]').css('display','none');
        if('{!formSettings.Dedication_Delivery_Email__c}' == 'true')
        {
            EmailBlock.setAttribute('class', 'visible');
            AddressBlock.setAttribute('class', 'hidden');
            $('[id$=ChkNotNotify]').remove();
            $('label[for=Parent]').remove();
            if('{!formSettings.Dedication_Delivery_Print__c}' == 'true'){
                $('[id$=HTNotifyDiv]').css('display','block');
                $('[id$=HTNotifyDiv]').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="ChkEmail" class="chkBox" name="HowToNotifyRadio" style="margin-top: 0px;" disabled="disabled" onchange="OnChangeEmailBlock();">&nbsp;&nbsp;<label style="padding-left:23px;">Email</label>');
                $('[id$=ChkEmail]').prop('checked','checked');
            }
            else{
                $('[id$=HTNotifyDiv]').css('display','none');
                $('[id$=HTNotifyDiv]').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="ChkEmail" class="chkBox" name="HowToNotifyRadio" style="margin-top: 0px;" disabled="disabled" onchange="OnChangeEmailBlock();">&nbsp;&nbsp;<label style="padding-left:23px;">Email</label>');
                $('[id$=ChkEmail]').prop('checked','checked');
            }
        }
        else
        {
            EmailBlock.setAttribute('class', 'hidden');
            AddressBlock.setAttribute('class', 'visible');
        }
        
        if('{!formSettings.Dedication_Delivery_Print__c}' == 'true')
        {
            AddressBlock.setAttribute('class', 'visible');
            EmailBlock.setAttribute('class', 'hidden');
            if('{!formSettings.Dedication_Delivery_Email__c}' == 'true'){
                $('[id$=HTNotifyDiv]').css('display','block');
                $('[id$=HTNotifyDiv]').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="ChkPostLetter" class="chkBox" name="HowToNotifyRadio" style="margin-top: 0px;" disabled="disabled" onchange="OnChangePostedLetterBlock();">&nbsp;&nbsp;<label style="padding-left:23px;">Posted Letter</label>');
                $('[id$=ChkPostLetter]').prop('checked','checked');
                if( $('[id$=ChkPostLetter]').is(':checked'))
                    $('[id$=Email1]').val('');
            }
            else{
                $('[id$=HTNotifyDiv]').css('display','none');
                $('[id$=HTNotifyDiv]').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="ChkPostLetter" class="chkBox" name="HowToNotifyRadio" style="margin-top: 0px;" disabled="disabled" onchange="OnChangePostedLetterBlock();">&nbsp;&nbsp;<label style="padding-left:23px;">Posted Letter</label>');
                $('[id$=ChkPostLetter]').prop('checked','checked');
            }
        }
        else
        {
            AddressBlock.setAttribute('class', 'hidden');
            EmailBlock.setAttribute('class', 'visible');
        }
        
        if('{!formSettings.Dedication_Delivery_Email__c}' == 'true' && '{!formSettings.Dedication_Delivery_Print__c}' == 'true')
        {
           EmailBlock.setAttribute('class', 'visible');
           AddressBlock.setAttribute('class', 'hidden');
           $('[id$=ChkEmail]').prop('checked','checked') 
           $('[id$=ChkEmail]').attr("disabled", false);
           $('[id$=ChkPostLetter]').attr("disabled", false);
           $('[id$=ChkNotNotify]').remove();
           $('label[for=ChkNotNotify]').remove();
           $('[id$=HTNotifyDiv]').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="ChkNotNotify" class="chkBox" name="HowToNotifyRadio" style="margin-top: 0px;" disabled="disabled" onchange="OnChangeNotNotify()">&nbsp;&nbsp;<label for="ChkNotNotify" style="padding-left:23px;">Do not notify</label>');
           $('[id$=ChkNotNotify]').attr("disabled", false);
        }
   }
   
   //Not Notify
    function OnChangeNotNotify()
    {
        if( $('[id$=ChkNotNotify]').prop('checked') == true){
            AddressBlock.setAttribute('class', 'hidden');
            EmailBlock.setAttribute('class', 'hidden');
            PersonalMessageDiv.setAttribute('class', 'hidden');
        }
        else{
            AddressBlock.setAttribute('class', 'visible');
            EmailBlock.setAttribute('class', 'visible');
            PersonalMessageDiv.setAttribute('class', 'visible');
        }
    }
</script>


<!-- If user does not want any section or sub section then User can Comment Out that Division -->
<!-- If fields have validation then find Validation on that fields by using its ID and comment out)-->
<!-- -----Apex Form----- -->
<apex:form id="form1" styleClass="form1" >

    <div id="GeneralDonationBlock" class="visible">
<!-- div notification message for recurrring donatinos-->
        <div class="message" id="divNotification" style="display:none;"> <p class="para" id="paraNotification">This will be a recurring donation.</p></div>
        
        <div class="row" style="text-align:center; overflow:auto;" >
        <apex:outputtext style="font-size:24px; font-weight:bold; color:#000033;" value="{!CustomString}" escape="true" rendered="{!(CustomString <> '')}" />
        </div>
        
        <!-- Donate Amount Button View Start-->
        <!-- Amount field with $ at left end and USD at right end of the field-->
        <div class="row" style="margin-top:0px;">
          <div class="col-lg-12">
            <div class="input-group" id="amountLabel" data-toggle="popover" data-placement="top">
              <span id="divDoller" class="input-group-addon" style=" font-size:x-large; color:gray; background-color:#fff; border-right:0px;">$</span>
              <apex:inputText value="{!item.UnitPrice}" size="6" id="Amount" styleClass="form-control input-lg" html-placeholder="Amount" style="text-align:center; border-left:0px; border-right:0px;"/>
              <span id="usdLabel" class="input-group-addon" style="font-size: x-large; color:gray; background-color:#fff; border-left:0px;">USD</span>
        
             <span class="input-group-addon" style=" font-size:large; font-weight:bold; color:white; background-color:#5bc0de; border-color:#5bc0de; border-left:0px;">
                <apex:inputCheckbox id="chkRecurring"  style="margin-right:5px;" value="{!cnpTransactionPeriodicity}" onchange="showNotification()" />Make it Monthly </span>
            </div>
          </div>
        </div>
 
<!-- Donate Amount Button View End Here -->    



<!-- Card Number, CVV, Expiration --> 

    <div class="row"  style="margin-top:40px;">
        <div class="col-lg-6 hidepopover" id="cardLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!PaymentMethod.CardNumber}" id="CCNumber" styleClass="form-control input-lg"  html-placeholder="Credit Card Number"  /></div>
        <div class="col-lg-2 hidepopover" id="cvvLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!PaymentMethod.Cvv2}" id="CVV" styleClass="form-control input-lg" html-placeholder="CVV" /></div>
       
          <div class="col-lg-4 hidepopover" id="expiryDateLabel" data-toggle="popover" data-placement="top" >
            <!--  <div class="input-group" style="width:100%;" >-->
            <div class="input-group" style="width:100%;">
                <div>
                <!--  <div style="width:100px;" id="monthLabel" class="hidepopover" data-toggle="popover" data-placement="top">-->
                    <apex:selectlist value="{!PaymentMethod.ExpirationMonth}" id="selectMonth" size="1" style="width:90px;" styleclass="form-control input-lg" >
                        <apex:selectOptions value="{!cnpxmlstring.ExpireMonth}"/>
                    </apex:selectlist> 
                </div>
                <div>
                    <apex:selectlist value="{!PaymentMethod.ExpirationYear}" id="selectYear" size="1" style="width:113px;" styleclass="form-control input-lg">             
                        <apex:selectOptions value="{!cnpxmlstring.ExpireYear}"/>
                    </apex:selectlist>
                </div> 
            </div> 
        </div>
    </div>
 
<!-- div for showing the firstname and lastname-->
    <div class="row" style="margin-top:40px;">
        <div class="col-lg-6 hidepopover" id="fnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!BillingInfo.BillingFirstName}" html-placeholder="First Name" id="fname" styleClass="form-control input-lg capital" maxlength="50"/></div>
        <div class="col-lg-6 hidepopover" id="lnameLabel" data-toggle="popover" data-placement="top"><apex:inputText value="{!BillingInfo.BillingLastName}" html-placeholder="Last Name" id="lname" styleClass="form-control input-lg capital" maxlength="50"/></div>
    </div>
    
    
<!-- Email & Phone -->

    <div class="row">
        <div class="col-lg-6 hidepopover" id="emailLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingInfo.BillingEmail}" id="Email" styleClass="form-control input-lg" html-placeholder="Your@email.com" maxlength="50"/></div>
        <div class="col-lg-6 hidepopover" id="phoneLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingInfo.BillingPhone}" id="Phone" styleClass="form-control input-lg" html-placeholder="Phone"  /></div>
    </div> 
    
     <!--  Donation Organization Name -->
     <!--
    <div class="row checkbox">
        <div class="col-lg-12 hidepopover" id="donationOrgChk">
            <center>
                <apex:inputCheckbox id="CorpDonationChk"
                        value="{!CorporationDonation}" styleClass="chkBox"
                        onchange="ShowCorporationDonation();" style="dispaly:none;" /> -->
                <!-- <input type="checkbox" class="chkBox" id="CorpDonationChk" onchange="ShowCorporationDonation()"/> -->
 <!--               <apex:outputLabel value="This gift is from an organization." 
                        styleClass="labelText"/>
            </center>
        </div>
    
   
        <div class="col-lg-12 hidepopover" id="donationOrgNameLabel" style="display:none;margin-top:40px;margin-left:-20px;" data-toggle="popover"
            data-placement="top">
            <apex:inputText value="{!DedicationDetails.Donation_Org_Name__c}"
                id="DonationOrg" styleClass="form-control input-lg capital"
                html-placeholder="Organization Name" maxlength="80" style="width:674px;"/>
        </div>
    </div>
-->
<!-- Address -->  
    <div class="row">
        <div class="col-lg-12 hidepopover" id="addressLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingAddress1}" id="Address" styleClass="form-control input-lg capital"  html-placeholder="Address" maxlength="100"/></div>
    </div>

<!-- City & Postal Code-->  
    <div class="row">
        <div class="col-lg-6 hidepopover" id="cityLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingCity}" id="City" styleClass="form-control input-lg capital" html-placeholder="City"  maxlength="50" /></div>
        <div class="col-lg-6 hidepopover" id="postalLabel" data-toggle="popover"  data-placement="top"><apex:inputText value="{!BillingAddress.BillingPostalCode}" id="Postal" styleClass="form-control input-lg" html-placeholder="Postal Code" maxlength="7" /></div>
    </div>

<!-- Country -->
    <div class="row" id="mainstuff">
        <div class="col-lg-6 hidepopover" id="divProvinceList" data-toggle="popover"  data-placement="top">
            <apex:selectlist value="{!BillingAddress.BillingStateProvince}" size="1" id="State"  styleClass="form-control input-lg" > 
              <apex:selectOptions value="{!cnpxmlstring.UsStates}"/>
            </apex:selectlist>
        </div>
        <div class="col-lg-6" id="countryLabel" data-toggle="popover"  data-placement="top">
            <apex:selectlist value="{!BillingAddress.BillingCountryCode}" id="Country" onchange="ChangeToText(this.value);" styleClass="form-control input-lg" size="1" >     
                <apex:selectOptions value="{!cnpxmlstring.CountryCodes}"/>
                <apex:actionSupport event="onchange" reRender="postal" /> 
            </apex:selectlist>
        </div>
    </div>


  <!--Email Acknowledgement CheckBox-->
            <div class="row checkbox" id="emailAcknowledge">
                <div class="col-lg-12 ">
                    <center>
                        <apex:inputCheckbox id="DedicationRequestChk"
                            value="{!DedicationRequest}" styleClass="chkBox"
                            onchange="DonateBtnVal();" />
                        <apex:outputLabel value="I'd like to dedicate this gift to a friend or loved one."
                            styleClass="labelText"></apex:outputLabel>
                    </center>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <button type="button" value="Donate" id="btnDonate"
                        class="btn btn-info btn-block btn-lg"
                        onclick=" ScrollUp();if(!submitValidation('Dedication'))return false; OnClickDedicatedRequest();"
                        style="font-size: x-large; font-weight: bold;">Donate</button>
                </div>
            </div>
            <!-- ------showing debug data------ This will show transaction information below Page for test mode only----- -->
            <div class="testData">
                <apex:pageblock id="RefreshForm2" mode="maindetail"
                    rendered="{!IF(orderMode=='Test',true,false)}">
                    <apex:pageBlockSection columns="1">
                        <apex:pageBlockSectionItem >
                            <apex:outputlabel value="Transaction status" />
                            <apex:outputtext value="{!cnpxmlstring.ErrorData}" />
                        </apex:pageBlockSectionItem>

                        <apex:pageBlockSectionItem >
                            <apex:outputlabel value="Transaction Result" />
                            <apex:outputtext value="{!cnpxmlstring.TransactionResultCode}" />
                        </apex:pageBlockSectionItem>

                        <apex:pageBlockSectionItem >
                            <apex:outputlabel value="Order number" />
                            <apex:outputtext value="{!cnpxmlstring.TransactionNumber}" />
                        </apex:pageBlockSectionItem>

                        <apex:pageBlockSectionItem >
                            <apex:outputlabel value="XML File" />
                            <apex:outputtext value="{!cnpxmlstring.xmlfile}" />
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageblock>
            </div>
            <!--End Of Debug Data  -->  
         </div>
         <div id="DedicatedRequestBlock" class="hidden">
             <div class="row" id="dedicationBlock" style="margin-top:0px;" >
              <!-- Dedication Type -->
                <div class="col-lg-12 hidepopover"  id="dedicatedToLabel" data-toggle="popover" data-placement="top">
                    <apex:selectList value="{!DedicationDetails.Honor_Memorial_Type__c}" size="1" styleclass="form-control input-lg" id="dedicatedTo" >
                         <apex:selectoption itemlabel="Dedication Type" itemvalue="" />
                        <apex:selectoption itemlabel="In Honor of" itemvalue="Honor"  />
                        <apex:selectoption itemlabel="In Memory of" itemvalue="Memorial"  />
                    </apex:selectList> 
                </div> 
                <!-- Dedication Type Name Input Field -->
               <!--  <div class="col-lg-8 " id="divDedicatedName" style="display:none;" >
                    <apex:inputtext value="{!DedicatedToName}" styleClass="form-control input-lg" size="25" maxlength="40" />
                </div> -->
            </div>

            <div class="row">
                <div class="col-lg-6 hidepopover" id="InHonorNameDiv"
                    data-toggle="popover" data-placement="top">
                    <apex:inputText value="{!DedicationDetails.Honoree_Name__c}"
                        id="InHonorName" html-placeholder="Dedicated to"
                        styleClass="form-control input-lg defaultText capital" />
                </div>
                <div class="col-lg-6  hidepopover" id="PersonNotifyDiv"
                    data-toggle="popover" data-placement="top">
                    <apex:inputText value="{!DedicationDetails.Honor_Memorial_to_Notify__c}"
                        id="PersonNotify" html-placeholder="Person To Notify"
                        styleClass="form-control input-lg defaultText capital" />
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="col-lg-12" id="HTNotifyDiv">
                    <br />
                    <br />
                    <apex:outputLabel value="How To Notify" styleClass="defaultText" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div id="EmailBlock" class="visible">
                <div class="row">
                    <div class="col-lg-12 hidepopover" id="EmailDiv1"
                        data-toggle="popover" data-placement="top">
                        <apex:inputText value="{!DedicationDetails.Honor_Memorial_Email__c}"
                            html-placeholder="Email" id="Email1"
                            styleClass="form-control input-lg" />
                    </div>
                </div>
            </div>

            <div id="AddressBlock" class="hidden">
                <div class="row">
                    <div class="col-lg-12 hidepopover" id="StreetDiv"
                        data-toggle="popover" data-placement="top">
                        <apex:inputText value="{!DedicationDetails.Honor_Memorial_Street__c}"
                            html-placeholder="Street" id="Street"
                            styleClass="form-control input-lg capital" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 hidepopover" id="CityDiv"
                        data-toggle="popover" data-placement="top">
                        <apex:inputText value="{!DedicationDetails.Honor_Memorial_City__c}"
                            html-placeholder="City" id="City1"
                            styleClass="form-control input-lg capital" />
                    </div>

                    <!-- <div class="col-lg-6 hidepopover" id="StateDiv" data-toggle="popover"  data-placement="top">
            <apex:inputText value="{!DedicationDetails.Honor_Memorial_State__c}" html-placeholder="State" id="State1" styleClass="form-control input-lg Capital"/>
        </div> -->

                    <div class="col-lg-6 hidepopover" id="StateDiv"
                        data-toggle="popover" data-placement="top">

                        <apex:selectList id="State1" value="{!DedicationDetails.Honor_Memorial_State__c}"
                            multiselect="false" size="1" styleClass="form-control input-lg" >
                            <apex:selectOptions value="{!cnpxmlstring.UsStates}" />
                        </apex:selectList>

                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-6 hidepopover" id="ZipCodeDiv"
                        data-toggle="popover" data-placement="top">
                        <apex:inputText value="{!DedicationDetails.Honor_Memorial_Postal_Code__c}"
                            html-placeholder="ZipCode" id="ZipCode"
                            styleClass="form-control input-lg" />
                    </div>
                    <div class="col-lg-6 hidepopover" id="CountryDiv"
                        data-toggle="popover" data-placement="top">
                        <apex:inputText value="{!DedicationDetails.Honor_Memorial_Country__c}"
                            html-placeholder="Country" id="Country1"
                            styleClass="form-control input-lg capital" disabled="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hidepopover" id="PersonalMessageDiv"
                    data-toggle="popover" data-placement="top">
                    <apex:inputTextarea value="{!DedicationDetails.Honor_Memorial_Message__c}"
                        html-placeholder="Personal Message" id="PersonalMessage"
                        styleClass="form-control input-lg"  style="max-width:700px;"/>
                    <div id="textarea_feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="DonateBtnDiv">
                    <button type="button" value="Donate" id="submitDedication"
                        class="btn btn-info btn-block btn-lg"
                        style="font-size: x-large; font-weight: bold;"
                        onclick="if(!submitValidation('second step'))return false; startProcessing(); submitForm($('#inputProvinceCanada').val(),$('#inputProvince').val(),$('#ChkEmail').is(':checked'),$('#ChkPostLetter').is(':checked')); clearFields();">Donate</button>
                </div>
            </div>
        </div>
        
        <apex:actionFunction name="submitForm" action="{!Submit}"
            oncomplete="checkErrorData('{!cnpxmlstring.TransactionResultCode}','{!formSettings.Support_Email__c}'),processing('{!cnpxmlstring.TransactionResultCode}','{!cnpxmlstring.TransactionNumber}','{!orderMode}','{!thankYouPage}','{!cnpxmlstring.VaultGUID}'),sendEmailFunction('{!cnpxmlstring.TransactionResultCode}','{!cnpxmlstring.ErrorData}','{!cnpxmlstring.TransactionNumber}'),stopProcessing();"
            reRender="RefreshForm2">
            <apex:param name="provOtherThanUS" value="null"
                assignTo="{!provOtherThanUS}" />
            <apex:param name="provOtherThanUSCan" value="null"
                assignTo="{!provOtherThanUSCan}" />
            <apex:param name="emailNotify" value="null"
                assignTo="{!emailNotify}" />
             <apex:param name="postLetterNotify" value="null"
                assignTo="{!postLetterNotify}" />  
                   
        </apex:actionFunction>
        <!-- Action function for assinging default values to controller variables -->
        <apex:actionFunction name="sendHiddenParams" action="{!HiddenParams}"
            reRender="none">
            <apex:param name="customSKU" value="null" assignTo="{!CustomSKU}" />
            <apex:param name="customCampaign" value="null"
                assignTo="{!CustomCampaign}" />
            <apex:param name="extraHidden" value="null" assignTo="{!ExtraHidden}" />
        </apex:actionFunction>

        <!-- Action function for assigning values to controller variables for sending the eamil on failed transactions-->
        <apex:actionFunction name="sendEmailFunction" action="{!SendEmail}"
            reRender="" immediate="true">
            <apex:param name="transactionCode" value=""
                assignTo="{!transactionCode}" />
            <apex:param name="transactionResult" value=""
                assignTo="{!transactionResult}" />
            <apex:param name="transactionNumber" value=""
                assignTo="{!transactionNumber}" />
        </apex:actionFunction>

        <!-- Loading image and overlay  -->
        <div id="fade" class="processing_overlay">overlay</div>
        <div class="modal js-loading-bar" style="width: 100%; height: 100%">
            <div class="modal-dialog" style="top: 40%;">
                <div class="modal-content">
                    <div class="modal-body">
                        Thank you! One moment while we process your donation.
                        <div class="progress-popup" style="text-align: center;">
                            <apex:image value="{!URLFOR($Resource.LoadingIndicator)}"
                                title="Processing..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

</apex:form>
<!-- End OF Form -->
</apex:page>